<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-health-plus">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 100px;">
        <!--<img src="./assets/images/health-plus/logo.png" class="img-fluid" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">-->
        <h1>Health+</h1>
        <p>Health+ is the perfect partner to improve your fitness routine. Users can track their nutrition intake, workout, vitals, sleep hours, stress level and much more with this amazing fitness tracking app. It also allows the users to connect with the trusted healthcare professionals and get guidence. Keep a check on your health and interact with your personal health coach with Health+.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-5">
        <div class="column-right">
            <img src="./assets/images/health-plus/new-banner.png" class="img-fluid" alt="health-plus-mockup-portfolio-by-apponward" title="health-plus-mockup-portfolio-by-apponward">

        </div>
    </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-health-plus">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row pt-5">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-3 screen-dash screen-1">
          <img src="./assets/images/health-plus/new-app-feature.png" class="img-fluid" alt="health-plus-user-dashboard-mockup-portfolio-by-apponward" title="health-plus-user-dashboard-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5 content-dash">
          <h3>User Dashboard</h3>
          <p>Keep your fitness life on track with the Health+ dashboard. Track your check-ins, health score, to do list, all at one place.
            You can also see your overall performance and activities in the Home page in a graphical manner.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/health-plus/track-record.png" class="img-fluid" alt="health-plus-track-yourself-mockup-portfolio-by-apponward" title="health-plus-track-yourself-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6  pt-5 content-dash">
          <h3>Track Yourself</h3>
          <p>With the meals and workout tracker, you can track your meals and workout routine easily.
            Eating healthy is easy with the meals tracker. Never miss your workout a single day because Health+ will always remind you.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <img src="./assets/images/health-plus/healthy-you.png" class="img-fluid" alt="health-plus-healthy-you-mockup-portfolio-by-apponward" title="health-plus-healthy-you-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5 content-dash">
          <h3>Healthy You</h3>
          <p>Keep all of your upcoming health checkups in the smart medical exam notepad. 
            The biomarkers will help you track your sleeping time on a daily, weekly and monthly basis. 
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/health-plus/screen-4.png" class="img-fluid" alt="health-plus-find-your-healthiest-version-mockup-portfolio-by-apponward" title="health-plus-find-your-healthiest-version-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5 content-dash">
          <h3>Find Your Healthiest Version</h3>
          <p>Track your regular diet based on the health meter with the Meals Tracker.
            Share your queries and suggestions in the baseline questionnaire whenever you want.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack">
  <div class="container">
      <div class="section-title text-center">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12 col-lg-6">
          <div class="padding shadow">
            <div class="text-center">
              <h3>iOS</h3>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-3.png" alt="Technology-used-in-making-health-plus-application" title="Technology-used-in-making-health-plus-application" class="img-fluid">
                    <p>Swift</p>
                  </div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-4.png" alt="Technology-used-in-making-health-plus-application" title="Technology-used-in-making-health-plus-application" class="img-fluid">
                    <p>Xcode</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
          <div class="col-12 col-lg-6">
            <div class="padding shadow">
              <div class="text-center">
                <h3>Backend</h3>
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                      <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-health-plus-application" title="Technology-used-in-making-health-plus-application" class="img-fluid">
                      <p>Laravel</p>
                    </div>
                    <div class="col-4">
                      <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-health-plus-application" title="Technology-used-in-making-health-plus-application" class="img-fluid">
                      <p>Php</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-health-plus">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <p>Give your health that extra "Plus" it has always been looking for. Download the app today and start your Health+ journey.</p>
              <button class="btn"><a href="https://apps.apple.com/in/app/health-maximize-your-health/id1547834390" target="blank" style="color: #fff;"><i class='bx bxl-apple'></i> <span class="d-inline-block text-left" > <small class="d-block">Available on the</small> App Store </span></a> </button>
          </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>