<section class="our-services">
    <div class="container">
        <div class="section-title">
            <h2>Our Services</h2>
            <hr class="center-ball" />
            <p>
                Your one stop destination for all your developmental and marketing needs. We strive to go beyond to just meet the customer expectations by consistently focusing on and achieving the things they value.
            </p>
        </div>
        <div class="row mt-5">
            <div class="card-deck">
                <div class="card">
                    <a routerLink="/services/mobile-app-development">
                        <div class="card-body text-center">
                            <!-- <img  src="./assets/images/services-icon-1.png"> -->

                            <svg width="85" style="background: #fff; border-radius: 50%" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle
                  opacity="0.15"
                  cx="42.5003"
                  cy="42.1839"
                  r="42.0316"
                  fill="#3473B0"
                />
                <g filter="url(#filter0_f_5108:7667)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.6188 23.1992H56.519C57.4475 23.1992 58.2002 23.9519 58.2002 24.8805V65.2308C58.2002 66.1593 57.4475 66.912 56.519 66.912H29.6188C28.6902 66.912 27.9375 66.1593 27.9375 65.2308V24.8805C27.9375 23.9519 28.6902 23.1992 29.6188 23.1992Z"
                    fill="#3473B0"
                    fill-opacity="0.49888"
                  />
                </g>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M29.6188 17.9609H56.519C57.4475 17.9609 58.2002 18.7459 58.2002 19.7143V61.7951C58.2002 62.7635 57.4475 63.5485 56.519 63.5485H29.6188C28.6902 63.5485 27.9375 62.7635 27.9375 61.7951V19.7143C27.9375 18.7459 28.6902 17.9609 29.6188 17.9609Z"
                  fill="#3473B0"
                />
                <path
                  d="M43.0688 58.7684C44.4616 58.7684 45.5907 57.6393 45.5907 56.2465C45.5907 54.8537 44.4616 53.7246 43.0688 53.7246C41.676 53.7246 40.5469 54.8537 40.5469 56.2465C40.5469 57.6393 41.676 58.7684 43.0688 58.7684Z"
                  fill="white"
                />
                <g clip-path="url(#clip0_5108:7667)">
                  <path
                    d="M52.3896 29.4273C52.526 29.4273 52.6569 29.3731 52.7534 29.2766C52.8499 29.1801 52.9041 29.0492 52.9041 28.9128C52.9041 28.7763 52.8499 28.6454 52.7534 28.5489C52.6569 28.4524 52.526 28.3982 52.3896 28.3982H52.3804C52.3153 28.3982 52.2508 28.4116 52.1911 28.4375C52.1314 28.4635 52.0777 28.5016 52.0334 28.5493C51.9399 28.6472 51.8878 28.7774 51.8878 28.9128C51.8878 29.0481 51.9399 29.1783 52.0334 29.2762C52.1204 29.3696 52.244 29.4282 52.3813 29.4282H52.3914H52.3905L52.3896 29.4273ZM57.9627 29.4273H57.9718C58.1091 29.4273 58.2327 29.3687 58.3188 29.2762C58.4123 29.1783 58.4644 29.0481 58.4644 28.9128C58.4644 28.7774 58.4123 28.6472 58.3188 28.5493C58.2744 28.5013 58.2206 28.4631 58.1607 28.4369C58.1009 28.4108 58.0362 28.3973 57.9709 28.3973H57.9608H57.9617C57.8253 28.3973 57.6944 28.4515 57.5979 28.548C57.5014 28.6445 57.4472 28.7754 57.4472 28.9118C57.4472 29.0483 57.5014 29.1792 57.5979 29.2757C57.6944 29.3722 57.8253 29.4264 57.9617 29.4264L57.9627 29.4273ZM47.2404 31.8572C47.9829 31.8609 48.5844 32.4615 48.5872 33.204V38.9081C48.5872 39.2743 48.4379 39.6067 48.1971 39.8465C48.0768 39.9721 47.9322 40.072 47.7722 40.1401C47.6121 40.2082 47.4399 40.2432 47.266 40.243H47.2376H47.2394H47.2321C46.8732 40.243 46.529 40.1004 46.2753 39.8466C46.0215 39.5929 45.8789 39.2487 45.8789 38.8898V33.204V33.1848C45.8789 32.8186 46.0309 32.4881 46.2753 32.2519C46.5134 32.0083 46.8458 31.8572 47.2138 31.8572H47.2404H47.2394H47.2404ZM61.2377 32.1081V40.9297C61.2377 41.3224 61.0756 41.6786 60.8147 41.9331C60.6855 42.0671 60.5306 42.1736 60.3593 42.2463C60.1879 42.3189 60.0037 42.3563 59.8176 42.3561H59.7965H59.7975H58.8068V45.3537C58.8068 45.7146 58.6635 46.0606 58.4083 46.3158C58.1532 46.5709 57.8071 46.7143 57.4463 46.7143C57.0854 46.7143 56.7394 46.5709 56.4842 46.3158C56.2291 46.0606 56.0857 45.7146 56.0857 45.3537V42.3561H54.2637V45.361C54.2637 46.1082 53.6576 46.7143 52.9105 46.7143H52.884C52.5177 46.7143 52.1872 46.5623 51.951 46.3178C51.8254 46.1957 51.7257 46.0497 51.6576 45.8883C51.5895 45.7269 51.5544 45.5536 51.5546 45.3784V45.3528V45.3537L51.5417 42.3561H50.5566C49.76 42.3561 49.1136 41.7097 49.1136 40.9132V40.9031V40.904V32.109L61.2377 32.1081ZM58.1742 26.7612C59.0845 27.2223 59.8585 27.9136 60.4191 28.7663L60.4329 28.7882C60.963 29.5811 61.2779 30.5571 61.2779 31.6055V31.6348V31.6329H49.0624V31.6045C49.0624 30.5553 49.3782 29.5802 49.9193 28.7681L49.9074 28.7864C50.4643 27.9315 51.2359 27.2379 52.1451 26.7749L52.1781 26.7593L51.2405 25.0289C51.2246 25.0082 51.2136 24.9843 51.2082 24.9588C51.2028 24.9333 51.2032 24.907 51.2093 24.8817C51.2155 24.8564 51.2272 24.8328 51.2437 24.8126C51.2602 24.7924 51.281 24.7762 51.3046 24.7652H51.3055C51.3276 24.7512 51.3523 24.742 51.3782 24.7384C51.4041 24.7347 51.4304 24.7366 51.4555 24.744C51.4806 24.7514 51.5037 24.764 51.5235 24.7811C51.5433 24.7982 51.5592 24.8193 51.5701 24.843L51.571 24.8439L52.5232 26.5872C53.3051 26.2365 54.217 26.0324 55.1775 26.0324C56.1379 26.0324 57.0498 26.2365 57.8738 26.6037L57.8317 26.5872L58.7839 24.8439C58.7948 24.82 58.8106 24.7987 58.8304 24.7814C58.8502 24.7642 58.8735 24.7514 58.8987 24.7439C58.9239 24.7364 58.9504 24.7345 58.9764 24.7381C59.0024 24.7418 59.0273 24.751 59.0494 24.7652H59.0485C59.0724 24.776 59.0935 24.7921 59.1103 24.8123C59.1271 24.8324 59.1391 24.8561 59.1455 24.8816C59.1518 24.907 59.1523 24.9336 59.1469 24.9592C59.1416 24.9849 59.1305 25.009 59.1144 25.0298L58.1742 26.7612ZM64.4733 33.2068V38.8925C64.4733 39.6396 63.8672 40.2457 63.1201 40.2457H63.0935C62.7273 40.2457 62.3968 40.0937 62.1606 39.8493C62.035 39.7272 61.9352 39.5811 61.8671 39.4198C61.799 39.2584 61.764 39.085 61.7641 38.9099V38.8843V38.8852V33.2068V33.1802C61.7641 32.8149 61.9161 32.4844 62.1606 32.25C62.282 32.1263 62.4269 32.0281 62.5868 31.9611C62.7467 31.8942 62.9184 31.8598 63.0917 31.86H63.1137H63.1128H63.1384C63.5046 31.86 63.837 32.0092 64.0769 32.25C64.3213 32.4853 64.4733 32.8149 64.4733 33.1812V33.2059V33.205V33.2068Z"
                    fill="white"
                  />
                </g>
                <path
                  d="M31.8036 45.6008C31.7944 44.0278 32.5071 42.8422 33.9464 41.968C33.1414 40.8148 31.9235 40.1805 30.3182 40.0582C28.7982 39.9383 27.1352 40.9439 26.5262 40.9439C25.8827 40.9439 24.4112 40.0997 23.2533 40.0997C20.8637 40.1366 18.3242 42.0049 18.3242 45.8061C18.3242 46.9294 18.5295 48.0896 18.9401 49.2843C19.489 50.8574 21.468 54.7116 23.5324 54.6493C24.6118 54.624 25.3753 53.8836 26.78 53.8836C28.1431 53.8836 28.8489 54.6493 30.0529 54.6493C32.1357 54.6193 33.9256 51.1157 34.4469 49.5381C31.6537 48.221 31.8036 45.6815 31.8036 45.6008ZM29.3794 38.5659C30.5488 37.1774 30.4427 35.9134 30.4081 35.459C29.3748 35.519 28.18 36.1625 27.4996 36.9536C26.75 37.8024 26.3094 38.8519 26.404 40.0351C27.5204 40.1205 28.5398 39.5462 29.3794 38.5659Z"
                  fill="white"
                />
                <defs>
                  <filter
                    id="filter0_f_5108:7667"
                    x="24.575"
                    y="19.8367"
                    width="36.9868"
                    height="50.4379"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="1.68126"
                      result="effect1_foregroundBlur_5108:7667"
                    />
                  </filter>
                  <clipPath id="clip0_5108:7667">
                    <rect
                      width="19.9692"
                      height="23.963"
                      fill="white"
                      transform="translate(45.0352 23.7422)"
                    />
                  </clipPath>
                </defs>
              </svg>

                            <h5 class="card-title pt-3">
                                <a routerLink="/services/mobile-app-development">Mobile Application Development</a
                >
              </h5>
            </div></a
          >
        </div>
        <div class="card">
          <a routerLink="/services/web-application-services">
            <div class="card-body text-center">
              <!-- <img  src="./assets/images/services-icon-2.png"> -->

              <svg
                width="85"
                height="85"
                style="background: #fff; border-radius: 50%"
                viewBox="0 0 85 85"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  opacity="0.15"
                  cx="42.5"
                  cy="42.1836"
                  r="42"
                  fill="#28B18D"
                />
                <g filter="url(#filter0_f_5108:7698)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.1839 62.807C15.2561 62.807 14.5039 62.0549 14.5039 61.127V59.447C14.5039 58.5192 15.2561 57.767 16.1839 57.767H17.8639V30.887C17.8639 29.9592 18.6161 29.207 19.5439 29.207H66.5839C67.5117 29.207 68.2639 29.9592 68.2639 30.887V57.767H69.9439C70.8717 57.767 71.6239 58.5192 71.6239 59.447V61.127C71.6239 62.0549 70.8717 62.807 69.9439 62.807H16.1839Z"
                    fill="#28B18D"
                    fill-opacity="0.502786"
                  />
                </g>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.555 25.8477H66.595C67.5228 25.8477 68.275 26.5998 68.275 27.5277V57.7677C68.275 58.6955 67.5228 59.4477 66.595 59.4477H19.555C18.6272 59.4477 17.875 58.6955 17.875 57.7677V27.5277C17.875 26.5998 18.6272 25.8477 19.555 25.8477Z"
                  fill="#28B18D"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.1839 54.4102H69.9439C70.8717 54.4102 71.6239 55.1623 71.6239 56.0902V57.7702C71.6239 58.698 70.8717 59.4502 69.9439 59.4502H16.1839C15.2561 59.4502 14.5039 58.698 14.5039 57.7702V56.0902C14.5039 55.1623 15.2561 54.4102 16.1839 54.4102Z"
                  fill="#28B18D"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M45.1243 31.5828C45.3018 31.6419 45.466 31.7354 45.6075 31.8579C45.7489 31.9805 45.8648 32.1297 45.9485 32.2971C46.0323 32.4644 46.0822 32.6466 46.0955 32.8333C46.1088 33.02 46.0852 33.2074 46.0261 33.3849L40.3277 50.48C40.2083 50.8386 39.9514 51.135 39.6134 51.3042C39.2754 51.4733 38.8841 51.5012 38.5256 51.3818C38.167 51.2624 37.8706 51.0055 37.7015 50.6675C37.5323 50.3296 37.5044 49.9383 37.6238 49.5797L43.3222 32.4846C43.3813 32.307 43.4747 32.1429 43.5973 32.0014C43.7198 31.86 43.8691 31.7441 44.0364 31.6604C44.2038 31.5766 44.386 31.5267 44.5726 31.5134C44.7593 31.5001 44.9467 31.5237 45.1243 31.5828ZM35.7092 36.2014C35.9762 36.4685 36.1263 36.8308 36.1263 37.2085C36.1263 37.5863 35.9762 37.9486 35.7092 38.2157L32.4426 41.4823L35.7092 44.7489C35.8452 44.8803 35.9537 45.0375 36.0284 45.2113C36.1031 45.3851 36.1424 45.5721 36.144 45.7612C36.1457 45.9504 36.1096 46.138 36.038 46.313C35.9664 46.4881 35.8606 46.6472 35.7268 46.7809C35.5931 46.9147 35.434 47.0205 35.2589 47.0921C35.0838 47.1637 34.8963 47.1998 34.7071 47.1981C34.5179 47.1965 34.331 47.1572 34.1572 47.0825C33.9834 47.0079 33.8262 46.8993 33.6948 46.7633L29.421 42.4895C29.1539 42.2224 29.0039 41.8601 29.0039 41.4823C29.0039 41.1046 29.1539 40.7423 29.421 40.4751L33.6948 36.2014C33.9619 35.9343 34.3242 35.7843 34.702 35.7843C35.0797 35.7843 35.442 35.9343 35.7092 36.2014ZM47.9407 36.2014C48.2079 35.9343 48.5701 35.7843 48.9479 35.7843C49.3256 35.7843 49.6879 35.9343 49.9551 36.2014L54.2289 40.4751C54.4959 40.7423 54.646 41.1046 54.646 41.4823C54.646 41.8601 54.4959 42.2224 54.2289 42.4895L49.9551 46.7633C49.8237 46.8993 49.6665 47.0079 49.4927 47.0825C49.3189 47.1572 49.1319 47.1965 48.9428 47.1981C48.7536 47.1998 48.566 47.1637 48.3909 47.0921C48.2159 47.0205 48.0568 46.9147 47.923 46.7809C47.7893 46.6472 47.6835 46.4881 47.6119 46.313C47.5402 46.138 47.5042 45.9504 47.5058 45.7612C47.5075 45.5721 47.5468 45.3851 47.6214 45.2113C47.6961 45.0375 47.8046 44.8803 47.9407 44.7489L51.2073 41.4823L47.9407 38.2157C47.6736 37.9486 47.5236 37.5863 47.5236 37.2085C47.5236 36.8308 47.6736 36.4685 47.9407 36.2014Z"
                  fill="white"
                />
                <defs>
                  <filter
                    id="filter0_f_5108:7698"
                    x="11.1736"
                    y="25.8767"
                    width="63.7817"
                    height="40.2603"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="1.66516"
                      result="effect1_foregroundBlur_5108:7698"
                    />
                  </filter>
                </defs>
              </svg>

              <h5 class="card-title pt-3">
                <a routerLink="/services/web-application-services"
                  >Web Application Development</a
                >
              </h5>
            </div></a
          >
        </div>
        <div class="card">
          <a routerLink="/services/ui-ux-services">
            <div class="card-body text-center">
              <!-- <img  src="./assets/images/services-icon-3.png"> -->

              <svg
                width="87"
                height="86"
                viewBox="0 0 87 86"
                style="background: #fff; border-radius: 50%"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  opacity="0.15"
                  cx="43.5002"
                  cy="43.1838"
                  r="42.715"
                  fill="#EE3F23"
                />
                <g filter="url(#filter0_f_5108:7708)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.5589 61.7061C15.6289 61.7061 14.875 60.9522 14.875 60.0222V58.3382C14.875 57.4082 15.6289 56.6543 16.5589 56.6543H18.2429V29.7113C18.2429 28.7813 18.9968 28.0273 19.9268 28.0273H67.0771C68.0071 28.0273 68.7611 28.7813 68.7611 29.7113V56.6543H70.445C71.375 56.6543 72.1289 57.4082 72.1289 58.3382V60.0222C72.1289 60.9522 71.375 61.7061 70.445 61.7061H16.5589Z"
                    fill="#EE3F23"
                    fill-opacity="0.502786"
                  />
                </g>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.9339 24.6602H67.0842C68.0142 24.6602 68.7682 25.4141 68.7682 26.3441V56.655C68.7682 57.585 68.0142 58.3389 67.0842 58.3389H19.9339C19.0039 58.3389 18.25 57.585 18.25 56.655V26.3441C18.25 25.4141 19.0039 24.6602 19.9339 24.6602Z"
                  fill="#EE3F23"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.5589 53.2891H70.445C71.375 53.2891 72.1289 54.043 72.1289 54.973V56.6569C72.1289 57.587 71.375 58.3409 70.445 58.3409H16.5589C15.6289 58.3409 14.875 57.587 14.875 56.6569V54.973C14.875 54.043 15.6289 53.2891 16.5589 53.2891Z"
                  fill="#EE3F23"
                />
                <g clip-path="url(#clip0_5108:7708)">
                  <path
                    d="M46.8445 43.3781C47.1913 43.2801 47.509 43.0987 47.7697 42.8497C48.0305 42.6008 48.2263 42.2919 48.3403 41.9499L51.5625 32.2838L51.0551 31.7764L45.8705 36.9611C45.9737 37.1773 46.0362 37.4163 46.0362 37.6719C46.0362 38.5875 45.294 39.3298 44.3784 39.3298C43.4627 39.3298 42.7205 38.5875 42.7205 37.6719C42.7205 36.7563 43.4627 36.014 44.3784 36.014C44.6339 36.014 44.873 36.0765 45.0892 36.1798L50.2738 30.9951L49.7665 30.4878L40.1003 33.7099C39.7584 33.8239 39.4494 34.0198 39.2005 34.2805C38.9516 34.5413 38.7702 34.8589 38.6722 35.2058L37.1942 40.435L41.6152 44.856L46.8445 43.3781ZM34.3641 45.61L36.4402 47.6862C37.0878 48.3338 38.1382 48.3338 38.7858 47.6862L40.739 45.733L36.3173 41.3113L34.3641 43.2645C33.7165 43.9121 33.7165 44.9621 34.3641 45.61Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_f_5108:7708"
                    x="11.5464"
                    y="24.6988"
                    width="63.9111"
                    height="40.3369"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="1.66429"
                      result="effect1_foregroundBlur_5108:7708"
                    />
                  </filter>
                  <clipPath id="clip0_5108:7708">
                    <rect
                      width="19.4703"
                      height="19.4703"
                      fill="white"
                      transform="translate(52.457 48.1719) rotate(-180)"
                    />
                  </clipPath>
                </defs>
              </svg>

              <h5 class="card-title pt-3">
                <a routerLink="/services/ui-ux-services">UI/UX Designs</a>
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a routerLink="/services/cloud-services">
                        <div class="card-body text-center">
                            <!-- <img src="./assets/images/services-icon-4.png" /> -->

                            <svg width="85" height="85" style="background: #fff; border-radius: 50%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle
                  opacity="0.15"
                  cx="42.5"
                  cy="42.1836"
                  r="42"
                  fill="#F89F1A"
                />
                <g filter="url(#filter0_f_5108:7717)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.2191 22.9941H56.0991C57.0269 22.9941 57.7791 23.7463 57.7791 24.6741V64.9941C57.7791 65.922 57.0269 66.6741 56.0991 66.6741H29.2191C28.2912 66.6741 27.5391 65.922 27.5391 64.9941V24.6741C27.5391 23.7463 28.2912 22.9941 29.2191 22.9941Z"
                    fill="#F89F1A"
                    fill-opacity="0.45"
                  />
                </g>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M29.2191 19.6367H56.0991C57.0269 19.6367 57.7791 20.3889 57.7791 21.3167V61.6367C57.7791 62.5646 57.0269 63.3167 56.0991 63.3167H29.2191C28.2912 63.3167 27.5391 62.5646 27.5391 61.6367V21.3167C27.5391 20.3889 28.2912 19.6367 29.2191 19.6367Z"
                  fill="#F89F1A"
                />
                <path
                  d="M42.6567 59.956C44.0485 59.956 45.1767 58.8278 45.1767 57.436C45.1767 56.0443 44.0485 54.916 42.6567 54.916C41.265 54.916 40.1367 56.0443 40.1367 57.436C40.1367 58.8278 41.265 59.956 42.6567 59.956Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.5013 33.1382C20.1307 32.4261 20.9292 31.968 21.8959 31.7637C21.5883 31.3344 21.435 30.8644 21.435 30.3535C21.435 29.6312 21.7161 29.0147 22.278 28.5037C22.84 27.9928 23.5182 27.7373 24.3126 27.7373C25.0321 27.7373 25.6542 27.9485 26.1786 28.3709C26.6206 27.4035 27.3234 26.62 28.2863 26.0204C29.2494 25.421 30.323 25.1211 31.5071 25.1211C33.0959 25.1211 34.4524 25.6322 35.5766 26.6542C36.7008 27.6759 37.2628 28.9092 37.2628 30.3536C37.2628 30.4558 37.2553 30.6022 37.2403 30.7929C38.1096 31.1609 38.8104 31.7178 39.3425 32.4641C39.8745 33.2099 40.1406 34.0327 40.1406 34.932C40.1406 36.1924 39.6478 37.2706 38.6624 38.1664C37.6769 39.0624 36.4909 39.5104 35.1044 39.5104H22.8734C21.6819 39.5104 20.6646 39.1269 19.8214 38.3607C18.9783 37.5942 18.5566 36.6694 18.5566 35.586C18.5566 34.6663 18.8717 33.8501 19.5013 33.1382Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M62.3342 46.0549C61.9132 45.5787 61.3792 45.2724 60.7328 45.1357C60.9384 44.8486 61.041 44.5343 61.041 44.1926C61.041 43.7096 60.853 43.2973 60.4772 42.9555C60.1014 42.6139 59.6478 42.443 59.1165 42.443C58.6354 42.443 58.2193 42.5842 57.8686 42.8668C57.573 42.2198 57.103 41.6958 56.4591 41.2948C55.815 40.8939 55.097 40.6934 54.305 40.6934C53.2426 40.6934 52.3353 41.0352 51.5835 41.7186C50.8317 42.4019 50.4558 43.2267 50.4558 44.1927C50.4558 44.261 50.4609 44.3589 50.4709 44.4865C49.8895 44.7326 49.4209 45.105 49.065 45.6041C48.7092 46.1029 48.5312 46.6532 48.5312 47.2546C48.5312 48.0975 48.8609 48.8186 49.5199 49.4176C50.1789 50.0169 50.9721 50.3165 51.8993 50.3165H60.079C60.8758 50.3165 61.5562 50.06 62.1201 49.5476C62.684 49.035 62.9659 48.4165 62.9659 47.692C62.9659 47.0769 62.7552 46.531 62.3342 46.0549Z"
                  fill="white"
                />
                <defs>
                  <filter
                    id="filter0_f_5108:7717"
                    x="24.1685"
                    y="19.6236"
                    width="36.9794"
                    height="50.4208"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="1.68529"
                      result="effect1_foregroundBlur_5108:7717"
                    />
                  </filter>
                </defs>
              </svg>

                            <h5 class="card-title pt-3">
                                <a routerLink="/services/cloud-services">Cloud Services</a>
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a routerLink="/services/digital-marketing-services" style="display: block">
                        <div class="card-body text-center">
                            <!-- <img src="./assets/images/services-icon-5.png" /> -->

                            <svg width="85" height="85" style="background: #fff; border-radius: 50%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle
                  opacity="0.15"
                  cx="42.5"
                  cy="42.1836"
                  r="42"
                  fill="#3473B0"
                />
                <g filter="url(#filter0_f_5108:7725)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.6253 61.5648C14.6975 61.5648 13.9453 60.8127 13.9453 59.8848V58.2048C13.9453 57.277 14.6975 56.5248 15.6253 56.5248H17.3053V29.6448C17.3053 28.717 18.0575 27.9648 18.9853 27.9648H66.0253C66.9531 27.9648 67.7053 28.717 67.7053 29.6448V56.5248H69.3853C70.3131 56.5248 71.0653 57.277 71.0653 58.2048V59.8848C71.0653 60.8127 70.3131 61.5648 69.3853 61.5648H15.6253Z"
                    fill="#3473B0"
                    fill-opacity="0.502786"
                  />
                </g>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.9925 24.6055H66.0325C66.9603 24.6055 67.7125 25.3576 67.7125 26.2855V56.5255C67.7125 57.4533 66.9603 58.2055 66.0325 58.2055H18.9925C18.0647 58.2055 17.3125 57.4533 17.3125 56.5255V26.2855C17.3125 25.3576 18.0647 24.6055 18.9925 24.6055Z"
                  fill="#3473B0"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.6253 53.168H69.3853C70.3131 53.168 71.0653 53.9201 71.0653 54.848V56.528C71.0653 57.4558 70.3131 58.208 69.3853 58.208H15.6253C14.6975 58.208 13.9453 57.4558 13.9453 56.528V54.848C13.9453 53.9201 14.6975 53.168 15.6253 53.168Z"
                  fill="#3473B0"
                />
                <g clip-path="url(#clip0_5108:7725)">
                  <path
                    d="M51.8011 30.4632C51.9241 30.5683 52.0003 30.7179 52.013 30.8792C52.0257 31.0405 51.9738 31.2002 51.8687 31.3232L50.6138 32.7885C50.5086 32.9116 50.3587 32.9878 50.1972 33.0004C50.0357 33.013 49.8758 32.9609 49.7527 32.8556C49.6296 32.7503 49.5534 32.6004 49.5408 32.439C49.5282 32.2775 49.5803 32.1176 49.6856 31.9945L50.9404 30.5292C50.9926 30.4683 51.0562 30.4183 51.1277 30.3821C51.1992 30.3458 51.2771 30.324 51.3571 30.3178C51.437 30.3117 51.5174 30.3214 51.5936 30.3463C51.6697 30.3713 51.7403 30.411 51.8011 30.4632ZM55.1385 34.2292C55.2124 34.198 55.2795 34.1526 55.3358 34.0956C55.3922 34.0385 55.4368 33.9709 55.467 33.8966C55.4972 33.8223 55.5125 33.7428 55.512 33.6625C55.5115 33.5823 55.4952 33.503 55.4641 33.4291C55.4329 33.3552 55.3875 33.2881 55.3304 33.2318C55.2734 33.1754 55.2058 33.1308 55.1315 33.1006C55.0572 33.0703 54.9776 33.055 54.8974 33.0555C54.8172 33.056 54.7379 33.0723 54.664 33.1035L51.484 34.444C51.4101 34.4751 51.3431 34.5204 51.2867 34.5774C51.2303 34.6344 51.1857 34.7019 51.1555 34.7762C51.0944 34.9261 51.0953 35.0941 51.1581 35.2433C51.2208 35.3925 51.3403 35.5107 51.4902 35.5718C51.6401 35.6329 51.8082 35.632 51.9574 35.5692L55.1374 34.2287L55.1385 34.2292ZM43.4233 29.8453C43.7161 29.5776 44.0698 29.3853 44.4537 29.2852C44.8376 29.185 45.2401 29.1799 45.6264 29.2704C46.0127 29.3609 46.3711 29.5442 46.6706 29.8045C46.97 30.0648 47.2015 30.3942 47.3449 30.7641L51.5791 41.6815C51.7204 42.0457 51.7722 42.4386 51.7301 42.8271C51.688 43.2155 51.5532 43.5882 51.3371 43.9137C51.121 44.2392 50.8298 44.5081 50.4882 44.6977C50.1466 44.8873 49.7644 44.992 49.3738 45.0032L44.1262 45.1546C44.0518 45.8099 43.8268 46.4391 43.4687 46.993C43.1107 47.5469 42.6293 48.0105 42.0623 48.3474C41.4953 48.6843 40.8581 48.8855 40.2004 48.9352C39.5427 48.9849 38.8825 48.8818 38.2713 48.6338C37.5979 48.3602 37.0055 47.9191 36.5503 47.3524C36.0951 46.7856 35.7922 46.112 35.6703 45.3954L34.0714 45.4402C33.7039 45.4508 33.3418 45.3505 33.0322 45.1524C32.7225 44.9543 32.4798 44.6675 32.3354 44.3295L31.5113 42.3989C31.3623 42.05 31.3253 41.6633 31.4057 41.2925C31.486 40.9216 31.6797 40.5849 31.9598 40.3289L43.4228 29.8465L43.4233 29.8453ZM36.9076 45.3588C37.0648 46.0469 37.4557 46.6592 38.0138 47.0913C38.5719 47.5234 39.2626 47.7486 39.9681 47.7285C40.6736 47.7084 41.3503 47.4442 41.8829 46.9811C42.4155 46.5179 42.7709 45.8844 42.8887 45.1885L36.9076 45.3588ZM52.7255 37.3914C52.5756 37.3304 52.4077 37.3314 52.2586 37.3943C52.1095 37.4571 51.9915 37.5766 51.9305 37.7265C51.8695 37.8763 51.8706 38.0443 51.9334 38.1934C51.9963 38.3425 52.1158 38.4605 52.2656 38.5215L53.9608 39.2113C54.1107 39.2723 54.2786 39.2712 54.4277 39.2084C54.5768 39.1455 54.6948 39.026 54.7558 38.8762C54.8168 38.7263 54.8157 38.5583 54.7529 38.4093C54.69 38.2602 54.5705 38.1422 54.4207 38.0812L52.7255 37.3914Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_f_5108:7725"
                    x="10.5692"
                    y="24.5887"
                    width="63.8733"
                    height="40.3518"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="1.68806"
                      result="effect1_foregroundBlur_5108:7725"
                    />
                  </filter>
                  <clipPath id="clip0_5108:7725">
                    <rect
                      width="24.402"
                      height="24.402"
                      fill="white"
                      transform="translate(36.2695 22.7988) rotate(22.1425)"
                    />
                  </clipPath>
                </defs>
              </svg>

                            <h5 class="card-title pt-3">
                                <a routerLink="/services/digital-marketing-services">Digital Marketing</a
                >
              </h5>
            </div></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="service-shape">
    <img [lazyLoad]="'./assets/images/animate-round-ball.png'" />
  </div>
  <div class="service-shape1">
    <img [lazyLoad]="'./assets/images/animate-cross-icon.png'" />
  </div>
</section>