.card:hover {
  background-image: linear-gradient(to right, #3473af, #29a393);
}
.card:hover .card-body .card-title  a{
  color: #fff;
}
.card:hover .card-body img{
    background:#fff;
    border-radius: 50%;
}