<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="androidpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Mobile Application Development</h1>
                <h4>Develop featured mobile apps using native and cross-platform frameworks.</h4>
                <p class="pt-2">With the spike in the usage of smartphones or tablets to access the Internet, Mobile app development offers a <strong class="main-text"> unique opportunity</strong> to reach larger <strong class="main-text">prospective customers</strong>.
                    Accelerate your company's productivity with the help of our experienced mobile app development services. </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/banner/banner-new/Services(Android Application).png" class="img-fluid" alt="mobile-app-development-services-image-apponward" title="mobile-app-development-services-image-apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>We put our ideas on the development pathway</h2>
                    <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Android App Development</h3>
                    <p>Amplify the growth of your business with the best android applications.<br> A business's growth can be aided with smart Android apps. It has the potential to establish the foundation for any company's success.<br> Our android app development
                        services will assist your company reach out to more clients, increase sales, boost brand awareness, and build a loyal customer base.
                    </p>
                    <a routerLink="/services/android-application-services" class="new-btn"> Read More</a>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
                <img src="./assets/images/mobile-app/Android-App-development.png" class="img-fluid" alt="android-app-development-services-image-apponward" title="android-app-development-services-image-apponward">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>iOS App Development</h3>
                    <p>iOS application development offers a safe environment to perform secure transactions.<br> iOS apps provide a high-end security layer while also delivering high quality and income generation for your business. <br> Our iOS apps are
                        built with ultra-secure technologies that shield the operating system from vulnerabilities such as hacking and phishing. It not only helps you to promote your business but also enhances productivity and revenue by reaching out
                        to the target audience.<br>
                    </p>
                    <a routerLink="/services/mobile-app-development-with-react" class="new-btn"> Read More</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
                <img src="./assets/images/mobile-app/ios-app-development.png" class="img-fluid" alt="ios-app-development-services-image-apponward" title="ios-app-development-services-image-apponward">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Mobile App Development with Flutter</h3>
                    <p>Being an open-source platform, Flutter enables developers to create highly effective and flexible hybrid apps. As they are built on a single codebase, these apps perform consistently well across both iOS and Android platforms.<br>                        Explore all of the benefits that Flutter app development can offer to your business with our extraordinary mobile application development services.
                    </p>
                    <a routerLink="/services/mobile-apps-with-flutter" class="new-btn"> Read More</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5  order-sm-first order-md-firs torder-lg-first">
                <img src="./assets/images/mobile-app/futter-app-development.png" class="img-fluid" alt="mobile-app-development-with-flutter-services-image-apponward" title="mobile-app-development-with-flutter-services-image-apponward">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Mobile App Development with React</h3>
                    <p>React is an ideal ally for your mobile applications. It delivers a sleek, fluid, and dynamic user experience while decreasing load time substantially. <br> It's swift and less expensive to develop apps with React without compromising
                        on the performance and features of the apps.<br> With our flexible React mobile app services, we develop apps that bring quality to your business and increase productivity by utilising cutting-edge technologies.
                    </p>
                    <a routerLink="/services/mobile-app-development-with-react" class="new-btn"> Read More</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
                <img src="./assets/images/mobile-app/App-development-React-native.png" class="img-fluid" alt="mobile-app-development-with-react-services-image-apponward" title="mobile-app-development-with-react-services-image-apponward">
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why digital section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Mobile Application Development?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 pt-5">
                <p>Mobile applications empower your business. Mobile application development increases efficiency, reduces expenses, improves sales, or boosts brand awareness. They enable immediate and real-time information processing. It is an effective
                    means of communication between businesses and their clients.<br><br> Mobile applications definitely provide substantial benefits.
                </p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/mobile-app/why-mobile-app.png" class="img-fluid" alt="why-mobile-app-development-company" title="why-mobile-app-development-company">
            </div>
        </div>
    </div>
</section>
<!--why digital sectione end-->
<!--faq section starts-->
<section class="faq">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <div class="section-title">
            <h2>Frequently Asked Questions (FAQs)</h2>
            <hr>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How do I start mobile app development?
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    1. Create a roadmap for the app.<br>
                    2. Conduct competitive market analysis.<br>
                    3. Create a list of the app features.<br>
                    4. Mock out the app designs.<br>
                    5. Create the visual design for app.<br>
                    6. Put the marketing plan together.<br>
                    7. Build app and upload it to the App/Play store.<br>
                    8. Maintain the app throughout its lifecycle.<br>
                    Alternatively, you can simply share your idea and requirements with us, and we'll take care of the rest. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What does a mobile app development company do? 
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    A mobile app development company offers a variety of mobile app development services, including iOS and Android app development, cross-platform app development, user experience design, and incorporating innovative mobile interfaces like chat and voice. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What are the different types of mobile apps? 
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    There are three major types of mobile apps:<br>
                    1. Native applications<br>
                    2. Web-based mobile apps<br>
                    3. Hybrid apps<br>
                    
                    Hybrid mobile applications integrate native and web-based app features. Native apps covers the Android, iOS and Windows.
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What does your app development process look like? 
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        The apps are developed using AGILE scrum methodology. We follow the most adaptable methodology which is suitable for both the client and the project. From requirement gathering to app maintenance, we assist our client throughout the process. 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Why should I hire you for mobile app development?                     </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Apponward is one of the leading mobile app development businesses, with over three years of expertise. We've delivered 75+ mobile applications and digital transformation solutions to several enterprises across the world.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        I want to keep my Android app idea confidential. Will you sign<br> an NDA with me?                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes. We abide by all IT regulations and agree to sign an NDA.
                    </div>
                </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center" style="margin-top:60px;">
          <img src="./assets/images/faq.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!--faq section end-->
<!-- ======= portfolio ======= -->
<section class="portfolios mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Best Mobile Apps</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-health-plus">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h3><a routerLink="/portfolio/health-plus">Health+</a></h3>
                    <div class="py-1">
                        <span class="tag healt-plus-tag">Healthcare</span>
                    </div>
                    <p>Health+ is the perfect partner to improve your fitness routine. Users can track their nutrition intake, workout, vitals, sleep hours, stress level and much more with this amazing fitness tracking app. It also allows the users to connect
                        with the trusted healthcare professionals and get guidence. Keep a check on your health and interact with your personal health coach with Health+.
                    </p>
                    <a routerLink="/portfolio/health-plus" class="btn btn-light dn2 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://apps.apple.com/in/app/health-maximize-your-health/id1547834390" target="_blank"> <button
                class="btn btn-download dn2 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

            <!-- <button class="btn btn-download dn1 mb-5 mx-2" title="Apple Store">
              <i class=" fab fa-apple fa-2x"></i>
            </button> -->

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (2).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-meri-navigation">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/meri-navigation">Meri Navigation</a></h3>
                    <div class="py-1">
                        <span class="tag meri-navigation-tag">GPS Navigation</span>
                    </div>
                    <p>Meri Navigation is an Android application that offers offline navigation to the users. With smart suggestions and voice assistance, users can find the best routes easily. It also provides real time traffic updates to let the user choose
                        the fastest possible route. Meri Navigation has different navigation modes for different users so that they can customize the app according to their needs.
                    </p>
                    <a routerLink="/portfolio/meri-navigation" class="btn btn-light dn2 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://apps.apple.com/in/app/health-maximize-your-health/id1547834390" target="_blank"> <button
                class="btn btn-download dn2 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

            <!-- <button class="btn btn-download dn1 mb-5 mx-2" title="Apple Store">
              <i class=" fab fa-apple fa-2x"></i>
            </button> -->

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (5).png" class="img-fluid">
                </div>
            </div>
        </div>
      
    </div>
    <div class="portfolio-happyhiv" style="background-color: #2D2D2D;">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                  <h3><a routerLink="/portfolio/prophecy">Prophecy</a></h3>
                  <div class="py-1">
                      <span class="tag prophecy-tag" style="color:#2D2D2D;">Betting App</span>
                  </div>
                  <p>Sports pique the attention of the vast majority of sports enthusiasts. As the sport rises in popularity, fans are getting more interested in knowing more about their favorite teams and betting on the winners. Prophecy is a sports betting software that lets users track statistics and place bets on a variety of sports.</p>

                  <a routerLink="/portfolio/prophecy" class="btn btn-light dn12 new-btn"> View Details</a>
                  
                  <span class="mt-3 ">
                      <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                      <a href="https://play.google.com/store/apps/details?id=com.prophecyinvestments.app" target="_blank"> <button
                          class="btn btn-download dn12 mx-2" title="Google Play">
                          <i class="bx bxl-play-store fa-2x"></i>
                      </button></a>
                      <a href="https://apps.apple.com/us/app/prophecy-picks/id1601052616" target="_blank">
                          <button class="btn btn-download dn12 mx-2" title="Apple Store">
                              <i class="bx bxl-apple fa-2x"></i>
                          </button></a>
                      

                  </span>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center meri-nav-video order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/prophecy (4).png" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a routerLink="/portfolio" class="btn-primary">View More</a></div>
</section>
<!-- End portfolio section -->
<div id="blogHome">
    <app-footer></app-footer>
</div>
