<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-meri-navigation">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <img src="./assets/images/meri-navigation/meri-nav-logo(1).png">
        <h3 class="pt-2">Meri Navigation</h3>
        <p style="color: #fff;">Meri Navigation is an Android application that offers offline navigation to the users. With smart suggestions and voice assistance, users can find the best routes easily. It also provides real time traffic updates to let the user choose the fastest possible route. Meri Navigation has different navigation modes for different users so that they can customize the app according to their needs.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-first">
        <img src="./assets/images/meri-navigation/banner-new.png" class="img-fluid" alt="meri-navigation-application-mockup-portfolio-by-apponward" title="meri-navigation-application-mockup-portfolio-by-apponward">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-meri-navigation">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/meri-navigation/search-offline.png" class="img-fluid" alt="offline-search-in-meri-navigation-mockup-portfolio-by-apponward" title="offline-search-in-meri-navigation-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Offline Search</h3>
          <p>The offline search feature of the app lets you find places without the Internet.
            Based on multiple categories you can search your favourite places, restaurants, emergency service providers and much more even when you're not connected.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <img src="./assets/images/meri-navigation/offline-navigation.png" class="img-fluid" alt="offline-navigation-feature-in-meri-navigation-mockup-portfolio-by-apponward" title="offline-navigation-feature-in-meri-navigation-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Offline Navigation</h3>
          <p>Get to where you want to go with the offline navigation feature of Meri Navigation. Navigate effortlessly without any internet connection.
          </p>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/meri-navigation/fvt-loc.png" class="img-fluid" alt="favourite-location-feature-in-meri-navigation-mockup-portfolio-by-apponward" title="favourite-location-feature-in-meri-navigation-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Favourite Location</h3>
          <p>Add your frequently visited locations and places in the favourite location feature. 
            Check out your favourite places- from malls to Cafés in no time.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <img src="./assets/images/meri-navigation/speed-warning.png" class="img-fluid" alt="speed-warning-feature-in-meri-navigation-mockup-portfolio-by-apponward" title="speed-warning-feature-in-meri-navigation-mockup-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Speed Warning</h3>
          <p>Your speed limit is your life limit. Meri Navigation app will notify you about your speed limit according to the lane and location.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro py-5"  style="background-color: #FAFAFA;">
  <div class="container">
      <div class="section-title text-center">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow">
            <div class="text-center">
              <h3>Android</h3>
                <div class="row">
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-10.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                    <p>Kotlin</p>
                  </div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-11.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                    <p>Android Studio</p>
                  </div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-9.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                    <p>MVVM Architecture</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                <div class="text-center">
                  <h3>Backend</h3>
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                        <p>Php</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                        <p>Laravel</p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-meri-navigation">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <p>Download the app today from the Google Play for free to explore the small wonders around you.</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center pt-4">
            <button class="btn"><a href="https://play.google.com/store/apps/details?id=com.merinavigation" target="blank"> <i class='bx bxl-play-store' ></i> <span class="d-inline-block text-left" > <small class="d-block" >Get it on the</small> Google Play </span> </a></button> <br><br>

          </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>