<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-coffeekarma">
  <div class="container">
    <div class="row">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 new-col">
            <img src="./assets/images/coffee-karma/logo.svg">
            <h1>A friend in need is a coffee indeed</h1>
            <p>Bring people together by sending coffee virtually. You can now roast your coffee and brew love with Coffee karma. The one and only app which lets you send coffee to your pals with a personalized message.</p>
        </div>
      
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 text-center">
            <img src="./assets/images/coffee-karma/banner-img.png" class="img-fluid" alt="" title="">
        </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-coffeekarma">
  <div class="background-1">
    <img src="./assets/images/coffee-karma/bg-1.png">
  </div>
  <div class="background-2">
    <img src="./assets/images/coffee-karma/bg-1.png">
  </div>
  <div class="background-3">
    <img src="./assets/images/coffee-karma/bg-2.png">
  </div>
  <div class="background-4">
    <img src="./assets/images/coffee-karma/bg-1.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>App Features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Taking your coffee to the next level</h3>
          <p>Give your friend a cup of coffee with a personalized video message. Send your loved ones coffee karma as a token of your love.<br>
            Select 'Give Coffee Karma' from the app, and record a brief clip of the staff saying, 'You have received Coffee Karma'. Choose a friend from your friends list and deliver the magical aroma of your affection.
          </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
          <img src="./assets/images/coffee-karma/screen-1.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6">
          <h3>Brewed with love and care</h3>
          <p>Receive instant notifications every time your friend sends you a coffee. <br>
            You can 'Accept,' 'Reject,' or 'Archive' your friend's Coffee Karma. <br>
            Accepted Coffee Karma must be claimed within 48 hours of being accepted, otherwise it will be forfeited, and cannot be recovered. Archived Coffee Karma will be automatically moved to the Accepted page. If you decline a Coffee Karma, it will be removed from your account within 24 hours.
             
          </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
          <img src="./assets/images/coffee-karma/screen-2.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Claim your coffee karma</h3>
          <p>Claim your coffee karma to enjoy your sip of coffee.<br>
            You must accept the Coffee Karma before you can claim it. To find any Coffee karma-affiliated café, you can use the 'Direction' option. <br>
            Simply show them your claimable Coffee Karma along with the recorded video.<br>
            Voila! Enjoy your Coffee Karma.
            </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
          <img src="./assets/images/coffee-karma/screen-3.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center how-section">
          <h2>Partner with coffee karma</h2>
          <hr>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <p class="how-section-txt">Becoming a partner of Coffee karama is as easy as sending it.<br>
              Simply send an email to (support@appsbyday.com) get your free "We Accept Coffee Karma Here" sticker.<br>
              After both parties have reached an agreement, you can begin offering Coffee Karma services at your location.<br>
              You can also get a PDF version of the sticker to display it in your café.
              </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <img src="./assets/images/coffee-karma/how.png" alt="" title="" class="img-fluid">
        </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro mb-5">
  <div class="container">
      <div class="section-title text-center" style="color: #fff;">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
          <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                  <div class="text-center">
                      <h3>Android</h3>
                      <div class="row">
                          <div class="col-4"></div>
                          <div class="col-4">
                              <img src="/assets/images/technology/tech-stack-10.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                              <p>Kotlin</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                  <div class="text-center">
                      <h3>iOS</h3>
                        <div class="row">
                          <div class="col-4"></div>
                          
                          <div class="col-4">
                              <img src="/assets/images/technology/tech-stack-3.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                              <p>Swift</p>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-coffee-karma">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 text-center img-1">
                <img src="./assets/images/coffee-karma/logo.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 logo-col">
                <p>Get ready to express your love and affection with Coffee Karma. Download the app and enjoy the coffee.</p>
                <button class="btn"><a href="https://play.google.com/store/apps/details?id=com.ripenapps.coffeekarma" target="blank" ><i class='bx bxl-play-store bx-2x'></i> <span class="d-inline-block text-left"> <small class="d-block">Android App on</small> App Store </span> </a></button> <span><button class="btn"><a href="https://apps.apple.com/pk/app/coffee-karma/id1526786598" target="blank" ><i class='bx bxl-apple bx-2x'></i> <span class="d-inline-block text-left"> <small class="d-block">Available on</small> Apple Store </span> </a></button></span>
            </div>
            
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center img-2">
                <img src="./assets/images/coffee-karma/cta.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
            </div>
        </div>
    </div>
</section>
<!--cta section end-->
<app-footer></app-footer>
