<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="seopage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Search Engine Optimization</h1>
        <h4>Let's use fantastic SEO methods to get your company to the top. </h4>
          <p class="pt-2">To supply you with the <strong class="main-text">correct traffic,</strong> we make the right actions at the right moment. In the <strong class="main-text">limitless sky</strong> of the <strong class="main-text">digital world,</strong> we build your business in a unique way. We can assist you in making the best marketing decisions for your company.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/banner-new/SEO 1 (1).png" class="img-fluid" alt="Best-SEO-Services-Banner-Image-Apponward" title="Best-SEO-Services-Banner-Image-Apponwards">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!-- feature section start-->
<section class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Learn about the services we offer just for you</h2>
                    <hr class="center-ball">
                </div>
            </div>
        </div> 
        <div class="row pt-5">
            <div class="card-deck">
                <div class="card text-center">
                  <div class="card-body">
                    <p><img src="./assets/images/digital-marketing/seo-icon-1.png" alt="Quality-Traffic-icon-apponward" title="Quality-Traffic-icon-apponward"></p>
                    <h5 class="card-title">Quality Traffic</h5>
                    <p class="card-text">SEO is customer-focused, and it entails developing useful resources to make information easily accessible. The traffic 
                      engagement done through SEO is more likely to generate leads.</p>
                  </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/digital-marketing/seo-icon-2.png" alt="Pocket-Friendly-icon-apponward" title="Pocket-Friendly-icon-apponward"></p>
                      <h5 class="card-title">Pocket Friendly</h5>
                      <p class="card-text">The organic ranks of Google are solely determined by its algorithm, which determines which results are the best for 
                        each particular query. SEO helps you to generate traffic to your website with no continuing expenditures.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/digital-marketing/seo-icon-3.png" alt="Cost-Management-icon-apponward" title="Cost-Management-icon-apponward"></p>
                      <h5 class="card-title">Cost Management</h5>
                      <p class="card-text">SEO decreases the cost of advertising. You don't require pay per click or market your page if you're already having a 
    top Google rank. As long as Internet consumers hit your search urls, you will remain above the other search results.</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
<!--feature section end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
  <div class="container">
    <div class="new-shape6">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="new-shape7">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape8">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="smm">
                <h3>Technical SEO</h3>
                <p>Websites with specific technological features are preferred more in the search results by search engines. Indexing, crawling, website architecture, and rendering are the important aspects of technical SEO. 
                  We provide you with the greatest technical SEO to help you rank first in the search results.
                  </p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
          <img src="./assets/images/digital-marketing/technical-seo.png" class="img-fluid" alt="technical-seo-services-apponward" title="technical-seo-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>ON-Page SEO</h3>
            <p>On-page SEO aids search engines in assessing a website and its associated content to determine whether a searcher's request is related to the site. 
              It improves the ranking of web pages in search engines, resulting in increased traffic and consumers.
              </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
          <img src="./assets/images/digital-marketing/on-page-seo.png" class="img-fluid" alt="on-page-seo-services-apponward" title="on-page-seo-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <div class="smm">
          <h3>OFF-Page SEO</h3>
          <p>According to research, off-page SEO accounts for up to 75% of a successful digital marketing strategy. 
            It is helpful in building your brand's  social media presence, lead generation, and a slew of other things that don't have to be on the page.
            </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
        <img src="./assets/images/digital-marketing/off-page-seo.png" class="img-fluid" alt="off-page-seo-services-apponward" title="off-page-seo-services-apponward">
      </div>
    </div>
  </div>
</section>
<!--highlighted Features section end-->
<!--why digital section starts-->
<section class="why-us">
    <div class="container">
        <div class="new-shape1">
            <img src="./assets/images/animate-round-ball.png">
          </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Search Engine Optimization (SEO)?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 why-seo">
               <p>SEO can aid to develop stronger relationships with the target audience, better customer experience, expansion of your authority, and increased traffic to your website. 
                It provides you a leg up on the competition by increasing conversions, which translates to increased sales, loyal clients, and business success.
                </p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/digital-marketing/why-seo.png" class="img-fluid" alt="why-search-engine-optimization-company" title="why-search-engine-optimization-company">
            </div>
        </div>
    </div>
</section>
<!--why digital sectione end-->
<div id="blogHome">
<app-footer></app-footer>
</div>
