<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="webpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Website Development</h1>
                <h4>Using disruptive design and technology to solve real-world issues.</h4>
                <p class="pt-2">Web applications provide unique customer <strong class="main-text"> service alternatives.</strong> They can serve as the company's <strong class="main-text"> initial point of contact</strong> with potential consumers. We utilize the power
                    of the latest <strong class="main-text">disruptive web frameworks</strong> to develop <strong class="main-text">scalable</strong> web apps which help you grow your business.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/banner/banner-new/Services (2).png" class="img-fluid" alt="Best-Web-App-Development-Company-Banner-Image-Apponward" title="Best-Web-App-Development-Company-Banner-Image-Apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Every Web Application Begins With a Simple Concept</h2>
                    <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Web Apps with PHP/Laravel</h3>
                    <p>Laravel is a simple and elegant PHP web development framework. It enables the developers to develop great apps using expressive and simple syntax, freeing them from the spaghetti code. We build responsive and customized web apps for
                        your business using the latest technologies like PHP and Laravel.</p>
                    <a routerLink="/services/web-app-development-with-php-laravel" class="new-btn"> Read More</a>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
                <img src="./assets/images/web-app/web-app-1.png" class="img-fluid" alt="Web-apps-with-php-laravel-website-development-by-apponward" title="Web-apps-with-php-laravel-website-development-by-apponward">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Web Apps with Python/Django</h3>
                    <p>Python's similarity to our daily language, as well as its insistence on readability, ensures that the developers can produce intelligible code. Django, Pyramid, Flask, Flask, and Web2Py are among the most popular Python web development
                        frameworks. With our experienced python developers, we address the difficulties and offer top-tier market solutions to our esteemed clients.</p>
                    <a routerLink="/services/web-app-development-with-python-django" class="new-btn"> Read More</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
                <img src="./assets/images/web-app/web-app-2.png" class="img-fluid" alt="Web-Apps-with-Python-Django-website-development-by-apponward" title="Web-Apps-with-Python-Django-website-development-by-apponward">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Web Apps with Angular and Node</h3>
                    <p>AngularJS is the most widely used MVC framework, followed by JavaScript. It is a structural framework used to build dynamic web apps by expanding the capabilities of HTML. Our skilled developers leverage AngularJS's disruptive features
                        to create apps with minimal code.
                    </p>
                    <a routerLink="/services/web-app-development-with-angular-and-node" class="new-btn"> Read More</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5  order-sm-first order-md-firs torder-lg-first">
                <img src="./assets/images/web-app/weba-app-3.png" class="img-fluid" alt="Web-Apps-with-Angular-and-Node-website-development-by-apponward" title="Web-Apps-with-Angular-and-Node-website-development-by-apponward">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="smm">
                    <h3>Progressive Web Apps with Angular/React</h3>
                    <p>Angular/React enables the developers to create huge progressive web apps that can modify data without refreshing the page. React is swift, simple, and scalable, which results in an excellent user experience. We have built out a place
                        in Progressive Web Application Development by utilising cutting-edge technologies like Angular and React to meet a variety of project needs.</p>
                    <a routerLink="/services/pwa-with-angular-react" class="new-btn"> Read More</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
                <img src="./assets/images/web-app/web-app-4.png" class="img-fluid" alt="Progressive-Web-Apps-with-Angular-React-website-development-by-apponward" title="Progressive-Web-Apps-with-Angular-React-website-development-by-apponward">
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
                <div class="section-title">
                    <h2>Why Web Application Development?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <p>Web Apps assist organisations in reaching out to new consumers and informing them about the company and the services it offers. Web apps can be extremely useful in the marketing process as well. With web apps, it is simpler to establish
                    a strong communication network between potential consumers and the organisation.</p>
            </div>
            <div class="col-12 col-lg-4 col-md-4 col-lg-4" style="margin-top:-50px">
                <img src="./assets/images/why-web-app.png" class="img-fluid" alt="Why-Web-Application-Development-by-Apponward" title="Why-Web-Application-Development-by-Apponward">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<!-- ======= portfolio ======= -->
<section class="portfolios mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Best Websites</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-maetrix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3><a routerLink="/portfolio/the-maetrix">The Maetrix</a></h3>
                    <div class="py-1">
                        <span class="tag matrix-tag">LMS</span>
                    </div>
                    <p>Maetrix is an LMS whose prime users are Aesthetic Practitioners. It comprises multiple business development courses and video lessons for different Aesthetic Businesses. You can also read informative blogs and listen to podcasts with
                        just a click. The picture-in-picture mode of the application lets users use other apps simultaneously. One can buy or subscribe to any available course and watch the same on their smartphones, tablets or desktops.</p>
                    <a routerLink="/portfolio/the-maetrix" class="btn btn-light dn-mat new-btn mb-4"> View Details</a>
                    <div class="template-demo">
                        <button class="btn matt"><a href="https://themaetrix.com/" target="_blank"><i class='bx bx-globe'></i> <span
                  class="d-inline-block text-left"> <small class="d-block">Visit on</small> themaetrix.com </span>
              </a></button>
                    </div>
                </div>

                <div class=" col-lg-6 col-sm-12 col-md-6 order-sm-first order-md-first order-lg-first pt-1" style="width:100%;position:relative">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/maetrix-mockup(1).png" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-flowmix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6 ">
                    <h3><a routerLink="/portfolio/flowmixx">Flowmixx</a></h3>
                    <div class="py-1">
                        <span class="tag flowmixx-tag">Entertainment</span>
                    </div>
                    <p>Flowmixx is a multimedia platform designed specifically for DJs. The app allows the users to create customized song mixes, write blogs, tutorials and much more. Users can also create their own playlists and download the songs to listen
                        offline.
                    </p>
                    <a routerLink="/portfolio/flowmixx" class="btn btn-light dn-fo new-btn mb-4"> View Details</a>
                    <div class="template-demo">
                        <button class="btn flowmixx"><a href="https://flowmixx.com/#/index" target="_blank"><i
                        class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit
                          on</small> flowmixx.com </span></a> </button>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-12 col-md-6 pt-1" style="width:100%;position:relative">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/Flowmix-2(1).png" class="w-100">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a routerLink="/portfolio" class="btn-primary">View More</a></div>
</section>
<!-- End portfolio section -->
<div id="blogHome">
    <app-footer></app-footer>
</div>