.btn-download {
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    background:transparent;
    color: #fff;
  
  }
  
    
  
  .dn1:hover {
    background-color: #fff;
    color: #5798f4;
    box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
  }
  
  /* #0074b9 */
  
  .dn2:hover {
      background-color: #fff;
      color: #0074b9;
      box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
    }
  
    /* dea222 */
    .dn3:hover {
      background-color: #fff;
      color: #dea222;
      box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
    }
  
    /* 244ca3 */
  
    .dn4:hover {
      background-color: #fff;
      color: #244ca3;
      box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
    }


    .dn5:hover {
        background-color: #fff;
        color: #00529b;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }

      /* ffb828 */
      .dn6:hover {
        background-color: #fff;
        color: #ffb828;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }

      /* c41a0b */
      .dn7:hover {
        background-color: #fff;
        color: #c41a0b;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }
      .btn-light{
          background:transparent;
          border:2px dashed #fff;
          font-weight: 700;
          color:white;
      }
      .dn-mat:hover{
        color:#232175;
        background-color: #fff;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }

      .dn-fo:hover{
        color:#ba8bbc;
        background-color: #fff;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }
      .btn-matrix {
        border: 3px solid #fff;
        box-sizing: border-box;
        border-radius: 100px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 10px 30px;
        color: #fff;
        font-size: 1.5em;
        background: transparent;
        font-weight: 700;
    }

    .btn-matrix:hover {
        /* border: 3px solid #2c9e98; */
        color: #232175;
        background: #fff;
    }
    .btn-matrix:hover a{
      /* border: 3px solid #2c9e98; */
      color: #232175;
  }
  .btn-flow {
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 10px 30px;
    color: #fff;
    font-size: 1.5em;
    background: transparent;
    font-weight: 700;
}
.btn-flow a{
  color: #fff;
}
.btn-flow:hover {
    /* border: 3px solid #2c9e98; */
    color: #6c7fb9;
    background: #fff;
}

.btn-flow:hover a{
  /* border: 3px solid #2c9e98; */
  color: #6c7fb9;
}
.btn-download {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
}

.dn1:hover {
  background-color: #fff;
  color: #5798f4;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* #0074b9 */

.dn2:hover {
  background-color: #fff;
  color: #0074b9;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* dea222 */
.dn3:hover {
  background-color: #fff;
  color: #dea222;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* 244ca3 */

.dn4:hover {
  background-color: #fff;
  color: #244ca3;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.dn5:hover {
  background-color: #fff;
  color: #00529b;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* ffb828 */
.dn6:hover {
  background-color: #fff;
  color: #ffb828;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* c41a0b */
.dn7:hover {
  background-color: #fff;
  color: #c41a0b;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
.dn10:hover {
  background-color: #fff;
  color:#f77987;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
.btn-light {
  background: transparent;
  border: 2px dashed #fff;
  font-weight: 700;
  color: white;
}
.dn-mat:hover {
  color: #232175;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.dn-fo:hover {
  color: #ba8bbc;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.heyfan span,
.heyfan i {
  color: #fff;
}
.heyfan:hover {
  background: #fff;
}

.heyfan:hover span,
.heyfan:hover i,
.heyfan:hover span small {
  color: #0986b1;
}

.flowmixx span,
.flowmixx i {
  color: #fff;
}
.flowmixx:hover {
  background: #fff;
}

.flowmixx:hover span,
.flowmixx:hover i,
.flowmixx:hover span small {
  color: #6b7eb9;
}

.matrix span,
.matrix i {
  color: #fff;
}
.matrix:hover {
  background: #fff;
}

.matrix:hover span,
.matrix:hover i,
.matrix:hover span small {
  color: #232175;
}


.dn8:hover {
  color: #0986b1;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
/* 3173ae */
    /* width: 70px;
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    background:transparent;
    color: #fff;
  
  } */
  
    
  
  .dn1:hover {
    background-color: #fff;
    color: #5798f4;
    box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
  }
  
  /* #0074b9 */
  
  .dn2:hover {
      background-color: #fff;
      color: #0074b9;
      box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
    }
  
    /* dea222 */
    .dn3:hover {
      background-color: #fff;
      color: #dea222;
      box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
    }
  
    /* 244ca3 */
  
    .dn4:hover {
      background-color: #fff;
      color: #244ca3;
      box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
    }


    .dn5:hover {
        background-color: #fff;
        color: #00529b;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }

      /* ffb828 */
      .dn6:hover {
        background-color: #fff;
        color: #ffb828;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }

      /* c41a0b */
      .dn7:hover {
        background-color: #fff;
        color: #c41a0b;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }
      .btn-light{
          background:transparent;
          border:2px dashed #fff;
          font-weight: 700;
          color:white;
      }
      .dn-mat:hover{
        color:#232175;
        background-color: #fff;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }

      .dn-fo:hover{
        color:#ba8bbc;
        background-color: #fff;
        box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
      }
      .btn-matrix {
        border: 3px solid #fff;
        box-sizing: border-box;
        border-radius: 100px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 10px 30px;
        color: #fff;
        font-size: 1.5em;
        background: transparent;
        font-weight: 700;
    }

    .btn-matrix:hover {
        /* border: 3px solid #2c9e98; */
        color: #232175;
        background: #fff;
    }
    .btn-matrix:hover a{
      /* border: 3px solid #2c9e98; */
      color: #232175;
  }
  .demo .btn-flow {
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 10px 30px;
    color: #fff !important;
    font-size: 1.5em;
    background: transparent;
    font-weight: 700;
}
.demo .btn-flow a{
  color: #Fff;
}

.demo .btn-flow:hover {
    /* border: 3px solid #2c9e98; */
    color: #6c7fb9;
    background: #fff;
}

.demo .btn-flow:hover a{
  /* border: 3px solid #2c9e98; */
  color: #6c7fb9;
}
  /* width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
} */

.dn1:hover {
  background-color: #fff;
  color: #5798f4;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* #0074b9 */

.dn2:hover {
  background-color: #fff;
  color: #0074b9;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* dea222 */
.dn3:hover {
  background-color: #fff;
  color: #dea222;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* 244ca3 */

.dn4:hover {
  background-color: #fff;
  color: #244ca3;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.dn5:hover {
  background-color: #fff;
  color: #00529b;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* ffb828 */
.dn6:hover {
  background-color: #fff;
  color: #ffb828;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* c41a0b */
.dn7:hover {
  background-color: #fff;
  color: #c41a0b;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
.btn-light {
  background: transparent;
  border: 2px dashed #fff;
  font-weight: 700;
  color: white;
}
.dn-mat:hover {
  color: #232175;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.dn-fo:hover {
  color: #ba8bbc;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.heyfan span,
.heyfan i {
  color: #fff;
}
.heyfan:hover {
  background: #fff;
}

.heyfan:hover span,
.heyfan:hover i,
.heyfan:hover span small {
  color: #0986b1;
}

.flowmixx span,
.flowmixx i {
  color: #fff;
}
.flowmixx:hover {
  background: #fff;
}

.flowmixx:hover span,
.flowmixx:hover i,
.flowmixx:hover span small {
  color: #6b7eb9;
}

.matrix span,
.matrix i {
  color: #fff;
}
.matrix:hover {
  background: #fff;
}

.matrix:hover span,
.matrix:hover i,
.matrix:hover span small {
  color: #232175;
}


.dn8:hover {
  color: #0986b1;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
/* 3173ae */
.tag {
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0px;
  padding: 10px 30px;
  padding: 10px 30px;
  background: #fff;
  width: auto;
  font-size: 1.5em;
}

.healt-plus-tag {
  color: #0074b9;
}

.meri-navigation-tag {
  color: #5798f4;
}

.matrix-tag {
  color: #232175;
}

.newsbulb-tag {
  color: #dea222;
}

.nph-tag {
  color: #244ca3;
}

.flowmixx-tag {
  color: #aa88bc;
}

.footyedge-tag {
  color: #00529b;
}

.sharedare-tag {
  color: #ffb828;
}

.dsn-tag {
  color: #c41a0b;
}

.heyfan-tag {
  color: #0986b1;
}
.matt span,
.matt i {
  color: #fff;
}

.matt:hover {
  background: #fff;
}
.matt:hover span,
.matt:hover i,
.matt:hover span small {
  color: #232175;
}