<!-- ======= stats ======= -->
<section class="stats">
    <div class="container">
        <div class="section-title">
            <h2>OUR UNPARALLELED SERVICES</h2>
            <hr class="center-ball">
            <p>“We make technology simple, easy, and efficient”
              We’ve made quite a few waves since our inception. While it started off as a simple idea with only one goal, we, now, pride ourselves in anticipating our clients’ needs and delivering solutions that serve them best.</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding">
                <div class="photo">
                    <img src="/assets/images/stat-1.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD." class="img-fluid">
                </div>
                <div class="content">
                    <h1>2+ Years</h1>
                    <p>IT/Software Business</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding">
                <div class="photo">
                    <img src="/assets/images/stat-2.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
                </div>
                <div class="content">
                    <h1>2+ Years</h1>
                    <p>IT/Software Business</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding">
                <div class="photo">
                    <img src="/assets/images/stat-3.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
                </div>
                <div class="content">
                    <h1>2+ Years</h1>
                    <p>IT/Software Business</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding">
                <div class="photo">
                    <img src="/assets/images/stat-4.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
                </div>
                <div class="content">
                    <h1>2+ Years</h1>
                    <p>IT/Software Business</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- End stats -->