<app-header></app-header>
<!-- ======= Hero Section ======= -->    
<section id="hero-banner-new" class="gallerypage"  style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Our Culture</h1>
          <h4>Harnessing the power of innovation</h4>
          <p class="pt-2">“Technology that connects us to our culture, one line of code at a time” Our culture is creative, energizing, and inclusive. Whether it's developing new apps or promoting your business with digital marketing, we're continuously working together to make the difference.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="./assets/images/banner/about.png" class="img-fluid" alt="app-development-company-apponward" title="Apponward Technology PVT. LTD.">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!-- ======= gallery ======= -->
<section class="gallery" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
          <img src="./assets/images/gallery/Apponward-Gallery5.png" class="img-fluid" alt="team-apponward" title="team-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
          <img src="./assets/images/gallery/Apponward-Gallery2.png" class="img-fluid" alt="womens-day-celebration-at-apponward" title="womens-day-celebration-at-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
            <img src="./assets/images/gallery/Apponward-Gallery3.png" class="img-fluid" alt="happy-womens-day-celebration-at-apponward" title="happy-womens-day-celebration-at-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
            <img src="./assets/images/gallery/Apponward-Gallery4.png" class="img-fluid" alt="team-at-apponward" title="team-at-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
            <img src="./assets/images/gallery/Apponward-Gallery7.png" class="img-fluid" alt="outside-party-apponward-team" title="outside-party-apponward-team">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
            <img src="./assets/images/gallery/Apponward-Gallery1.png" class="img-fluid" alt="team-meeting-at-apponward" title="team-meeting-at-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
            <img src="./assets/images/gallery/Apponward-Gallery6.png" class="img-fluid" alt="holi-celebration-2021-at-apponward" title="holi-celebration-2021-at-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4">
            <img src="./assets/images/gallery/Apponward-Gallery8.png" class="img-fluid" alt="outside-party-apponward-team" title="outside-party-apponward-team">
        </div>
      </div>
    </div>
</section>
<!-- End gallery section -->
<div id="blogHome">
  <app-footer></app-footer>
</div>