<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="smmpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Social Media Marketing</h1>
        <h4>Give your brand a digital makeover. <!--Tell your brand's unique story across the online channels--></h4>
          <p class="pt-2">Inspire and influence your audience because we define you, the way you are. We are constantly striving to provide you with the greatest services that not only engage more clients but also produce refreshing outcomes. We help you connect with the digital world and grow your online presence. Now is the moment to get social on social media!</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/banner-new/SMM 1 (2).png" class="img-fluid" alt="Best-Social-Media-Marketing-Services-Banner-Image-Apponward" title="Best-Social-Media-Marketing-Services-Banner-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!-- feature section start-->
<section class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Let's take a look at the emerging digital world</h2>
                    <hr class="center-ball">
                </div>
            </div>
        </div> 
        <div class="row pt-5">
            <div class="card-deck">
                <div class="card text-center">
                  <div class="card-body">
                    <p><img src="./assets/images/services/icon-1.png" alt="brand-recognition-icon-apponward" title="brand-recognition-icon-apponward" style="max-height: 70px;"></p>
                    <h5 class="card-title">Brand Recognition</h5>
                    <p class="card-text"> Employing a social media marketing strategy will substantially enhance your brand awareness because you will be connecting with a large audience of customers.</p>
                  </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/services/icon-2.png" alt="inbound-traffic-icon-apponward" title="inbound-traffic-icon-apponward" style="max-height: 70px;"></p>
                      <h5 class="card-title">Inbound Traffic</h5>
                      <p class="card-text">Your inbound traffic will be confined to your regular clients if you don't advertise your business through social 
                        media. People who know your brand are probably looking for the similar keywords for which you are currently 
                        ranked for.</div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/services/icon-3.png" alt="Conversion-rates-icon-apponward" title="Conversion-rates-icon-apponward" style="max-height: 70px;"></p>
                      <h5 class="card-title"> Conversion Rates</h5>
                      <p class="card-text">  Your firm will have more conversion chances as a result of greater social media visibility. Every image, blog post, 
                        video, or remark has the potential to drive visitors to your company's website.</div>
                </div>
              </div>
              <div class="card-deck mt-3">
                <div class="card text-center col-0 col-sm-2 col-md-2 col-lg-2">
                </div>
                <div class="card text-center col-sm-4 col-md-4 col-lg-4">
                    <div class="card-body">
                      <p><img src="./assets/images/services/icon-4.png" alt="Customer-satisfaction-icon-apponward" title="Customer-satisfaction-icon-apponward" style="max-height: 70px;"></p>
                      <h5 class="card-title">Customer Satisfaction</h5>
                      <p class="card-text"> It is critical to give your organisation a voice through social media platforms in order to humanise it. Customers 
                        prefer receiving a customised answer instead of an automatic one when they leave comments on your company's 
                        social media pages.</div>
                </div>
                <div class="card text-center col-sm-4 col-md-4 col-lg-4">
                    <div class="card-body">
                      <p><img src="./assets/images/services/icon-5.png" alt="Brand-loyalty-icon-apponward" title="Brand-loyalty-icon-apponward" style="max-height: 70px;"></p>
                      <h5 class="card-title">Brand Loyalty</h5>
                      <p class="card-text"> Brand loyalty and customer satisfaction are often linked. It's essential to connect with customers on a regular basis 
                        and begin building a relationship with them through various social media platforms.
                    </div>
                </div>
              </div>
          </div>
    </div>
</section>
<!--feature section end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
  <div class="container">
    <div class="new-shape6">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="new-shape7">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape8">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape9">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="new-shape10">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape11">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="smm">
                <h3>Content Planning</h3>
                <p>Planning for social media content is the most effective way to organise upcoming content. Learn why you should have one. The social media calendar may include one or more social networks, depending on the scope of the social media strategy.
                  A social media calendar is a list of all of your upcoming social media posts.
                  </p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
          <img src="./assets/images/digital-marketing/content-planning.png" class="img-fluid" alt="content-planning-smm-services-apponward" title="content-planning-smm-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>Instagram Marketing</h3>
            <p>Instagram marketing is a strategy for disseminating your marketing materials through a specific digital channel. What makes Instagram such a great platform is that many people are discovering that they can use influencer marketing to reach a larger audience.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
          <img src="./assets/images/digital-marketing/instagram-marketing-new.png" class="img-fluid" alt="instagram-marketing-services-apponward" title="instagram-marketing-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <div class="smm">
          <h3>Linkedin Marketing</h3>
          <p>LinkedIn is distinct from other social media platforms in that its users are business-oriented within a specific field. LinkedIn marketing enables businesses to reach their intended audience. 
            It promotes your brand's nurturing leads, fundamental values, and increases the visibility of any job openings that are presently available.
            </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
        <img src="./assets/images/digital-marketing/linkedin-marketing.png" class="img-fluid" alt="linkedin-marketing-services-apponward" title="linkedin-marketing-services-apponward">
      </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <div class="smm">
            <h3>Youtube Marketing</h3>
            <p>According to a Hubspot survey, 72 percent of respondents prefer videos over texts when receiving marketing content. 
              YouTube is their favorite platform, with over 2 billion users. Eighty-eight percent of marketers think YouTube marketing has worked for them. What are you waiting for?
              </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
          <img src="./assets/images/digital-marketing/youtube-marketing.png" class="img-fluid" alt="youtube-marketing-services-apponward" title="youtube-marketing-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <div class="smm">
          <h3>Facebook Ads</h3>
          <p>Facebook advertising is crucial in addition to email marketing, faultless web design, organic social media, and SEO. They are quite effective, and if you're a company owner, you should consider investing in them since you could get a significant return.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
        <img src="./assets/images/digital-marketing/fb-ads.png" class="img-fluid" alt="facebook-ads-services-apponward" title="facebook-ads-services-apponward">
      </div>
    </div>
  </div>
</section>
<!--highlighted Features section end-->
<!--why digital section starts-->
<section class="why-us">
    <div class="container">
        <div class="new-shape1">
            <img src="./assets/images/animate-round-ball.png">
          </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Social Media Marketing?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 pt-4 why-seo">
               <p>It makes no difference whether you own a tiny local business or a large national corporation, social media should be an integral part of your company's marketing plan. They enable you to engage with your consumers, raise brand recognition, and improve sales. 
                </p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/digital-marketing/why-smm.png" class="img-fluid" alt="why-social-media-marketing-company" title="why-social-media-marketing-company">
            </div>
        </div>
    </div>
</section>
<!--why digital sectione end-->
<div id="blogHome"><app-footer></app-footer></div>
