<app-header></app-header>
<!-- ======= career Section ======= -->
<section class="career-detail">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <div class="career">
                    <p class="title">{{jobDetails?.position}} </p>
                    <p class="sub-detail"><span class="mr-2"><img src="./assets/images/career-exp-icon.png"> {{jobDetails?.experience}}</span> <img src="./assets/images/career-location-icon.png"> {{jobDetails?.location}}</p>
                    <div class="job-dscrptn" bind-innerHTML="jobDetails?.description" ></div>              
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 shadow p-3 mb-5 bg-white rounded text-center">
              <img src="./assets/images/apply-now.png" class="img-fluid" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
               <form class="my-5" [formGroup]="careerForm" (ngSubmit)="onCareerForm()">
                <div class="form-group">
                  <input type="text"  placeholder="Please enter your Name" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': isFormSubmitted && f.name.errors }">
                  <div *ngIf="isFormSubmitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Please enter Name.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text"  placeholder="Please enter your Email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': isFormSubmitted && f.email.errors }">
                  <div *ngIf="isFormSubmitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Please enter Email.
                    </div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text"  placeholder="Mobile Number" formControlName="number" class="form-control"
                  [ngClass]="{ 'is-invalid': isFormSubmitted && f.number.errors }">
                  <div *ngIf="isFormSubmitted && f.number.errors" class="invalid-feedback">
                    <div *ngIf="f.number.errors.required">Please enter mobile Number.
                    </div>
                    <div *ngIf="f.number.errors.email">Nmber must be a valid mobile number</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text"  placeholder="Please enter Position" formControlName="position" class="form-control"[ngClass]="{ 'is-invalid': isFormSubmitted && f.position.errors }">
                  <div *ngIf="isFormSubmitted && f.position.errors" class="invalid-feedback">
                    <div *ngIf="f.position.errors.required">Please enter Position.
                    </div>
                  </div>
                </div>
                <div class="form-group new-file">
                  <input type="file" class="custom-file-input" placeholder="" formControlName="file" (change)="onSelectFile($event)" [ngClass]="{ 'is-invalid': isFormSubmitted && f.file.errors }" > 
                  <div *ngIf="isFormSubmitted && f.file.errors" class="invalid-feedback">
                    <div *ngIf="f.file.errors.required">Please enter your file.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea placeholder="Your Message" class="form-control" formControlName="message" rows="5" data-rule="required" data-msg="Please write something for us" [ngClass]="{ 'is-invalid': isFormSubmitted && f.message.errors }"></textarea>
                  <div *ngIf="isFormSubmitted && f.message.errors" class="invalid-feedback">
                    <div *ngIf="f.message.errors.required">Please enter your Message.
                    </div>
                  </div>
                </div>
                <div class="mb-3" *ngIf="!showmessage">
                  <!-- <div class="loading">Loading</div> -->
                  <!-- <div class="error-message"></div> -->
                  <div class="alert alert-success" >{{msg}}</div>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary" [ngClass]="{'disable-bt': loading, '': !loading}"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading, '': !loading}"></i> {{applyNow}}</button>
                </div>
              </form>
            </div>
        </div>
    </div>

</section>
<!-- End career Section -->
  <app-footer></app-footer>