.bg-white form button { cursor: pointer; box-shadow: none; outline: none; margin-top: 21px; }
.bg-white form { position:relative; max-width: 100%; display: block;} 
.bg-white form .alert-success { position: relative; bottom:-90px; z-index: 9; margin-top: -90px; width: 100%; }

button { cursor: pointer; box-shadow: none; outline: none; }