<app-header></app-header>
<!-- ======= page not found ======= -->
<section class="page-not-found pt-4 my-5">
    <div class="container">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12  text-center">
        <img src="./assets/images/error.png" class="img-fluid" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12  text-center">
        <h4 class="mb-4">Looks like the page you were looking for is no longer here.</h4>
        <a routerLink="/home" class="btn-primary">Back to Home</a>
      </div>
    </div>
</section>
<!-- End page not found -->
<app-footer></app-footer>

