.sharebuttons{
    padding: 0;
    margin: 0px 250px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 0.888976px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 0.888976px 3.5559px rgba(0, 0, 0, 0.08);
    border-radius: 3.5559px;
}
.sharebuttons button{
    background-color: #fff;
    border-color: white;
    font-size: 20px;
}
.sharebuttons button:active{
    background-color: #fff;
    border-color: white;
    font-size: 20px;
}
@media (max-width: 768px){
.blog-posts hr.blog-hr {
height:0px !important;
width: 100% !important;
}
.sharebuttons{
    margin:0px 0px !important;
}
.sharebuttons button{
    background-color: #fff;
    border-color: white;
    font-size: 15px;
}
.blog-posts .post-box hr{
    height:0px !important;
    width: 100% !important;  
}
}
@media (max-width: 768px){
.blog-posts .post-box .post-sub-detail span {
    float: right !important;
    margin-left: 30px !important;
    padding-top: 0px !important;
}
.post-box .comment-section-new{
    margin:0px !important;
}
}