<app-header></app-header>
<!-- ======= Hero Section ======= -->
<!-- <section id="hero-new" class="blogpage" style="background: url(./assets/images/about-banner-img.jpg);background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Blogs</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
      </div>
    </div>
  </section> -->
<!--hero end-->
 <!-- ======= Recent Blog Posts Section ======= -->
 <section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
              <h1 class="text-center pb-3 text-dark" style="font-weight:500">{{blogDetails?.blog_title}}</h1>
            </div>
        </div>
    </div>
    <div class="post-img"><img src="{{blogDetails?.banner_url}}" class="img-fluid" alt="Apponward Technology PVT. LTD." title="{{blogDetails?.banner_image_alt}}"></div>
    <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
              <div class="post-box">
                <hr>
                    <p class="post-sub-detail pb-3" style="color: #000;"><img src="./assets/images/post-author-img.png" style="width: 30px !important;"> {{blogDetails?.author_name}} <span class="float-right" style="color: #000;opacity: 0.9;border: 1px solid rgba(0, 0, 0, 0.9);"> <img class="pl-1" src="./assets/images/calender.jpg" style="width: 21px !important; margin-top:-4px"> {{blogDetails?.created_at}}</span></p>
                    <div class="blog-dscrptn" bind-innerHTML="blogDetails?.description"></div>
                    <div class="sharebuttons" style="text-align: center;margin-top: 50px;">
                      <button type="button" class="btn btn-light"><div [socialShare]="'fb'" style="cursor: pointer;"><i class="fa fa-facebook" style="font-family: 'FontAwesome' !important;"></i> Share on Facebook</div></button>|
                      <button type="button" class="btn btn-light"><div [socialShare]="'tw'" style="cursor: pointer;"><i class="fa fa-twitter" style="font-family: 'FontAwesome' !important;"></i> Share on Twitter</div></button>
                    </div>
                    <!--<p class="pt-3"><a href="#"><i class='bx bx-caret-left'></i> Back</a> <span style="float: right;"><a href="#">Next <i class='bx bx-caret-right'></i> Lorem ipsum dolor sit amet</a></span></p>-->
                    <hr class="blog-hr">
                    <div class="comment-section-new">
                        <form class="comment-form" [formGroup]="blogCommentForm" (ngSubmit)="onBlogCommentForm()" >
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <input type="text" placeholder="Please enter your name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.name.errors }">
                                  <div *ngIf="isFormSubmitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Please enter name.
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-6">
                                  <input type="email" placeholder="Enter your email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.email.errors }">
                                  <div *ngIf="isFormSubmitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Please enter email id
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <textarea placeholder="Your message" class="form-control" formControlName="message" rows="5" data-rule="required" data-msg="Please write something for us" [ngClass]="{ 'is-invalid': isFormSubmitted && f.message.errors }"></textarea>
                              <div *ngIf="isFormSubmitted && f.message.errors" class="invalid-feedback">
                                <div *ngIf="f.message.errors.required">Please enter your message.
                                </div>
                              </div>
                            </div>
                            <!-- <input type="hidden" placeholder="" value="{{blog_id}}"> -->
                            <button type="submit" class="btn btn-primary">Post Comment</button>
                        </form>
                        <div class="cmnt-box" *ngFor="let data of allCommentData">
                          <hr class="mt-5 mb-3">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                              <h3>{{data?.name}}</h3>
                              <div class="dscrptn" bind-innerHTML="data?.message">
                                <!-- {{data?.description}} -->
                              </div>
                              <span>{{data?.created_at}}</span>
                              <!-- <p>This article was so good that I did not skip a single word in this article, I could not know when time had passed while reading this article. I read your article daily and I also share it if I like it.</p> -->
                          </div>
                        </div>
                        <!-- <hr class="my-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Jenny Wilson</h3>
                            <p>Thanks for sharing this information.</p>
                        </div> -->
                    </div>
                    <hr class="blog-new-hr">
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3" *ngFor="let data of blogLists">
      <div class="row" style=" padding: 0px 55px;">
        <div class="card" style="box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25); border:1px solid #E2E2E2">
          <div class="row ">
            <div class="col-md-8 px-3">
              <div class="card-block px-3 py-5">
                <h4 class="card-title" style="font-weight: bold;">{{data?.blog_title | truncate:[40, '...']}}</h4>
                <p class="card-text" bind-innerHTML="data?.summary"></p>
                <p style="font-size: 15px;"><span style="color: #000;opacity: 0.9;border:1px solid rgba(0, 0, 0, 0.9);"> <img class="pl-1" src="./assets/images/calender.jpg" style="width: 21px !important; margin-top:-4px"> {{blogDetails?.created_at}}</span> <span class="float-right"><a (click)="viewDetails(data.title_url)" class="readmore">Read More</a></span></p>
              </div>
            </div>
            <div class="col-md-4">
                <img src="{{data?.banner_url}}" class="w-100 h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- End Recent Blog Posts Section -->
<app-footer></app-footer>