<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-nph">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <img src="./assets/images/nph/logo.png" class="img-fluid" alt="Nukkad-pai-hai-chhotee-jaroorato-ka-bada-jugaad"
          title="Nukkad-pai-hai-chhotee-jaroorato-ka-bada-jugaad">
        <h1>Nukkad Pe Hai</h1>
        <p>Nukkad Pe Hai is a mobile application which allows the users to connect with the small vendor shops like
          salons, tea stalls, snacks and beverages stores,etc. at their nearby areas or street corners(Nukkad). Users
          can also see the details of the shop and navigate there. Anyone can now enjoy the unexplored small wonders of
          their nukkad to get their work done in no time.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <img src="./assets/images/nph/banner-img.png" class="img-fluid"
          alt="Nukkad-pai-hai-connect-with-small-vendors-portfolio-by-apponward" title="Nukkad-pai-hai-connect-with-small-vendors-portfolio-by-apponward">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--ui design section start-->
<section class="ui-design-nph">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>UI Design</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-1">
          <img src="./assets/images/nph/ui-design-1.png" class="img-fluid"
            alt="Nukkad-pai-hai-event-ui-design-portfolio-by-apponward" title="Nukkad-pai-hai-event-ui-design-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-4">
          <img src="./assets/images/nph/ui-design-2.png" class="img-fluid"
            alt="Nukkad-pai-hai-vendor-information-ui-design-portfolio-by-apponward"
            title="Nukkad-pai-hai-vendor-information-ui-design-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-1">
          <img src="./assets/images/nph/ui-design-3.png" class="img-fluid"
            alt="Nukkad-pai-hai-searching-ui-design-portfolio-by-apponward" title="Nukkad-pai-hai-searching-ui-design-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-4">
          <img src="./assets/images/nph/ui-design-4.png" class="img-fluid"
            alt="Nukkad-pai-hai-user-profile-ui-design-portfolio-by-apponward" title="Nukkad-pai-hai-user-profile-ui-design-portfolio-by-apponward">
        </div>
      </div>
    </div>
  </div>
</section>
<!--ui design section end-->
<!--app features section starts-->
<section class="app-feature-nph">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/nph/onboarding.png" class="img-fluid" alt="on-boarding-feature-on-Nukkad-pai-hai"
            title="on-boarding-feature-on-Nukkad-pai-hai">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Onboarding</h3>
          <p>Easy login, swift searching, and quick response.
            Check the categorised shops, products, featured listings, and all the latest deals and offers on the user
            dashboard.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <img src="./assets/images/nph/event.png" class="img-fluid" alt="event-notifier-feature-on-Nukkad-pai-hai"
            title="event-notifier-feature-on-Nukkad-pai-hai">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Event</h3>
          <p>The event feature will notify all the registered members regarding any upcoming events.
            They can also filter the events according to their location.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/nph/shop-listing.png" class="img-fluid" alt="shop-listing-feature-on-Nukkad-pai-hai"
            title="shop-listing-feature-on-Nukkad-pai-hai">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Shop Listing</h3>
          <p>Get all the nearby shops' details at one place.
            Whether it's a salon, restaurant, tea stall, or book store, explore and navigate to them.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <img src="./assets/images/nph/reward.png" class="img-fluid" alt="rewards-feature-on-Nukkad-pai-hai"
            title="rewards-feature-on-Nukkad-pai-hai">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Rewards</h3>
          <p>Your purchases will earn rewards for you.
            You can also use the reward points to make your future transactions and purchases
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro">
  <div class="container">
    <div class="section-title text-center">
      <h2>Technology stack</h2>
      <hr class="center-ball">
    </div>
    <div class="row py-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <div class="padding shadow">
          <div class="text-center">
            <h3>iOS</h3>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-3.png" alt="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" title="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                  <p>Swift</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-4.png" alt="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" title="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                  <p>Xcode</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <div class="padding shadow">
          <div class="text-center">
            <h3>Android</h3>
              <div class="row">
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-10.png" alt="kotlin-technology-used-in-Nukkad-pai-hai" title="kotlin-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                  <p>Kotlin</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-11.png" alt="android-studio-technology-used-in-Nukkad-pai-hai" title="android-studio-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                  <p>Android Studio</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-9.png" alt="kotlin-technology-used-in-Nukkad-pai-hai" title="kotlin-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                  <p>MVVM Architecture</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-2 pb-5">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <div class="padding shadow">
          <div class="text-center">
            <h3>Backend</h3>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-4">
                <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                <p>Laravel</p>
              </div>
              <div class="col-4">
                <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                <p>PHP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-nph">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <img src="./assets/images/nph/logo-cta.png" class="img-fluid"
          alt="Nukkad-pai-hai-chhotee-jaroorato-ka-bada-jugaad-logo" title="Nukkad-pai-hai-chhotee-jaroorato-ka-bada-jugaad-logo">
        <p>Download the app today from the App Store or Google Play for free to explore the small wonders around you.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center mt-3">
        <button class="btn mt-2"><a href="https://apps.apple.com/in/app/nukkad-pe-hai/id1439918619" target="blank"><i
              class='bx bxl-apple'></i> <span class="d-inline-block text-left"> <small class="d-block">Available on
                the</small> App Store </span> </a></button>
        <button class="btn mt-2"><a href="https://play.google.com/store/apps/details?id=com.nukkad.user" target="blank"><i
              class='bx bxl-play-store'></i> <span class="d-inline-block text-left"> <small class="d-block">Get it on
                the</small> Google Play </span> </a></button> <br><br>

      </div>
    </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>