<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="testimonialpage"
  style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Testimonials</h1>
        <h4>Serving our customers delightfully</h4>
        <p class="pt-2">With <strong class="main-text">inventive</strong> and efficient talents, Apponward has a highly skilled and innovative team that is continuously aiming for client satisfaction. <strong class="main-text">Customer retention</strong> and <strong class="main-text">recommendations</strong> are a result of our <strong class="main-text">high-quality services</strong>. We are committed to providing outstanding solutions from knowledgeable specialists, excellent value, effective communication, and <strong class="main-text">satisfied clients!</strong></p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="./assets/images/banner/banner-new/Testimonials.png" class="img-fluid" alt="Testimonials-Serving-Our-Customers-Delightfully-apponward"
            title="Testimonials-Serving-Our-Customers-Delightfully-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--testimonial section start-->
<section class="testimonial-page">
  <div class="container" id="myGroup">
    <div class="section-title text-center">
      <h2><strong>What do Our Clients Say?</strong></h2>
      <hr class="center-ball">
    </div>
    <div class=" container video-testimonials" style="width:90%;">
      <owl-carousel-o [options]="customOptions" id="client-testimonial-carousel" autoplay="true">
        <ng-template carouselSlide autoplay="true" *ngFor="let data of vdoTesimonial" autoplay="true">
          <div class="embed-responsive embed-responsive-16by9">
            <video poster="{{data?.thumbnail_url}}" src="{{data?.media_url}}" type="video" controls
              disablepictureinpicture controlsList="nodownload"></video>
            <footer><strong> {{data?.client_name}}</strong><br> - {{data?.location}}</footer>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="tab-content">
      <div id="home" class="tab-pane active">
        <div class="post-box" *ngFor="let data of txtTesimonial">
          <div style="float: left;"><img src="./assets/images/testimonial-comma-left.png"
              alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD."></div>
          <p>{{data?.description}}</p>
          <div style="float: right;"><img src="./assets/images/testimonial-comma-right.png"
              alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD."></div>
          <p><img class="rounded-circle test-img" src="{{data?.media_url}}" alt="Apponward Technology PVT. LTD."
              title="Apponward Technology PVT. LTD."><br> <span class="brk-txt"><strong> {{data?.client_name}} </strong>
              - {{data?.location}}</span></p>
        </div>
      </div>

    </div>
  </div>
</section>
<!--testimonial section end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>