/* .owl-theme .owl-nav [class*=owl-] */
/* style="max-width:80vw;position:relative;left:50%; transform: translateX(-50%)" */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  .embed-responsive {
    min-width: 300px;
    max-width: 300px;
    margin-left: 1%;
  }
}
@media only screen and (min-width: 1224px) {
  .embed-responsive {
    display: inline-block;
    margin-left: 2%;
    min-width: 450px;
    max-width: 450px;
  }
}
@media only screen and (min-width: 960px) and (max-device-width: 1224px) and (orientation: landscape) {
  .embed-responsive {
    margin: 150px;
    min-width: 400px;
    padding: 0;
  }
}
