<!--video testimonial start-->
<section class="video-testimonial">
    <div class="container">
        <div class="section-title">
            <h2><strong>What do Our Clients Say?</strong></h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 " *ngFor="let data of vdoTesimonial">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <iframe class="embed-responsive-item" src="{{data?.media_url}}" allowfullscreen></iframe> -->
                    <video poster="{{data?.thumbnail_url}}" src="{{data?.media_url}}" type="video" controls disablepictureinpicture controlsList="nodownload"></video>
                    <footer><strong> {{data?.client_name}}</strong><br> - {{data?.location}}</footer>

                </div>
            </div>
        </div>
    </div>
</section>
<!--video testimonial end-->
<!--testimonial start-->
<section class="client-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-lg-10 offset-lg-1">
                <owl-carousel-o [options]="customOptions" id="client-testimonial-carousel" autoplay="true" *ngIf="isBrowser">
                    <ng-template carouselSlide *ngFor="let data of hometxtTestimonial.slice(0-5);" autoplay="true">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0"><i class="bx bxs-quote-left"></i> {{data?.description}}<i class="bx bxs-quote-right"></i> </p>

                            <footer> <img [lazyLoad]="data?.thumbnail_url"><br> <strong> {{data?.client_name}}</strong> - {{data?.location}}</footer>
                        </blockquote>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a class="btn-primary" routerLink="/testimonials">
    View More</a>
    </div>

</section>

<!--testimonial end-->