
.btn span,.btn i {
    color: #fff;
  }
  .btn:hover{background:#fff;}
  
  .btn:hover span,.btn:hover i {
      color: #6EADE4;
    }
  /* 3173ae */

  .card img{width: 100px;}
  .card h5{font-weight: 700;}
  .card{background: #FFFFFF; box-shadow: 0px 1.19425px 11.9425px rgba(0, 0, 0, 0.1);  border-radius: 11.9425px;border: none;}