<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-nool">
  <div class="container">
    <div class="row">
      <div class="col-12  col-sm-6 col-md-6 col-lg-6  new-col" style="padding-top: 150px;">
          <img src="./assets/images/nool/logo.png">
          <h1>Shop Where You Are</h1>
          <p>Buying stuffs in bulk is now simple. Your goods are just a click away.  Nool is the go to shop for all our commodity needs.</p>
      </div>
      
      <div class="col-12  col-sm-6 col-md-6 col-lg-6">
        <img src="./assets/images/nool/banner-img.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform-by-aesthetic-entrepreuners" title="the-maetrix-an-amazing-learning-content-platform-by-aesthetic-entrepreuners">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-nool">
  <div class="background-1">
    <img src="./assets/images/nool/bg-1.png">
  </div>
  <div class="background-2">
    <img src="./assets/images/nool/bg-2.png">
  </div>
  <div class="background-3">
    <img src="./assets/images/nool/bg-3.png">
  </div>
  <div class="background-4">
    <img src="./assets/images/nool/bg-2.png">
  </div>
  <div class="background-5">
    <img src="./assets/images/nool/bg-3.png">
  </div>
  <div class="background-6">
    <img src="./assets/images/nool/bg-2.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>An App You Can’t Miss Out On </h2>
        <hr>
        <p>Forget the hassle you had to face earlier, shopping with Nool is much easier. You can join Nool as a:
        </p>
      </div>
    </div>
    <div class="row my-5 pb-5">
      <div class="card-deck">
        <div class="card text-center">
          <div class="card-body">
            <img  src="./assets/images/nool/card-1.png">
            <h5 class="card-title pt-3">Retailer</h5>
            <p class="card-text">Become a retailer with a few simple steps, and shop from your nearby locations.
            </p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <img  src="./assets/images/nool/card-2.png">
            <h5 class="card-title pt-3">Supplier</h5>
            <p class="card-text">Become a supplier and serve your customers with the endless options that Nool offers.</p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <img  src="./assets/images/nool/card-3.png">
            <h5 class="card-title pt-3">Delivery Agent</h5>
            <p class="card-text">Meet the demands of your clients by becoming a delivery agent in Nool.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="screens">
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Stay Notified</h3>
          <p>Always get notified throughout the shipping and transit process. Stay in contact with the transparent procedure from order pickup through delivery.
          </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
          <img src="./assets/images/nool/screen-1.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6">
          <h3>Unlimited choice</h3>
          <p>Choose products from the unlimited choices available on the app. Everything from veggies to electrical equipment is available in our store.
          </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
          <img src="./assets/images/nool/screen-2.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Add products to basket</h3>
          <p>Add the items to your cart, fill out the order and other details, and your order will be delivered in no time.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
          <img src="./assets/images/nool/screen-3.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          
          <h3>Multi vendor application</h3>
          <p>With a few easy steps, any retailer, supplier, or agent can join the app. Register yourself and get ready to drool with Nool.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 image">
          <img src="./assets/images/nool/screen-6.png" class="img-fluid" alt="the-maetrix-amazing-podcasts-feature" title="the-maetrix-amazing-podcasts-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Customize products</h3>
          <p>You can quickly create your own customized shopping basket using a variety of filtering and customization features.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first  image">
          <img src="./assets/images/nool/screen-7.png" class="img-fluid" alt="the-maetrix-latest-blogs-feature" title="the-maetrix-latest-blogs-feature">
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-maetrix">
  <div class="container">
      <div class="section-title text-center" style="color: #fff;">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow" style="background: linear-gradient(113.86deg, #FDFDFD 10.9%, #F5F5F5 77.96%);">
              <div class="text-center">
                  <h3>Frontend</h3>
                  <img src="/assets/images/technology/tech-stack-6.png" alt="front-end-technology-used-in-the-maetrix" title="front-end-technology-used-in-the-maetrix" class="img-fluid">
                  <p>ReactJs</p>
              </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
            <div class="padding shadow" style="background: linear-gradient(113.86deg, #FDFDFD 10.9%, #F5F5F5 77.96%);">
                <div class="text-center">
                  <h3>Backend</h3>
                        <img src="/assets/images/technology/tech-stack-8.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>NodeJs</p>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-nool">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center">
        <img src="./assets/images/nool/banner-img.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 logo-col">
        <p>If you haven't checked out this amazing app.</p>
        <button class="btn"><a href="http://nool.ae/" target="blank" ><i class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit on</small> www.nool.ae </span> </a></button>

      </div>
    </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>
