<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="techpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Technologies</h1>
        <h4>Inspiring innovation through disruptive ideas</h4>
          <p class="pt-2">We know you’re busy and your tech should work for you because “IT” is all about continuous <strong class="main-text">innovation</strong>, reinvention and real results that move a business forward.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/technologies.png" class="img-fluid" alt="Technologies-we-use-image-apponward" title="Technologies-we-use-image-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!-- ======= Technology Section ======= -->
<section class="technology">
  <div class="container">
    <div class="section-title text-center">
      <h2><strong>Technologies We Offer to Our Clients</strong></h2>
      <hr class="center-ball">
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-lg-6 col-md-6">
        <div class="member">
          <div class="row" style="margin:10px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
              <h2>Android Application</h2>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-1.png"   alt="android-studio-technology" title="android-studio-technology">
              <p>Android Studio</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/kotlin.png"   alt="Kotlin-technology" title="Kotlin-technology">
              <p>Kotlin</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-5.png" alt="java-technology" title="java-technology">
              <p>Java</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-4.png" alt="react-native-technology" title="react-native-technology">
              <p>React Native</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/flutter.png" alt="flutter-technology" title="flutter-technology">
              <p>Flutter</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-14.png" alt="ionic-technology" title="ionic-technology">
              <p>Ionic</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-md-6">
        <div class="member">
          <div class="row" style="margin:10px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
              <h2>iOS Application</h2>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-7.png" alt="x-code-technology" title="x-code-technology">
              <p>Xcode</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-9.png" alt="swift-technology" title="swift-technology">
              <p>Swift</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/obj-c.png" alt="objective-c-technology" title="objective-c-technology">
              <p>Objective C</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-4.png" alt="react-native-technology" title="react-native-technology">
              <p>React Native</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/flutter.png" alt="flutter-technology" title="flutter-technology">
              <p>Flutter</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-14.png" alt="ionic-technology" title="ionic-technology">
              <p>Ionic</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-md-6">
        <div class="member">
          <div class="row" style="margin:10px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
              <h2>Web Application</h2>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-13.png" alt="angular-technology" title="angular-technology">
              <p>Angular</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-4.png" alt="react-web-technology" title="react-web-technology">
              <p>React</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/python.png" alt="python-programming-technology" title="python-programming-technology">
              <p>Python</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/php.png" alt="php-web-programming-technology" title="php-web-programming-technology">
              <p>PHP</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/laravel.png" alt="laravel-web-technology" title="laravel-web-technology">
              <p>Laravel</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-5.png" alt="java-programming-technology" title="java-programming-technology">
              <p>Java</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-md-6">
        <div class="member">
          <div class="row" style="margin:10px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
              <h2>UI/UX Design</h2>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-15.png" alt="photoshop-application" title="photoshop-application">
              <p>Photoshop</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-16.png" alt="artificial-illustrator-application" title="artificial-illustrator-application">
              <p>Ai</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-17.png"  alt="xd-application" title="xd-application">
              <p>Xd</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-18.png" alt="in-vision-application" title="in-vision-application">
              <p>in Vision</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-19.png" alt="sketch-application" title="sketch-application">
              <p>Sketch</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-20.png" alt="figma-application" title="figma-application">
              <p>Figma</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-md-6">
        <div class="member">
          <div class="row" style="margin:10px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
              <h2>Database</h2>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-25.png" alt="my-sql-database-technology" title="Apponward Technology PVT. LTD.">
              <p>My SQL</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-26.png" alt="mongodb-database-technology" title="mongodb-database-technology">
              <P>Mongodb</P>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-27.png" alt="dynamodb-replication-database-technology" title="dynamodb-replication-database-technology">
              <p>Dynamodb</p>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-28.png" alt="firebase-database-technology" title="firebase-database-technology">
              <p>Firebase</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-29.png" alt="postgre-database-technology" title="postgre-database-technology">
              <p>PostgreSQL</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 col-md-6">
        <div class="member">
          <div class="row" style="margin:10px">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-3">
              <h2>Cloud Services</h2>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-21.png" alt="aws-cloud-technology" title="aws-cloud-technology">
              <p>AWS</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-22.png" alt="jira-technology-stack" title="jira-technology-stack">
              <p>Jira</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-23.png" alt="git-technology" title="git-technology">
              <p>Git</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
              <img src="./assets/images/technology/icon-24.png" alt="amazon-cloudwatch" title="amazon-cloudwatch">
              <p>Amazon CloudWatch</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Technology Section -->
<app-footer></app-footer>