<div class="header-row sticky" id="myHeader">
  <div class="container">
    <header class="header">
      <a _ngcontent-serverapp-c8="" routerlink="" class="navbar-brand" href="/"><img _ngcontent-serverapp-c8="" src="assets/images/apponward-white-2x.png" alt="apponward-logo" title="Apponward Technology Pvt. Ltd" class="img-fluid" /></a>
      <div class="menu-btn">
        <div class="menu-btn__lines"></div>
      </div>
      <ul class="menu-items">
        <li class="main-a">
          <p id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="menu-item expand-btn arrow" style="transform: rotate(0)">
            <a class="stretched-link">Company</a>
          </p>
          <div class="mega-menu1 expandable">
            <div class="content" style="padding: 3px; margin: 0; width: 0vw">
              <div class="">
                <div>
                  <ul class="menu-links about-padding" style="padding-left: 0; margin: 0; font-size: 3vw">
                    <li>
                        <a routerlink="/" class="menu-item" href="/">Home</a>
                    </li>
                    <li>
                      <a routerLink="/about-us" class="menu-item">About Us</a>
                    </li>
                    <li>
                      <a routerLink="/blogs" class="menu-item">Blogs</a>
                    </li>
                    <li>
                      <a routerLink="/careers" class="menu-item">Career</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="main-a service">
          <p style="transform: rotate(0)" id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" class="menu-item expand-btn arrow">
            <a class="stretched-link">Services</a>
          </p>
          <div class="mega-menu expandable center">
            <div class="content">
              <div class="col">
                <section>
                    <h2>Services</h2>
                    <p>Your one stop destination for all your developmental and marketing needs.</p>
                    <img id="myImage" src="https://www.apponward.com/assets/images/header-img-new-1.png" alt="Random Image" class="img-fluid mb-4" />
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li id="active" class="dropdown dropdown-right left-menu active" onmouseover="document.getElementById('myImage').src='https://www.apponward.com/assets/images/header-img-new-1.png'">
                      <p class="menu-item expand-btn" style="transform: rotate(0)">
                        <a class="stretched-link" routerLink="/services/mobile-app-development">Mobile App Development</a>
                      </p>
                      <ul class="menu-right expandable">
                        <li>
                          <a routerLink="/services/ios-application-services" class="menu-item">iOS Apps Development</a>
                        </li>
                        <li>
                          <a  routerLink="/services/android-application-services" class="menu-item">Android Apps Development</a>
                        </li>
                        <li>
                          <a routerLink="/services/mobile-apps-with-flutter" class="menu-item">Mobile Apps with Flutter</a>
                        </li>
                        <li>
                          <a routerLink="/services/mobile-app-development-with-react" class="menu-item">Mobile Apps with React Native</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-right left-menu" onmouseover="document.getElementById('active').className='dropdown dropdown-right left-menu unactive';" onmouseout="document.getElementById('active').className='dropdown dropdown-right left-menu active';">
                      <p class="menu-item expand-btn" onmouseover="document.getElementById('myImage').src='assets/images/header-img-new-4.png';" style="transform: rotate(0)">
                        <a class="stretched-link" routerLink="/services/web-application-services">Web App Development</a>
                      </p>
                      <ul class="menu-right expandable">
                        <li>
                          <a routerLink="/services/web-app-development-with-python-django" class="menu-item">Web Apps with Python/Django</a>
                        </li>
                        <li>
                          <a routerLink="/services/web-app-development-with-angular-and-node" class="menu-item">Web Apps with Angular and Node</a>
                        </li>
                        <li>
                          <a routerLink="/services/web-app-development-with-php-laravel" class="menu-item">Web Apps with PHP/Laravel</a>
                        </li>
                        <li>
                          <a routerLink="/services/pwa-with-angular-react" class="menu-item">PWA with Angular/React</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-right left-menu" onmouseover="document.getElementById('active').className='dropdown dropdown-right left-menu unactive';" onmouseout="document.getElementById('active').className='dropdown dropdown-right left-menu active';">
                      <p class="menu-item expand-btn"  onmouseover="document.getElementById('myImage').src='assets/images/header-img-new-2.png'" style="transform: rotate(0)">
                        <a  class="stretched-link" routerLink="/services/ui-ux-services">UI/UX Designs</a>
                      </p>
                      <ul class="menu-right expandable">
                        <li>
                          <a routerLink="/services/ui-ux-for-mobile-apps" class="menu-item">UI/UX for Mobile App</a>
                        </li>
                        <li>
                          <a routerLink="/services/ui-ux-for-web-apps" class="menu-item">UI/UX for Web App</a>
                        </li>
                        <li>
                          <a routerLink="/services/logo-design" class="menu-item">Logo Design</a>
                        </li>
                        <li>
                          <a routerLink="/services/prototyping" class="menu-item">Prototyping</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-right left-menu"  onmouseover="document.getElementById('active').className='dropdown dropdown-right left-menu unactive';" onmouseout="document.getElementById('active').className='dropdown dropdown-right left-menu active';">
                      <p class="menu-item expand-btn" onmouseover="document.getElementById('myImage').src='assets/images/header-img-new-3.png'" style="transform: rotate(0)">
                        <a  class="stretched-link"routerLink="/services/cloud-services"> Cloud Computing</a>
                      </p>
                      <ul class="menu-right expandable">
                        <li>
                          <a routerLink="/services/amazon-web-services" class="menu-item">Amazon AWS Cloud</a>
                        </li>
                        <li>
                          <a routerLink="/services/google-cloud" class="menu-item">Google Cloud Platform</a>
                        </li>
                        <li>
                          <a routerLink="/services/azure-cloud-services" class="menu-item">Microsoft Azure Cloud</a>
                        </li>
                        <li>
                          <a routerLink="/services/digital-ocean" class="menu-item">DigitalOcean Cloud</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-right left-menu" onmouseover="document.getElementById('active').className='dropdown dropdown-right left-menu unactive';" onmouseout="document.getElementById('active').className='dropdown dropdown-right left-menu active';">
                      <p class="menu-item expand-btn" onmouseover="document.getElementById('myImage').src='assets/images/header-img-new-5.png'" style="transform: rotate(0)">
                        <a class="stretched-link" routerLink="/services/digital-marketing-services"> Digital Marketing</a>
                      </p>
                      <ul class="menu-right expandable">
                        <li>
                          <a routerLink="/services/social-media-marketing" class="menu-item">Social Media Marketing (SMM)</a>
                        </li>
                        <li>
                          <a routerLink="/services/search-engine-optimization" class="menu-item">Search Engine Optimization (SEO)</a>
                        </li>
                        <li>
                          <a routerLink="/services/search-engine-marketing" class="menu-item">Google Ads / PPC (Pay-per-click)</a>
                        </li>
                        <li>
                          <a routerLink="/services/content-writing" class="menu-item">Content Writing</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li class="main-a">
          <p class="menu-item" style="transform: rotate(0)">
              <a class="stretched-link" routerLink="/portfolio">Portfolio</a>
          </p>
        </li>
        <li class="main-a">
            <p class="menu-item" style="transform: rotate(0)">
                <a class="stretched-link" routerLink="/testimonials">Testimonials</a>
            </p>
        </li>
        <li class="main-a">
          <p class="menu-item" style="transform: rotate(0)">
              <a class="stretched-link" routerLink="/contact-us">Contact Us</a>
          </p>
        </li>
      </ul>
    </header>
  </div>
</div>
<!-- Header section end -->