




.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
} 
.dropdown-submenu .dropdown{
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
} 

.dropdown-menu li, .mega-links li {
  /* border-bottom: 1px solid #f0f0f0; */
  border:none !important;
  /* font-size: 1.2vw; */
}

  .mega-menu a{
    color:#8d8d8f;
    white-space:nowrap;
    /* padding:8px; */
    font-size: 16px;
  }
  .menu-links li a {
    text-align: center;
    padding:8px 15px;
    /* background:#8d8d8f1f; */
    /* border:2px solid #fff; */
    /* text-decoration: underline; */
    color:#8d8d8f;
  }
  .menu-links li a:hover {
    text-align: center;
    /* padding:8px 15px; */
    background:#8d8d8f1f;
    /* border:2px solid #fff; */
    /* text-decoration: underline; */
    color:#8d8d8f;
  }
  .aab{
    border:none
  }
  .about-padding{
    padding:1%;
  }


  @media only screen and (min-device-width : 360px) and (max-device-width : 640px)and (orientation : portrait) {


    .stretched-link::after{position:static;
    }
    /* mobile portrait */
    .mega-menu a{
      color:#8d8d8f;
      white-space:nowrap;
      padding:5px;
      font-size: 3vw;
    }
    .abouts a{
      color:#8d8d8f;
      /* white-space:nowrap; */
      /* padding:5px; */
      font-size: 3vw;
    }
  
    .menu-links li a {
      font-size:3vw;
    }
    .menu-links li a {
      position: relative;
      left:0;
      text-align: left;
      padding:0px 15px;
      /* width:100vw; */
      margin:0;
      margin-left:10px;
      /* background:#8d8d8f1f; */
      /* border:2px solid #fff; */
      /* text-decoration: underline; */
      color:#8d8d8f;
    }
}

  
  .active  {
    color:#3473b0 !important;
    background: #f7f7f7 !important;
    
    }
    
  
  .unactive  {
    color:transparent !important;
    background: transparent !important;
    
    }
    .active p:after {
    content: "\f0da";
    position: relative;
    font-family: 'FontAwesome';
    top: 50%;
    transform: translateY('-50%');
    right: 10px;
    color:#3473b0;
    }
    

    .dropdown-submenu .dropdown{
      top: 0;
      left: 100%;
      margin-left: .1rem;
      margin-right: .1rem;
    } 
    
    .dropdown li, .mega-links li {
      /* border-bottom: 1px solid #f0f0f0; */
      border:none !important;
      /* font-size: 1.2vw; */
    }
    .menu-items li p{
      padding:0 10px;
     }
     .menu-items li p:hover a{
       padding:0;margin:0;
     }
    .menu-items li p:hover{
      padding:0 10px;
    }
    .menu-items li:hover{
      border:none;
    }
    .menu-items li{
      padding:0;
    }
    .menu-items .main-a:hover{
      border-bottom:3px solid transparent;

    }
    .menu-items .main-a:hover{
      border-bottom:3px solid #ffd74b;

    }
    .menu-right li {
      padding:5px
    }
.mega-links .dropdown .menu-item{
  padding:15px;
  margin:0;
}

.mega-links .dropdown .menu-item:hover{
  margin:0;
  padding:15px;
}





