<app-header></app-header>
<!-- ======= Hero Section ======= -->   
<section id="hero-banner-new" class="testimonialpage"  style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Career</h1>
          <h4>Opportunities With Us</h4>
          <p class="pt-2">Are you looking for a <strong class="main-text">career</strong> with purpose and <strong class="main-text">enjoyment,</strong> along with some great development <strong class="main-text">opportunities?</strong> We’re always looking for people who are interested in being a part of our story—people with passion, vitality and drive. Just like <strong class="main-text">you!</strong>
          </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="./assets/images/banner/career.png" class="img-fluid" alt="Boost-your-career-with-us-image-apponward" title="Boost-your-career-with-us-image-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
 <!-- ======= career Section ======= -->
 <section class="career" style="background: #F5F6F8;">
    <div class="container pt-3">
      <div class="section-title text-center">
        <h2><strong>Opportunities With Us</strong></h2>
        <hr class="center-ball">
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3" *ngFor="let data of careerData">
            <div class="post-box" >
                <p class="post-date"><span class="title">{{data?.position}} </span>  <span class="sub-detail" style="float:right;"><span class="mr-2"><img src="./assets/images/career-exp-icon.png"> {{data?.experience}}</span> <img src="./assets/images/career-location-icon.png"> {{data?.location}}</span></p>
                <div class="para" bind-innerHTML="data?.description  | truncate:[170, '...']">
                </div>
                  <a href="javascript:void(0);" class="readmore"  data-toggle="modal" data-target="#exampleModal"><span>Apply Now</span></a>  <a (click)="viewDetails(data.title_url)" class="view">View Details</a>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End career Section -->
  <!--apply now modal-->
  <div class="modal fade career-detail" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img src="./assets/images/apply-now.png" class="img-fluid" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
          <form [formGroup]="careerForm" (ngSubmit)="onCareerForm()">
            <div class="form-group">
              <input type="text"  placeholder="Please enter your Name" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': isFormSubmitted && f.name.errors }">
              <div *ngIf="isFormSubmitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Please enter Name.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text"  placeholder="Please enter your Email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': isFormSubmitted && f.email.errors }">
              <div *ngIf="isFormSubmitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Please enter Email.
                </div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text"  placeholder="Mobile Number" formControlName="number" class="form-control"
              [ngClass]="{ 'is-invalid': isFormSubmitted && f.number.errors }">
              <div *ngIf="isFormSubmitted && f.number.errors" class="invalid-feedback">
                <div *ngIf="f.number.errors.required">Please enter mobile Number.
                </div>
                <div *ngIf="f.number.errors.email">Nmber must be a valid mobile number</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text"  placeholder="Please enter Position" formControlName="position" class="form-control"[ngClass]="{ 'is-invalid': isFormSubmitted && f.position.errors }">
              <div *ngIf="isFormSubmitted && f.position.errors" class="invalid-feedback">
                <div *ngIf="f.position.errors.required">Please enter Position.
                </div>
              </div>
            </div>
            <div class="form-group new-file">
              <input type="file" class="custom-file-input" placeholder="" formControlName="file" (change)="onSelectFile($event)" [ngClass]="{ 'is-invalid': isFormSubmitted && f.file.errors }" > 
              <div *ngIf="isFormSubmitted && f.file.errors" class="invalid-feedback">
                <div *ngIf="f.file.errors.required">Please enter your file.
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea placeholder="Your Message" class="form-control" formControlName="message" rows="5" data-rule="required" data-msg="Please write something for us" [ngClass]="{ 'is-invalid': isFormSubmitted && f.message.errors }"></textarea>
              <div *ngIf="isFormSubmitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Please enter your Message.
                </div>
              </div>
            </div>
            <!-- <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->
            <div class="mb-3" *ngIf="!showmessage">
              <!-- <div class="loading">Loading</div> -->
              <!-- <div class="error-message"></div> -->
              <div class="alert alert-success" >{{msg}}</div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn" [ngClass]="{'disable-bt': loading, '': !loading}"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading, '': !loading}"></i> {{applyNow}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--apply now modal end-->
  <app-footer></app-footer>
