<!-- ======= core Team Section ======= -->
<section class="team">
  <div class="container">
    <div class="section-title">
      <h2>Our Pillars</h2>
      <hr class="center-ball">
      <p class="para">We at Apponward, strive to push the frontiers of customer-centric designs by developing smart logistics solutions. With a team of 70+ innovative and skilled people, We are located in Ghaziabad, the budding tech hub.</p>
    </div>
    <div>
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3 team-row-sec" *ngFor="let data of empData">
        <div class="member">
          <img src="{{data?.profile_url}}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="social">
              <a href="{{data?.facebook}}" target="blank"><i class='bx bxl-facebook' ></i></a>
              <a href="{{data?.instagram}}" target="blank"><i class='bx bxl-instagram' ></i></a>
              <a href="{{data?.linkedin}}" target="blank"><i class='bx bxl-linkedin' ></i></a>
            </div>
          </div>
          <h5 class="font-weight-bold">{{data?.name | titlecase}}</h5>
          <hr>
          <p>{{data?.designation}}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Team Section -->