<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="cloudpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Cloud Computing</h1>
        <h4>Let your system be free of the clumsy servers with our unique cloud computing solutions.</h4>
          <p class="pt-2">Uncover a quicker and more secure solution to the cloud needs with us. A powerful set of <strong class="main-text">AI tools</strong> and <strong class="main-text">sophisticated data</strong>, as well as <strong class="main-text">extensive industry knowledge.</strong> </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/cloud.png" class="img-fluid" alt="AWS-services-Image-Apponward" title="AWS-services-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="section-title">
                  <h2>We create the possibilities with Cloud Computing</h2>
                  <hr class="center-ball">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="smm">
              <h3>Amazon AWS Cloud</h3>
              <p>AWS assists businesses with a wide range of workloads, including game creation, warehousing, data processing, and many more. With AWS, we offer features that allow you to select servers based on your preferences.</p>
              <a routerLink="/services/amazon-web-services" class="new-btn"> Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
            <img src="./assets/images/cloud/cloud-01.png" class="img-fluid" alt="Amazon-AWS-Cloud-services-Image-Apponward" title="Amazon-AWS-Cloud-services-Image-Apponward">
          </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>Google Cloud Platform</h3>
            <p>Google Cloud utilises the same architecture and security offerings as Google does to protect your data, apps, infrastructures, and customers against fraudulent behavior, or spams. We utilize the Google cloud services for your data encryption, networking, data storage, and computing services.</p>
            <a routerLink="/services/google-cloud" class="new-btn"> Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
          <img src="./assets/images/cloud/cloud-02.png" class="img-fluid" alt="Google-Cloud-Platform-service-apponward" title="Google-Cloud-Platform-service-apponward">
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>Microsoft Azure Cloud</h3>
            <p>Azure enables seamless migration and a uniform platform across public and on-premise cloud environments. Azure App Service, is intended to support scalable, dependable, and cost-effective apps. We leverage Azure cloud services to provide you with a wide range of hybrid connections such as caching, VPNs, content delivery networks, and much more.</p>
            <a routerLink="/services/azure-cloud-services" class="new-btn"> Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5  order-sm-first order-md-firs torder-lg-first">
          <img src="./assets/images/cloud/cloud-03.png" class="img-fluid" alt="Microsoft-Azure-Cloud-services-apponward" title="Microsoft-Azure-Cloud-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="smm">
          <h3>DigitalOcean Cloud</h3>
          <p>Digital Ocean enables you to use the same account to create numerous server instances. It provides high-performance servers for your digital apps. We provide you a variety of solutions and services that are best suited to your application.</p>
          <a routerLink="/services/digital-ocean" class="new-btn"> Read More</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
        <img src="./assets/images/cloud/cloud-04.png" class="img-fluid" alt="Digital-Ocean-Cloud-services-apponward" title="Digital-Ocean-Cloud-services-apponward">
      </div>
    </div>
  </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Cloud Computing Services?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 pt-5">
               <p>Cloud Computing Services enable you to execute software applications without having to install them on your computers. They also allow you to save and retrieve your multimedia material through cloud storage any time.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/cloud/why-cloud.png" class="img-fluid" alt="Why-Cloud-Computing-Services-Apponward-Technologies" title="Why-Cloud-Computing-Services-Apponward-Technologies">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>