<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-heyfan">
  <div class="container">
    <div class="bg-pattern">
      <img src="./assets/images/heyfan/background.png">
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <img src="./assets/images/heyfan/banner-heyfan.png" class="img-fluid" alt="Heyfan-application-byapponward" title="Heyfan-application-byapponward">
      </div>
      
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <!--<img src="./assets/images/heyfan/logo.png">-->
        <h1>Heyfan</h1>
        <p>HeyFan is a mobile and web app made specifically for the artists and their fans. The keen fans can view the profile of their favorite artists and can make a personalized video request by paying the amount set by the artist. The artists version of the app allows them to record their videos and send it to their fans. The fan can give their reviews and ratings to the artists as well.</p>
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--ui design section start-->
<section class="ui-design-heyfan">
    <div class="container">
      <div class="background">
          <img src="./assets/images/heyfan/bg-2.png" alt="" title="Apponward Technology PVT. LTD.">
      </div>  
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2>UI Design</h2>
          <hr>
        </div>
      </div>
      <div class="screens">
        <div class="row">
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-1">
            <img src="./assets/images/heyfan/ui-design-1.png" class="img-fluid" alt="ui-design-heyfan" title="ui-design-heyfan">
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-2">
            <img src="./assets/images/heyfan/ui-design-2.png" class="img-fluid" alt="ui-design-heyfan-application" title="ui-design-heyfan-application">
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-3">
            <img src="./assets/images/heyfan/ui-design-3.png" class="img-fluid" alt="for-rick-ui-design-heyfan" title="for-rick-ui-design-heyfan">
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-4">
            <img src="./assets/images/heyfan/ui-design-4.png" class="img-fluid" alt="clara-shown-in-ui-design-heyfan" title="clara-shown-in-ui-design-heyfan">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--ui design section end-->
  <!--onboarding screen start-->
  <section class="onboarding-heyfan" style="position: relative;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Onboarding Screen</h2>
          <hr>
        </div>
      </div>
      <div class="screens">
        <div class="row">
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-1">
            <img src="./assets/images/heyfan/onboarding-screen-1.png" alt="onboarding-screen-heyfan" title="onboarding-screen-heyfan">
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-2">
            <img src="./assets/images/heyfan/onboarding-screen-2.png"  alt="second-onboarding-screen-heyfan" title="second-onboarding-screen-heyfan">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--onboarding section end-->
<!--app features section starts-->
<section class="app-feature-heyfan">
  <div class="container">
    <div class="background-1">
        <img src="./assets/images/heyfan/bg-3.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-2">
        <img src="./assets/images/heyfan/bg-2.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row new-row" style="padding-top: 100px;">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Home Page</h3>
          <p>The home page shows a list of all the celebrities who have registered in the app.
            Fans can select their desired artists from the available list.
            </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-first mt-5">
          <img src="./assets/images/heyfan/home.png" class="img-fluid" alt="list-of-all-the-celebrities-heyfan" title="list-of-all-the-celebrities-heyfan">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Artist Profile</h3>
          <p>Fans can see the profile of the celebrities here. 
            They can check the latest posts and charges of the artist. They can also subscribe, or request a video to the celebrity.
            </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
            <img src="./assets/images/heyfan/home-2.png" class="img-fluid" alt="profile-of-the-celebritie-heyfan" title="profile-of-the-celebritie-heyfan">
        </div>
      </div>
      <div class="row">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3 class="txt" style="padding-top: 70px;">Video</h3>
          <p>The artists can upload the customized video for the raised request.
            Fans can watch, like and give their feedback on the video.
            </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-first">
          <img src="./assets/images/heyfan/video.png" class="img-fluid" alt="artists-can-upload-the-customized-video" title="artists-can-upload-the-customized-video">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Share</h3>
          <p>The videos uploaded by the celebrities can also be shared with other members of the app.
          </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pb-5">
          <img src="./assets/images/heyfan/share.png" class="img-fluid" alt="share-video-with-other-members-of-the-app" title="share-video-with-other-members-of-the-app">
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack pt-5">
  <div class="container">
      <div class="section-title text-center">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow">
              <div class="text-center">
                  <h3>Frontend</h3>
                  <img src="/assets/images/maetrix/tech-icon-1.png" alt="front-end-technology-used-in-the-maetrix" title="front-end-technology-used-in-the-maetrix" class="img-fluid">
                  <p>Angular</p>
              </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
            <div class="padding shadow">
                <div class="text-center">
                  <h3>Backend</h3>
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-2.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>PHP</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-3.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>Laravel</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div> 
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-heyfan">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding-top: 50px;">
              <img src="./assets/images/heyfan/logo.png" class="img-fluid" alt="heyfan-logo" title="heyfan-logo">
              <p>If you also want to check out the popular german celebrities, visit us on our website today.</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding-top: 20px;">
            <button class="btn"><a href="https://heyfan.de/" target="blank" style="color: #fff;"> <i class='bx bx-globe'></i> <span class="d-inline-block text-left" > <small class="d-block">Visit on</small> heyfan.de </span> </a></button> 

          </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>