<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="iospage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>iOS Apps Development</h1>
                <h4>Unlock your ideas with our iOS apps</h4>
                <p class="pt-2">Our iOS apps are created using <strong class="main-text"> ultra-secure</strong> technologies that <strong class="main-text"> protect</strong> the operating system from <strong class="main-text">hacking and phishing attacks.</strong> It
                    not only promotes your organization, but also increases <strong class="main-text">productivity</strong> and <strong class="main-text">revenue</strong> by reaching out to the relevant audience.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/banner/banner-new/Services (1).png" class="img-fluid" alt="Best-iOS-App-Development-Company-Banner-Image-Apponward" title="ios-app-development-company-apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-title">
                    <h2>Tech Stack</h2>
                    <hr class="center-ball">
                    <p class="text-center">We comprehend how critical it is to select the right technological stack to successfully present your concept to the world.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/architecture.png" alt="Architecture-technology-icon-ios-app-apponward" title="Architecture-technology-icon-ios-app-apponward">
                        <h5 class="card-title mt-3">Architecture</h5>
                        <p class="card-text">We utilise the latest MVVM and MVC architectural patterns to make your application scalable, maintainable, testable, and navigable.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-5.png" alt="Technology-used-stack-icon-ios-app-apponward" title="Technology-used-stack-icon-ios-app-apponward">
                        <h5 class="card-title mt-3">Technology</h5>
                        <p class="card-text">We use the  iOS SDK and Swift programming language to create intuitive, safe, and strong Native iOS apps.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-1.png" alt="Programming-Language-icon-ios-app-apponward" title="Programming-Language-icon-ios-app-apponward">
                        <h5 class="card-title mt-3">Programming Language</h5>
                        <p class="card-text">We utilise the newest and most versatile language Flutter, React Native, to create hybrid iOS apps.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card-deck">
                <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/IDE.png" alt="IDE-technology-stack-icon-ios-app-apponward" title="IDE-technology-stack-icon-ios-app-apponward">
                        <h5 class="card-title mt-3">IDE</h5>
                        <p class="card-text">We develop robust iOS apps for you using Apple's free IDE Xcode.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/database.png" alt="Database-technology-stack-icon-ios-app-apponward" title="Database-technology-stack-icon-ios-app-apponward">
                        <h5 class="card-title mt-3">Database</h5>
                        <p class="card-text">We’re adaptable to changes. Whether it's a relational or non-relational database, we build apps that can store and retrieve all the necessary data.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why us section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-title">
                    <h2>Why iOS Application?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8 pt-5">
                <p class="why-android">The iOS platform aids in the creation of a seamless, dynamic, and reliable user experience. If you want to create a hardware-based solution, iOS App Development is the way to go. It will provide a fantastic user experience.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/why-section-ios.png" class="img-fluid" alt="why-choose-ios-applicaiton-image-apponward" title="why-choose-ios-applicaiton-image-apponward">
            </div>
        </div>
    </div>

</section>
<!--why us sectione end-->
<section class="portfolios mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Best iOS Apps</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-health-plus">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h3><a routerLink="/portfolio/health-plus">Health+</a></h3>
                    <div class="py-1">
                        <span class="tag healt-plus-tag">Healthcare</span>
                    </div>
                    <p>Health+ is the perfect partner to improve your fitness routine. Users can track their nutrition intake, workout, vitals, sleep hours, stress level and much more with this amazing fitness tracking app. It also allows the users to connect
                        with the trusted healthcare professionals and get guidence. Keep a check on your health and interact with your personal health coach with Health+.
                    </p>
                    <a routerLink="/portfolio/health-plus" class="btn btn-light dn2 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://apps.apple.com/in/app/health-maximize-your-health/id1547834390" target="_blank"> <button
                class="btn btn-download dn2 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (2).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-newsbulb">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/newsbulb">Newsbulb</a></h3>
                    <div class="py-1">
                        <span class="tag newsbulb-tag">News</span>
                    </div>
                    <p>Stay more connected to daily happenings of the world with Newsbulb. A personalized news app that will get you up to speed with the news stories most important to you with just one click. The easiest way to always stay informed because
                        your every minute counts. Find relevant news that interests you. Newsbulb covers everything from entertainment to global events.</p>
                    <a routerLink="/portfolio/newsbulb" class="btn btn-light dn3 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.newsbulb&hl=en_IN" target="_blank"> <button
                class="btn btn-download dn3 mb-5 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/us/app/news-bulb/id1497045901?ls=1" target="_blank">
              <button class="btn btn-download dn3 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (3).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a routerLink="/portfolio" class="btn-primary">View More</a></div>

</section>
<div id="blogHome">
    <app-footer></app-footer>
</div>