.footer-newsletter .form-section form button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
    margin-top: 21px;
}

.footer-newsletter .form-section {
    position: relative;
    max-width: 100%;
    display: block;
}

.footer-newsletter .form-section form {
    position: relative;
    max-width: 100%;
    display: block;
}

.footer-newsletter .form-section form .alert-success {
    position: relative;
    bottom: -80px;
    z-index: 9;
    margin-top: -80px;
    width: 100%;
}

.iti.separate-dial-code[_ngcontent-serverApp-c50] input[_ngcontent-serverApp-c50] {
    padding-left: 176px !important;
}

.alert-txt {
    position: absolute;
    top: 70px;
    font-size: 13px;
    color: #dc3545;
}