<app-header></app-header>
<app-home-banner></app-home-banner>
<app-home-portfolio></app-home-portfolio>
<app-how-we-work></app-how-we-work>
<div id="serviceTestimonial">
    <app-home-testimonail></app-home-testimonail>
</div>
<app-our-facts-data></app-our-facts-data>
<div id="services">
    <app-our-services></app-our-services>
</div>
<div id="services1">
    <app-our-presence></app-our-presence>
</div>

<!--cta section starts-->
<div class="footer-newsletter">
    <div class="container">
        <div class="form-section">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Let’s work together</h2>
                        <hr class="center-ball">
                        <p>We love to listen to your requirements



                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-4">
                    <form [formGroup]="contactUsForm" (ngSubmit)="onContactUsForm()" class="p-5">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><strong>Full Name <span style="color: red;">*</span></strong></label>
                                    <input type="text" placeholder="Full Name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.name.errors }">
                                    <div *ngIf="isFormSubmitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Please enter your Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><strong>Email <span style="color: red;">*</span></strong></label>
                                    <input type="text" placeholder="Email" formControlName="contactInfo" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.contactInfo.errors }" (keydown.space)="$event.preventDefault()">
                                    <div *ngIf="isFormSubmitted && f.contactInfo.errors" class="invalid-feedback">
                                        <div *ngIf="f.contactInfo.errors.required">Please enter your Email id dd
                                        </div>
                                        <div *ngIf="f.contactInfo.errors.email">Please enter valid Email id</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <label><strong>Country <span *ngIf="contactUsForm.get('number').value" style="color: red;">*</span></strong></label>
                                <select class="form-control" (change)="onChangeCountryCode()" name="dial_code" formControlName="dial_code">
                                  <option value="" >Select Country</option> 
                                  <option value="{{item.name}}" *ngFor="let item of countries">{{item.name}}</option> 
                                
                                </select>
                                <div class="alert-txt">{{alertText1}}</div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <!-- <div class="form-group" class="mob">
                                    <label><strong>Mobile Number</strong><span style="font-size: 12px;position: absolute; top: 17px; left: 22px;">Country Code</span> <span style="font-size: 12px; position: absolute; top: 17px; left: 112px;">Mobile Number</span></label>
                                    <ngx-intl-tel-input #ngxIntl [cssClass]="'custom'" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
SearchCountryField.Iso2,
SearchCountryField.Name
]" (countryChange)="onChangeCountryCode()" [selectFirstCountry]="false" [phoneValidation]="false" name="phone" formControlName="number" customPlaceholder="Phone No" [separateDialCode]="separateDialCode" style="position: relative;"></ngx-intl-tel-input>
                                    <div class="alert-txt">{{alertText}}</div>
                                </div> -->
                                <label><strong>Mobile Number <span *ngIf="contactUsForm.get('dial_code').value" style="color: red;">*</span></strong></label>
                                <input type="text" (keypress)="onChangeNum()" (keydown)="onChangeNum()" placeholder="Mobile Number" formControlName="number" class="form-control">
                                <div class="alert-txt">{{alertText}}</div>
                            </div>

                        </div>
                        <!--<div class="form-group">
                        <input type="text"  placeholder="Enter Project Title" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.subject.errors }">
                        <div *ngIf="isFormSubmitted && f.subject.errors" class="invalid-feedback">
                          <div *ngIf="f.subject.errors.required">Please enter Subject.
                          </div>
                        </div>
                      </div>-->
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group new-file">
                                    <label><strong>Add Attachments</strong></label>
                                    <input type="file" placeholder="" formControlName="file" (change)="onSelectFile($event)">
                                    <!-- <input type="file" placeholder="" formControlName="file" (change)="onSelectFile($event)" [ngClass]="{ 'is-invalid': isFormSubmitted && f.file.errors }" >   -->
                                    <!-- <div *ngIf="isFormSubmitted && f.file.errors" class="invalid-feedback">
<div *ngIf="f.file.errors.required">Please add your file.
</div>
</div> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label><strong>Your Message <span style="color: red;">*</span></strong></label>
                            <textarea placeholder="Message" class="form-control" formControlName="subject" rows="5" data-rule="required" data-msg="Please write something for us" [ngClass]="{ 'is-invalid': isFormSubmitted && f.subject.errors }"></textarea>
                            <div *ngIf="isFormSubmitted && f.subject.errors" class="invalid-feedback">
                                <div *ngIf="f.subject.errors.required">Please enter your Message
                                </div>
                            </div>
                        </div>


                        <!--<div class="form-group">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"  data-rule="required" data-msg="Please check captcha" [ngClass]="{ 'is-invalid': isFormSubmitted && f.recaptcha.errors }">
                        </ngx-recaptcha2>
                        <div *ngIf="isFormSubmitted && f.recaptcha.errors" class="invalid-feedback" style="display:block;">
                          <div *ngIf="f.recaptcha.errors.required">Please check captcha
                          </div>
                        </div>
                      </div>-->
                        <div class="form-group">
                            <input type="hidden" formControlName="noValue" class="form-control">
                        </div>
                        <div class="mb-3" *ngIf="!showmessage">
                            <!-- <div class="loading">Loading</div> -->
                            <!-- <div class="error-message"></div> -->
                            <div class="alert alert-success">{{msg}}</div>
                        </div>
                        <div class="contact-new-btn col-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 70px;">
                            <button class="px-5" type="submit" [ngClass]="{'disable-bt': loading, '': !loading}" style="position: absolute; left:40%;"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading, '': !loading}"></i> {{submitTxt}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end cta section-->
<div id="blogHome">
    <app-footer></app-footer>
</div>