<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-newsbulb">
  <div class="container">
    <div class="row">
      <div class="col-12  col-sm-6 col-md-6 col-lg-6 " style="margin-top: 100px;">
        <h1>Newsbulb</h1>
        <p>Stay more connected to daily happenings of the world with Newsbulb. A personalized news app that will get you up to speed with the news stories most important to you with just one click. The easiest way to always stay informed because your every minute counts. Find relevant news that interests you. NewsBulb covers everything from entertainment to global events.</p>
      </div>
      <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
        <img src="./assets/images/newsbulb/banner.png" class="img-fluid" alt="Newsbulb-a-personalized-news-applicaiton-portfolio-by-apponward" title="Newsbulb-a-personalized-news-applicaiton-portfolio-by-apponward">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-newsbulb" style="background-color: #f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h2>App features</h2>
                <hr>
            </div>
        </div>
        <div class="screens mt-5">
            <div class="row pt-5">
                <div class=" col-sm-6 col-md-6 col-lg-6 ">
                    <img src="./assets/images/newsbulb/audio-experience.png" class="img-fluid" alt="Newsbulb-experience-the-real-portfolio-by-apponward" title="Newsbulb-experience-the-real-portfolio-by-apponward">
                </div>
                <div class=" col-sm-6 col-md-6 col-lg-6 pt-5">
                    <h3>NEWSBULB- EXPERIENCE THE REAL</h3>
                    <h4><strong>Hear It Here First</strong></h4>
                    <p>Stay more connected to daily happenings of the world with Newsbulb. A personalized news app that will get you up to speed with the news stories most important to you with just one click. The easiest way to always stay informed because your every minute counts. Find relevant news that interests you. NewsBulb covers everything from entertainment to global events. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="app-feature-newsbulb">
    <div class="container">
        <div class="screens mt-5">
            <div class="row">
                
                <div class=" col-sm-6 col-md-6 col-lg-6 order-lg-2">
                    <img src="./assets/images/newsbulb/top-news.png" class="img-fluid" alt="Hassle-free-login-to-newsbulb" title="Hassle-free-login-to-newsbulb">
                </div>
                <div class=" col-sm-6 col-md-6 col-lg-6 pt-5">
                    <h3> Welcome Onboard!!</h3>
                    <p>Hassle free login to Newsbulb app with the existing Gmail, Facebook id or phone number. You can also skip the login to enjoy some limited features of the app. 
                        Choose what you want to listen to from our Preferences option. Declutter the unnecessary news whenever you want. Select the location to get all the bulletins of nearby areas in the language you want.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="app-feature-newsbulb" style="background-color: #f7f7f7;">
    <div class="container">
        <div class="screens mt-5">
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6 pt-3">
                    <img src="./assets/images/newsbulb/unbiased-analysis.png" class="img-fluid" alt="detailed step-by-step procedure-by-newsbulb" title="detailed step-by-step procedure-by-newsbulb">
                </div>
                <div class=" col-sm-6 col-md-6 col-lg-6 ">
                    <h3>The Rich Feature</h3>
                    <p>The smart intelligence based app is very convenient to use and operate with a detailed step-by-step procedure from logging in to listening to the latest news, it’s a piece of cake.</p>
                    <h4><strong>Home Page:</strong> <span class="txt"> The Home Page shows you a preview of the news or story. Bookmark or share the news through WhatsApp or other channels from the home page itself.</span></h4>
                    <h4><strong>News In Detail:</strong> <span class="txt"> Read the detailed news by clicking on the short news preview. Enjoy the easy read mode of the news in the form of: WHAT, WHO, HOW. </span></h4>
                    <h4><strong>Settings:</strong> <span class="txt"> Customize the settings anytime at your fingertips.</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-newsbulb">
    <div class="container">
        <div class="section-title text-center">
            <h2>Technology stack</h2>
            <hr class="center-ball">
        </div>
        <div class="row new-row pt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                <div class="text-center">
                  <h3>UI</h3>
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-2.png" alt="adobe-xd-ui-technology-used-in-Newsbulb" title="adobe-xd-ui-technology-used-in-Newsbulb" class="img-fluid">
                        <p>Adobe XD</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-1.png" alt="figma-ui-technology-used-in-Newsbulb" title="figma-ui-technology-used-in-Newsbulb" class="img-fluid">
                        <p>Figma</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                <div class="text-center">
                  <h3>Web Backend</h3>
                    <div class="row">

                      <div class="col-2"></div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-2.png" alt="php-web-backend-technology-used-in-Newsbulb" title="php-web-backend-technology-used-in-Newsbulb" class="img-fluid">
                        <p>PHP</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-3.png" alt="laravel-web-backend-technology-used-in-Newsbulb" title="laravel-web-backend-technology-used-in-Newsbulb" class="img-fluid">
                        <p>Laravel</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                <div class="text-center">
                  <h3>Android</h3>
                    <div class="row">
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-10.png" alt="kotlin-android-technology-used-in-Newsbulb" title="kotlin-android-technology-used-in-Newsbulb" class="img-fluid">
                        <p>Kotlin</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-11.png" alt="kotlin-android-technology-used-in-Newsbulb" title="kotlin-android-technology-used-in-Newsbulb" class="img-fluid">
                        <p>Android Studio</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-9.png" alt="mvvm-architecture-android-technology-used-in-Newsbulb" title="mvvm-architecture-android-technology-used-in-Newsbulb" class="img-fluid">
                        <p>MVVM Architecture</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
              <div class="padding shadow">
                <div class="text-center">
                  <h3>iOS</h3>
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-3.png" alt="swift-ios-technology-used-in-Newsbulb" title="Apponward Technology PVT. LTD.swift-ios-technology-used-in-Newsbulb">
                        <p>Swift</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/technology/tech-stack-4.png" alt="mvvm-architecture-ios-technology-used-in-Newsbulb" title="mvvm-architecture-ios-technology-used-in-Newsbulb" class="img-fluid">
                        <p>Xcode</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-newsbulb">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <img src="./assets/images/newsbulb/logo.png" class="img-fluid" alt="Newsbulb-experience-it" title="Newsbulb-experience-it">
                <p>An all in one source of news for every group of the society. Get your personalized news at your fingertips. Listen to the news while doing your daily chores, exercising, walking or travelling easily. 
                    The app shows the top 20 news based on the selected preferences, topics and location. Language is no more a barrier. Enjoy the news in your preferred language.
                    The offline mode of the app lets you download the visual news for later use. No need for a high speed internet to access the news. You can still be one step ahead of others with your slower connection.
                    </p>
                <div class="template-demo"> 
                    <button class="btn"><a href="https://apps.apple.com/us/app/news-bulb/id1497045901?ls=1" target="blank" ><i class='bx bxl-apple'></i> <span class="d-inline-block text-left"> <small class="d-block">Available on the</small> App Store </span></a> </button> <button class="btn"> <a href="https://play.google.com/store/apps/details?id=com.newsbulb&hl=en_IN" target="blank" ><i class='bx bxl-play-store' ></i> <span class="d-inline-block text-left"> <small class="d-block">Get it on the</small> Google Play </span></a> </button>  <button class="btn"> <a href="https://newsbulb.in/" target="blank"><i class='bx bx-globe' ></i> <span class="d-inline-block text-left"> <small class="d-block">Visit on</small> newsbulb.in </span></a> </button> 
                </div>
            </div>
        </div>
    </div>
</section>
<!--cta section end-->
<app-footer></app-footer>