<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="blogpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Blogs</h1>
        <h4>"Blogs, Fun Facts, Knowledge Bites: Combining Innovation with Fun"</h4>
          <p class="pt-2">If you want to feel <strong class="main-text">empowered, confident,</strong> and <strong class="main-text">creative</strong> with technology, explore our blogs. We believe in making technology more human.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="./assets/images/banner/banner-new/Blogs.png" class="img-fluid" alt="Best-tech-blogs-image-apponwards" title="Best-tech-blogs-image-apponwards">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!-- ======= Recent Blog Posts Section ======= -->
 <section class="recent-blog-posts">
    <div class="container">
      <div class="section-title text-center">
        <h2><strong>Our Blogs</strong></h2>
        <hr class="center-ball">
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngFor="let data of blogLists | paginate: { id:'blogLists', itemsPerPage: 4, currentPage: page, totalItems:totalRecords}">
          
          <div class="post-box">
            <div class="post-img text-center"><img src="{{data?.banner_url}}" class="img-fluid" alt="Apponward Technology PVT. LTD." title="{{data?.banner_image_alt}}"></div>
            <p class="post-date"><img src="./assets/images/author-icon.png"> {{data?.author_name}} <span class="float-right"><img src="./assets/images/date-icon.png"> {{data?.created_at}}</span></p>
            <h3 class="post-title"><a (click)="viewDetails(data.title_url)" class="readmore">{{data?.blog_title | truncate:[40, '...']}}</a></h3>
            <!-- <div class="dscrptn" bind-innerHTML="data?.summary  | truncate:[170, '...']">
            </div> -->
              <div class="dscrptn" bind-innerHTML="data?.short_description">
            </div>
            <!-- <a routerLink="/blog-details" class="readmore">Read More</a> -->
            <a (click)="viewDetails(data.title_url)" class="readmore">Read More</a>
          </div>
        </div>
      </div>
      <pagination-controls id="blogLists" max-size="500"  (pageChange)="page = $event"></pagination-controls>
    </div>
  </section><!-- End Recent Blog Posts Section -->
<app-footer></app-footer>