<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-petpro">
    <div class="background-1">
        <img src="./assets/images/petpro/banner-bg-1.png">
    </div>
    <div class="background-3">
        <img src="./assets/images/petpro/banner-bg-2.png">
    </div>
    <div class="background-2">
        <img src="./assets/images/petpro/banner-bg.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 new-col">
                <h1>Take care of your pets smartly</h1>
                <p>A pet management app that helps the lovely owners take better care of their lovely pets. It allows the users to enter and maintain information about their pets, check inventory and place orders for pet supplies. They can also access and inspect their pets’ lab reports and medical records including grooming appointments, physical and online video consultations, vaccination, and much more.</p>
            </div>
        
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 text-center pt-3">
                <img src="./assets/images/petpro/banner.png" class="img-fluid" alt="" title="">
            </div>
        </div>
    </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-petpro">
    <div class="background-1">
        <img src="./assets/images/petpro/bg-1.png">
    </div>
    <div class="background-2">
        <img src="./assets/images/petpro/bg-2.png">
    </div>
    <div class="background-3">
        <img src="./assets/images/petpro/bg-1.png">
    </div>
    <div class="background-4">
        <img src="./assets/images/petpro/bg-3.png">
    </div>
    <div class="background-5">
        <img src="./assets/images/petpro/bg-4.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2>App Features</h2>
                <hr>
            </div>
        </div>
        <div class="screens">
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                    <h3>Quick Health Consultation and Diagnosis </h3>
                    <p>The app allows the users to keep track of their pet's health. They can discuss their concerns about their pet's health with the team of pet care specialists and obtain a professional diagnosis. With video or chat consultations, users can also consult with the experts instead of making a physical presence.</p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
                    <img src="./assets/images/petpro/s-1.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6">
                    <h3>Pet grooming and vaccination</h3>
                    <p>The pet immunization services are available on-site or via delivery to the owner’s homes. The app maintains a track of the pet's vaccines and sends them to the owners on a regular basis in the form of digital vaccination cards.<br> 
                        The app also offers useful tips to understand the pets and relate to them better. The professional pet trainers employ positive and engaging training methods to train the pets efficiently.
                        </p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
                    <img src="./assets/images/petpro/s-2.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                    <h3>Digital record keeping</h3>
                    <p>All of the pet's details are securely stored and accessible via an online medical record-keeping system. By referring to prior treatments and tracking their progress at the same time, it's now much easier to deliver the optimum therapy for the pet. Users can also use the app to set up their own medication reminders so that the pet never misses a pill, immunization, or medical exam.</p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
                    <img src="./assets/images/petpro/s-3.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6">
                    <h3>Veterinary operations </h3>
                    <p>Multiple veterinary operations and surgeries are available from top veterinary surgeons. PetPro also provides a pet café and an activity center to keep the pets active, happy, and exploring. This feature allows pets to socialize with one another as pet owners meet to share their experiences and advice.</p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
                    <img src="./assets/images/petpro/s-4.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
                </div>
            </div>
        </div>
    </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro mb-5">
    <div class="container">
        <div class="section-title text-center" style="color: #fff;">
            <h2>Technology stack</h2>
            <hr class="center-ball">
        </div>
        <div class="row py-5">
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                <div class="padding shadow">
                    <div class="text-center">
                        <h3>Android</h3>
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/images/technology/tech-stack-10.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                                <p>Kotlin</p>
                            </div>
                            <div class="col-4">
                                <img src="/assets/images/technology/tech-stack-11.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                                <p>Android Studio</p>
                            </div>
                            <div class="col-4">
                                <img src="/assets/images/technology/tech-stack-9.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                                <p> MVVM Architecture</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                <div class="padding shadow">
                    <div class="text-center">
                        <h3>iOS</h3>
                          <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <img src="/assets/images/technology/tech-stack-4.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                                <p>Xcode</p>
                            </div>
                            <div class="col-4">
                                <img src="/assets/images/technology/tech-stack-3.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                                <p>Swift</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5 pt-2">
            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                <div class="padding shadow">
                    <div class="text-center">
                        <h3>Backend</h3>
                          <div class="row">
                            <div class="col-4"></div>
                            
                            <div class="col-4">
                                <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                                <p>Laravel</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-petpro mt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 col-md-7 col-lg-7 logo-col">
                <p>PetPro is a great way to show your love and care for your pet. Download the app today.</p>
                <button class="btn"><a href="https://play.google.com/store/apps/details?id=com.petpro" target="blank" ><i class='bx bxl-play-store bx-2x'></i> <span class="d-inline-block text-left"> <small class="d-block">Android App on</small> App Store </span> </a></button> <span></span>
            </div>
            
            <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center img-2">
                <img src="./assets/images/petpro/cta.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
            </div>
        </div>
    </div>
</section>
<!--cta section end-->
<app-footer></app-footer>
