<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="teampage"  style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Our Team</h1>
        <h4>"Build successful apps for every stage of your business with us"</h4>
          <p class="pt-2">There is no “I” in the team, and there are no solo efforts at our company. Our team is a big part of the reason for our successful projects. We’re <strong class="main-text">proud</strong> to have amazing teams with <strong class="main-text">incredibly</strong> talented and driven individuals who are constantly pushing our <strong class="main-text">innovation</strong> forward and helping us grow <strong class="main-text">globally</strong>.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="./assets/images/banner/banner-new/Our Team.png" class="img-fluid" alt="Our-Team-image-apponward" title="Apponward Technology PVT. LTD.">
        </div>
      </div>
    </div>
  </div>

</section>
  <!--hero end-->
  <!-- <app-core-team></app-core-team> -->
  <app-employee-team></app-employee-team>
<div id="blogHome">
  <app-footer></app-footer>
</div>