<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="aboutpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Portfolio</h1>
                <h4>Result Oriented Applications</h4>
                <p class="pt-2">Get your work done <strong class="main-text">faster</strong> and have more time for fun with
                    <strong class="main-text">powerful</strong> and <strong class="main-text">easy-to-use</strong> apps. It's never been easier to build and launch an app, but our developers make it a cakewalk with their extensive development approach.
                    We’re always looking for ways to <strong class="main-text">improve</strong> your experience.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img pt-3">
                    <img src="./assets/images/banner/banner-new/Portfolio.png" class="img-fluid" alt="Best-app-Portfolio-image-apponward" title="Best-app-Portfolio-image-apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->
<!-- ======= portfolio ======= -->
<section class="portfolios">
    <div class="container">
        <div class="section-title">
            <h2>Our Best Projects</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-happyhiv" style="background-color: #299BB8;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/petpro">PetPro</a></h3>
                    <div class="py-1">
                        <span class="tag petpro-tag" style="color:#299BB8;">Health App for Pets</span>
                    </div>
                    <p>A pet management app that helps the lovely owners take better care of their lovely pets. It allows the users to enter and maintain information about their pets, check inventory and place orders for pet supplies. They can also access and inspect their pets’ lab reports and medical records including grooming appointments, physical and online video consultations, vaccination, and much more.</p>

                    <a routerLink="/portfolio/petpro" class="btn btn-light dn13 new-btn"> View Details</a>
                    
                    <span class="mt-3 ">
                        <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.petpro" target="_blank"> <button
                            class="btn btn-download dn13 mx-2" title="Google Play">
                            <i class="bx bxl-play-store fa-2x"></i>
                        </button></a>

                    </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center meri-nav-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (4).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-health-plus">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h3><a routerLink="/portfolio/health-plus">Health+</a></h3>
                    <div class="py-1">
                        <span class="tag healt-plus-tag">Healthcare</span>
                    </div>
                    <p>Health+ is the perfect partner to improve your fitness routine. Users can track their nutrition intake, workout, vitals, sleep hours, stress level and much more with this amazing fitness tracking app. It also allows the users to connect
                        with the trusted healthcare professionals and get guidence. Keep a check on your health and interact with your personal health coach with Health+.
                    </p>
                    <a routerLink="/portfolio/health-plus" class="btn btn-light dn2 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://apps.apple.com/in/app/health-maximize-your-health/id1547834390" target="_blank"> <button
                class="btn btn-download dn2 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>
          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (2).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio-meri-navigation">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h3><a routerLink="/portfolio/meri-navigation">Meri Navigation</a></h3>
                    <div class="py-1">
                        <span class="tag meri-navigation-tag">GPS Navigation</span>
                    </div>
                    <p>Meri Navigation is an Android application that offers offline navigation to the users. With smart suggestions and voice assistance, users can find the best routes easily. It also provides real time traffic updates to let the user choose
                        the fastest possible route. Meri Navigation has different navigation modes for different users so that they can customize the app according to their needs.
                    </p>
                    <a routerLink="/portfolio/meri-navigation" class="btn btn-light dn1 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.merinavigation" target="_blank"> <button
                class="btn btn-download dn1 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center meri-nav-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (5).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-maetrix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3><a routerLink="/portfolio/the-maetrix">The Maetrix</a></h3>
                    <div class="py-1">
                        <span class="tag matrix-tag">LMS</span>
                    </div>
                    <p>Maetrix is an LMS whose prime users are Aesthetic Practitioners. It comprises multiple business development courses and video lessons for different Aesthetic Businesses. You can also read informative blogs and listen to podcasts with
                        just a click. The picture-in-picture mode of the application lets users use other apps simultaneously. One can buy or subscribe to any available course and watch the same on their smartphones, tablets or desktops.</p>
                    <a routerLink="/portfolio/the-maetrix" class="btn btn-light dn-mat new-btn mb-4"> View Details</a>
                    <div class="template-demo">
                        <button class="btn matt"><a href="https://themaetrix.com/" target="_blank"><i class='bx bx-globe'></i> <span
                  class="d-inline-block text-left"> <small class="d-block">Visit on</small> themaetrix.com </span>
              </a></button>
                    </div>
                </div>

                <div class=" col-lg-6 col-sm-12 col-md-6 order-sm-first order-md-first order-lg-first pt-1" style="width:100%;position:relative">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/maetrix-mockup(1).png" class="w-100">
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-nukkad-pe-hai">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/nukkad-pe-hai">Nukkad Pe Hai</a></h3>
                    <div class="py-1">
                        <span class="tag nph-tag">Travel & Listing</span>
                    </div>
                    <p>Nukkad Pe Hai is a mobile application which allows the users to connect with the small vendor shops like salons, tea stalls, snacks and beverages stores, etc. at their nearby areas or street corners(Nukkad). Users can also see the
                        details of the shop and navigate there. Anyone can now enjoy the unexplored small wonders of their nukkad to get their work done in no time.
                    </p>
                    <a routerLink="/portfolio/nukkad-pe-hai" class="btn btn-light dn4 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.nukkad.user" target="_blank"> <button
                class="btn btn-download dn4 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/in/app/nukkad-pe-hai/id1439918619" target="_blank">
              <button class="btn btn-download dn4  mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center nph-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/nukkad pe hai (1).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-newsbulb">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/newsbulb">Newsbulb</a></h3>
                    <div class="py-1">
                        <span class="tag newsbulb-tag">News</span>
                    </div>
                    <p>Stay more connected to daily happenings of the world with Newsbulb. A personalized news app that will get you up to speed with the news stories most important to you with just one click. The easiest way to always stay informed because
                        your every minute counts. Find relevant news that interests you. Newsbulb covers everything from entertainment to global events.</p>
                    <a routerLink="/portfolio/newsbulb" class="btn btn-light dn3 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.newsbulb&hl=en_IN" target="_blank"> <button
                class="btn btn-download dn3 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/us/app/news-bulb/id1497045901?ls=1" target="_blank">
              <button class="btn btn-download dn3 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  order-sm-first order-md-first order-lg-first text-center newsbulb-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (3).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-flowmix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6 ">
                    <h3><a routerLink="/portfolio/flowmixx">Flowmixx</a></h3>
                    <div class="py-1">
                        <span class="tag flowmixx-tag">Entertainment</span>
                    </div>
                    <p>Flowmixx is a multimedia platform designed specifically for DJs. The app allows the users to create customized song mixes, write blogs, tutorials and much more. Users can also create their own playlists and download the songs to listen
                        offline.
                    </p>
                    <a routerLink="/portfolio/flowmixx" class="btn btn-light dn-fo new-btn mb-4"> View Details</a>
                    <div class="template-demo">
                        <button class="btn flowmixx"><a href="https://flowmixx.com/#/index" target="_blank"><i
                  class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit
                    on</small> flowmixx.com </span></a> </button>
                    </div>
                </div>
                <div class=" col-lg-6 col-sm-12 col-md-6  pt-1" style="width:100%;position:relative">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/Flowmix-2(1).png" class="w-100">
                </div>
            </div>
        </div>
    </div>




    <div class="portfolio-footyedge">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/footyedge">Footyedge</a></h3>
                    <div class="py-1">
                        <span class="tag footyedge-tag">Sports</span>
                    </div>
                    <p>With over five years in development, footyedge is a predictive algorithm for Australian Rules Football (AFL). It collates a range of data and then utilises it to predict the scores and margins for each game of the AFL season. Available
                        as a free version, or as a subscription service, for more detailed prediction information.
                    </p>

                    <a routerLink="/portfolio/footyedge" class="btn btn-light dn5 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.footy.edge" target="_blank"> <button
                class="btn btn-download dn5 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/us/app/footy-edge/id1561785072" target="_blank">
              <button class="btn btn-download dn5 -2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-sm-first order-md-first order-lg-first text-center footyedge-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/Footyedge (1).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-sharedare">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/sharedare">Sharedare</a></h3>
                    <div class="py-1">
                        <span class="tag sharedare-tag">Social Networking</span>
                    </div>
                    <p>Sharedare app is a challenge sharing app which shares dare with the registered members of the app. It allows the users to discover dares and share them with others.</p>

                    <a routerLink="/portfolio/sharedare" class="btn btn-light dn6 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.sharedare" target="_blank"> <button
                class="btn btn-download dn6 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
          </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center sharedare-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/sharedare-1.png" class="img-fluid">

                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-dental-shade-navigator">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/dental-shade-navigator">Dental Shade Navigator</a></h3>
                    <div class="py-1">
                        <span class="tag dsn-tag">Healthcare</span>
                    </div>
                    <p>This application is a great assistant for dental professionals. This app can be used to check and select the best shade for direct anterior restoration. It allows the user to customize the composite materials the professionals can
                        use. It also matches the teeth color to direct composites and neutralises the uploaded image to get the best and original results.
                    </p>

                    <a routerLink="/portfolio/dental-shade-navigator" class="btn btn-light dn7 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.dentalShade&hl=en_IN" target="_blank"> <button
                class="btn btn-download dn7 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/in/app/dental-shade-navigator/id1486138470" target="_blank">
              <button class="btn btn-download dn7 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/dsn.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-heyfan">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/heyfan">Heyfan</a></h3>
                    <div class="py-1">
                        <span class="tag heyfan-tag">Social Networking</span>
                    </div>
                    <p>HeyFan is a mobile and web app made specifically for the artists and their fans. The keen fans can view the profile of their favorite artists and can make a personalized video request by paying the amount set by the artist. The artists
                        version of the app allows them to record their videos and send it to their fans. The fan can give their reviews and ratings to the artists as well.</p>
                    <a routerLink="/portfolio/heyfan" class="btn btn-light dn8 new-btn mb-4"> View Details</a>
                    <div class="template-demo">
                        <button class="btn heyfan"><a href="https://heyfan.de/" target="_blank"> <i class='bx bx-globe'></i> <span
                  class="d-inline-block text-left"> <small class="d-block">Visit on</small> heyfan.de </span>
              </a></button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/heyfan.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-happyhiv" style="background-color: #F77987;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/happyhiv">Happy HIV</a></h3>
                    <div class="py-1">
                        <span class="tag dsn-tag" style="color: 
            #F77987;">Dating</span>
                    </div>
                    <p>Happy HIV is a dating app for the HIV+ people to interact, socialize, and meet other HIV+ people. The app allows users to send friend requests, update their status, communicate, and much more. The users of this software will be able
                        to restart their lives in a fresh way.
                    </p>

                    <a routerLink="/portfolio/happyhiv" class="btn btn-light dn10 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.happyhiv" target="_blank"> <button
                class="btn btn-download dn10 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/id/app/happy-hiv/id1534491635" target="_blank">
              <button class="btn btn-download dn10 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/Happy hiv (2).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-nool">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6 ">
              <h3><a routerLink="/portfolio/nool">Nool</a></h3>
              <div class="py-1">
                <span class="tag nool-tag">E-Commerce</span>
              </div>
              <p>Nool is a multi-purpose eCommerce platform that offers more than simply buying. It was developed in order to purchase and sell goods in bulk at a reasonable price. It allows the user to buy and sell varieties of products easily. 
                Buying stuffs in bulk is now simple. Your goods are just a click away. Nool is the go to shop for all our commodity needs.</p>
              <a routerLink="/portfolio/nool" class="btn btn-light dn-no new-btn mb-4"> View Details</a>
              <div class="template-demo">
                <button class="btn nool btn-nool"><a href="http://nool.ae/" target="_blank"><i
                      class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit
                        on</small> www.nool.ae </span></a> </button>
              </div>
            </div>
            <div class=" col-lg-6 col-sm-12 col-md-6 pt-1" style="width:100%;position:relative">
                <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                </div>-->
                <img src="./assets/images/home-portfolio/nool-1.png" class="w-100">
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-happyhiv" style="background-color: #EF8903;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/coffee-karma">Coffee Karma</a></h3>
                    <div class="py-1">
                        <span class="tag coffe-karma-tag" style="color:#EF8903;">Social Media</span>
                    </div>
                    <p>Bring people together by sending coffee virtually. You can now roast your coffee and brew love with Coffee karma. The one and only app which lets you send coffee to your pals with a personalized message.</p>

                    <a routerLink="/portfolio/coffee-karma" class="btn btn-light dn11 new-btn"> View Details</a>
                    
                    <span class="mt-3 ">
                        <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.ripenapps.coffeekarma" target="_blank"> <button
                            class="btn btn-download dn11 mx-2" title="Google Play">
                            <i class="bx bxl-play-store fa-2x"></i>
                        </button></a>
                        <a href="https://apps.apple.com/pk/app/coffee-karma/id1526786598" target="_blank">
                        <button class="btn btn-download dn11 mx-2" title="Apple Store">
                            <i class="bx bxl-apple fa-2x"></i>
                        </button></a>

                    </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-sm-first order-md-first order-lg-first text-center meri-nav-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/ck.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-happyhiv" style="background-color: #2D2D2D;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/prophecy">Prophecy</a></h3>
                    <div class="py-1">
                        <span class="tag prophecy-tag" style="color:#2D2D2D;">Betting App</span>
                    </div>
                    <p>Sports pique the attention of the vast majority of sports enthusiasts. As the sport rises in popularity, fans are getting more interested in knowing more about their favorite teams and betting on the winners. Prophecy is a sports betting software that lets users track statistics and place bets on a variety of sports.</p>

                    <a routerLink="/portfolio/prophecy" class="btn btn-light dn12 new-btn"> View Details</a>
                    
                    <span class="mt-3 ">
                        <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.prophecyinvestments.app" target="_blank"> <button
                            class="btn btn-download dn12 mx-2" title="Google Play">
                            <i class="bx bxl-play-store fa-2x"></i>
                        </button></a>
                        <a href="https://apps.apple.com/us/app/prophecy-picks/id1601052616" target="_blank">
                            <button class="btn btn-download dn12 mx-2" title="Apple Store">
                                <i class="bx bxl-apple fa-2x"></i>
                            </button></a>
                        

                    </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center meri-nav-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/prophecy (4).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


</section>
<!-- End portfolio section -->
<div id="blogHome">
    <app-footer></app-footer>
</div>