.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header ul {
  list-style: none;
  margin-bottom: 0;
}
.navbar-brand img {
  width: 60%;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li p {
  /* padding: 0.5rem 1rem; */
  font-size: 18px;
  letter-spacing: 0.7px;
  color: #fff;
  font-family: open Sans, sans-serif;
  border-bottom: 3px solid transparent;
}
.menu-items li p a {
  color: #fff;
}
.menu-items li p a:hover {
  color: #fff;
}
.menu-items li:hover {
  /* background:#0c5084;*/
  color: #fff;
  border-bottom: 3px solid #ffd74b;
}
/* .menu-items li:last-child ul li a { display: block; text-align: center; } */
/* dropdown */
.head.dropdown {
  position: relative;
}
.head1.dropdown-menu,
.menu-right {
  position: absolute;
  /* background: #fff; */
  width: 100%;
  /* top: 80px !important; */
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease !important;
  display: block;
  color: #8d8d8f;
}
.head1.dropdown-menu {
  display: block !important;
}
.dropdown-menu a {
  color: #8d8d8f;
}
.dropdown-menu li,
.mega-links li {
  /* border-bottom: 1px solid #f0f0f0; */
  border: none !important;
  font-size: 16px;
}

.left-menu a:hover {
  border: none;
  color: #8d8d8f !important;
}

.menu-right {
  top: 0 !important;
  left: 110%;
}
.menu-right ul {
  margin: 0;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 1.3vw;
  /* padding: 0.5rem; */
}
.about:hover .dropdown-menu {
  /* top: 44px !important; */
  opacity: 1;
  visibility: visible;
  border: none;
  border-radius: 0 0 15px 15px;
  height: auto !important;
}
.dropdown-right:hover .menu-right {
  left: 101%;
  opacity: 1;
  visibility: visible;
}
.menu-right a {
  color: #8d8d8f !important;
  background: none !important;
}
.service:hover .active .menu-right {
  left: 101%;
  opacity: 1;
  visibility: visible;
}
/* .mega-links li:has('.active') {
  color: #3473b0;
  background: #f7f7f7;
} */
/* .service:hover .mega-links .active a {
  color: #3473b0;
  background: #f7f7f7;
}
.service:hover .mega-links .active a:after {
  content: "\f0da";
  position: relative;
  font-family: 'FontAwesome';
  top: 0;
  right: 10px;
  color:#3473b0;
} 
.dropdown-right:hover .active .menu-right {
 display: none !important;
}*/
/* .dropdown-right:hover .active .menu-right {
 display: none;
} */
/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  max-width: 1170px;
}
.mega-menu1 {
  position: absolute;
  /* left: 0; */
  /* width: 80vw; */
  top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  max-width: 1170px;
}
.mega-menu p a,
.mega-menu1 a {
  color: #8d8d8f;
  white-space: nowrap;
  padding: 0px;
  font-size: 16px;
}
.mega-menu li:hover {
  color: #3473b0;
  background: #f7f7f7;
  border: transparent;
}
.mega-menu li:hover p:after {
  content: "\f0da";
  position: relative;
  font-family: "FontAwesome";
  top: 0;
  right: 10px;
  color: #3473b0;
}
.menu-right li p:after {
  display: none;
}
.mega-menu .content {
  background: #fff;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  align-items: stretch;
}
.mega-menu1 .content {
  background: #fff;
  padding: 1rem;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 1rem; */
  width: 100%;
  /* justify-content: space-between; */
  border-radius: 0 0 15px 15px;
  align-items: stretch;
}
.blog .content {
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  /* height: 20vw; */
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: #000;
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
  color: #4a4f53;
  font-size: 14px;
}
.content .col:last-child {
  border-right: 1px solid #c3c3c3;
}
.content .col .mega-links {
  margin: 0;
  padding: 0;
}
.mega-links .dropdown {
  position: static;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li p {
  padding: 0.5rem 5px;
  color: #8d8d8f;
}
.menu-items li:hover .mega-menu,
.menu-items li:hover .mega-menu1 {
  top: 51px;
  opacity: 1;
  visibility: visible;
}
.about .dropdown-menu {
  top: 45px;
}

.content .col .read-more:hover {
  color: #ccc;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}

/* NEW STUFFS */
.arrow:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid #0000;
  border-bottom: 0;
  border-left: 0.3em solid #0000;
  top: 10px;
  position: relative;
}
/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #ffffff;
}
.menu-right {
  background: #fff;
  height: 100%;
  left: 101%;
}

/* .active-menu  {
color:#3473b0 !important;
background: #f7f7f7 !important;

}
.active-menu p:after {
content: "\f0da";
position: relative;
font-family: 'FontAwesome';
top: 0;
right: 10px;
color:#3473b0;
} */

.about li a:hover {
  color: #8d8d8f !important;
  background-color: #f7f7f7;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* MEDIA QUERY */
@media screen and (max-width: 970px) {
  .menu-btn {
    display: flex;
    align-items: center;
  }
  .header {
    align-items: center;
  }
  .center {
    position: static;
  }
  .header .menu-items {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 100%;
    right: 0;
    background: #fff;
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateX(110vw);
    transition: transform 0.3s ease-out;
  }
  .menu-items.open {
    transform: translateX(0vw);
  }

  .menu-item {
    display: block;
  }
  .menu-items li {
    /* margin: 15px 10px; */
    color: #000;
    padding: 0.1rem;
    /* border-bottom: 1px solid #f0f0f0; */
  }
  .menu-item:hover {
    color: #000;
    background: none;
  }
  .menu-items li p {
    display: flex;
    font-size: 1rem;
    color: #000 !important;
    align-items: center;
    background: none;
  }
  .menu-items li p a {
    /* padding: 0 1rem; */
    padding: 8px;
    color: #000 !important;
  }
  .menu-items li:hover {
    background-color: transparent;
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu,
  .menu-items .mega-menu1 {
    position: static;
    opacity: 1;
    top: 4rem !important;
    visibility: visible;
    padding-left: 0rem;
    width: 100%;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    /* overflow: hidden; */
    transition: all 0.2s ease;
    border: none;
  }
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleY(1);
  }
  .expandable li {
    margin: 0;
  }
  .expandable li p a {
    font-size: 1.2vw;
    /* padding: 10px 0; */
  }

  .mega-menu .content {
    grid-template-columns: auto;
    /* padding: 1rem 1rem 0 1rem; */
    padding: 0;
  }
  .mega-menu .content .col {
    width: 80vw;
    padding: 0;
    /* padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246; */
  }
  .mega-menu1 .content .col {
    width: 50vw;
    padding: 0;
  }
  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
  .mega-menu1 .content .col:nth-child(1) {
    border-top: 0px;
  }
  .content .col:first-child {
    display: none;
  }
  .content .col .mega-links {
    border-left: 0px;
    /* padding-left: 1rem; */
  }
  .col .mega-links li {
    margin: 0;
  }
  .col .mega-links p:after {
    content: "\f0da";
    position: relative;
    font-family: "FontAwesome";
    top: 0;
    right: 10px;
    color: #3473b0;
    transform: rotate(90deg);
  }
  .arrow:after {
    top: 3px;
    position: relative;
  }
  .content .col:last-child {
    border-right: none;
  }
  .mega-menu p a,
  .mega-menu1 a {
    white-space: unset;
  }
  .dropdown-menu:hover li {
    display: block;
  }
  .dropdown-menu li {
    display: none;
  }
}
