
@media (max-width: 768px){
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid, .navbar-expand-md>.container-lg, .navbar-expand-md>.container-md, .navbar-expand-md>.container-sm, .navbar-expand-md>.container-xl {
        padding-right: 10px;
        padding-left: 10px;
    }
    a#navbarDropdown.menu-item.expand-btn.arrow{
      display: flex !important;
    }
    a.menu-item.expand-btn{
      display: flex !important;
    }
}
@media (max-width: 768px){
  .cntct-model .col-12.file-new{
    padding-left: 15px !important;
  }
  .cntct-model .new-file{
    margin-top:40px;
  }
  .cntct-model .iti--allow-dropdown input[type=tel]{
    padding-right: 103px !important;
  }
  .contact .new-file{
    margin-top: 50px;
  }
  .contact .iti--allow-dropdown input[type=tel]{
    width: 329px !important;
  }
}
@media (max-width:991px){
  .navbar-expand-lg .navbar-nav .dropdown-menu-right{
    width: min-content !important;
    right:-7px !important;
  }

}
@media (max-width: 991px){
  .header-row .navbar-dark .navbar-brand img {
    width: 100%;
  }
  .header-row .navbar-dark .navbar-nav .nav-link {
    float: none !important;
    padding-top: 10px !important;
    text-align: left;
    color: white;
    padding-bottom: 10px;
  font-size: 15px !important;
}
.header-row .navbar-nav .menu-1{
  margin-top: 20px !important;
}
.header-row .navbar-dark .navbar-nav .nav-link:hover{
  background: rgba(1, 41, 112, 0.4) !important;
}
.header-row .navbar-dark .navbar-nav .nav-item:hover {

  background: rgba(1, 41, 112, 0.08)!important;
  border-radius: 10px;
  opacity: .4;
}
.header-row .navbar-dark .navbar-nav .nav-item:active {
  background: rgba(1, 41, 112, 0.4) !important;
  border-radius: 10px;
}
}

@media (max-width: 768px){
  .header-row .navbar-dark .navbar-brand img {
    width: 50%;
  }
}
@media (max-width: 768px){
  .our-services .service-shape{
    display: none;
  }
  .our-services .service-shape1{
    display: none;
  }
  .our-services .card-deck{
    margin: auto;
  }
}
@media (max-width:768px){
  .portfolios .section-title{
    margin-top: 50px !important;
  }
}
@media (max-width:768px){
  .contact .contact-new-btn button{
    left:20% !important;
  }
  .contact-section-shadow{
    padding:1rem !important;
  }
};
@media (max-width:768px){
  .footer-newsletter{
    padding-bottom: 100px !important;
    max-height: 100%;
  }
  .footer-newsletter .form-section{
    position: unset;
    top:0;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
  }
  .footer-newsletter .form-section form{
    padding: 0px !important;
  }
  .footer-newsletter .form-section button{
    position: unset !important;
    left: 0 !important;
  }
  .footer-newsletter .new-file{
    margin-top:70px;
  }
  .footer-newsletter .iti--allow-dropdown input[type=tel]{
    padding-right: 110px;
  }
    .our-presence{
    padding-bottom:0px;
  }
}
@media (max-width: 768px){
  .our-presence .new-shape, .new-shape1, .new-shape2, .new-shape3{
    display: none;
  }
  .our-presence .line-1, .line-2, .line-3, .line-4, .line-5{
    display: none;
  }

}
@media (max-width:768px){
  .section-title hr{
    width: 50%;
  }
  .portfolios h3{
    padding-top:50px !important;
  }
  .portfolios .frame{
    margin-top: 20px;
  }
  .portfolio-meri-navigation video{
    margin-top: 20px;
  }
  .banner-happyhiv{
    text-align: center;
  }
  .app-feature-happyhiv .screens h3{
    padding-top: 0px !important;

  }
  .app-feature-happyhiv {
    text-align: center;
  }
  .cta-happyhiv{
    text-align: center;
  }
  .cta-happyhiv .footer{
    padding-top: 200px !important;
  }
}
@media (max-width: 768px) {

  #hero-new h1{
  padding-top: 0px !important;
  }
}
@media (max-width: 768px) {

  #hero-new p{
  font-size: 18px !important;
  }
} 
@media (max-width: 991px) {

  .hero .download-btn + .download-btn {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
  .hero-img{
    position:absolute;
    top:-618px !important;
    width: auto !important;
    text-align: center !important;
    }
}

@media only screen and (max-width:991px){
  .hero-img {
    position: absolute;
    float: right;
    top: 150px;
    right: 17px;
    width: 425px;
    z-index: 1;
}
}
  @media (max-width: 768px) {
  
    .highlighted-feature .smm{
    text-align: center;
    }
  }
  @media(max-width:768px) {
    .features .new-shape2 {
      position: absolute;
      left: 100px;
      top:600px;
      z-index: 0;
      -webkit-animation: rotation 4s infinite linear;
      animation: rotation 4s infinite linear;
      opacity: .6;
    }
  }
@media (max-width:768px) {
  #hero-new {
    width: 100%;
    height: 62vh;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
    background-blend-mode: overlay;
  }
}
@media (max-width:768px){
  .app-dev .text-section{
    padding-top: 0px !important;
  }
}
@media (max-width: 768px) {
  
    .hero h1{
    margin-top:300px;
    }
  }

  @media(max-width:768px)
  {
    .sidebar-contact{
      width:100%;
      height:100%;
      left:100%;
    }
    .sidebar-contact .toggle{
      top:50%;
      transform:translateY(-50%);
      transition:0.5s;
    }
    .sidebar-contact.active .toggle
    {
      top:0;
      right:0;
      transform:translateY(0);
    }
    .scroll{
      width:90%;
      height:100%;
      overflow-y:hidden;
    }
    .content{
      padding:0px 50px;
    }
  }
  @media (max-width:768px){
    hr{

      border: 0;
      height: 5px;
      width: 30%;
      position: relative;
      margin: 30px auto;
      border-radius: 5px;
      
      
    }
  }
  @media(max-width:768px){
    .portfolios .portfolio-heyfan{
      background-color: rgba(10, 133, 177, 1);
      color: #fff;
      padding-top:50px;
      padding-bottom:50px;
      text-align: center;
    }
    .portfolio-heyfan img{
      padding-top: 40px;
    }
  }
  @media(max-width:768px){
    .portfolios .portfolio-cleveron img{
      margin-top: 30px;
    }
    .portfolios .portfolio-cleveron{
    text-align: center;      
    }
  }
  @media(max-width:768px){
    .portfolios .portfolio-nukkad-pe-hai{
      color: #fff;
      padding-top:10px;
      padding-bottom:50px;
      text-align: center;
    }
    .portfolios .portfolio-nukkad-pe-hai img{
        margin-top: 30px;
    }
  }
  @media(max-width:768px){
    .portfolios .portfolio-dental-shade-navigator{
      color: #fff;
      padding-top:50px;
      padding-bottom:50px;
      text-align: center;
    }
    .portfolios .portfolio-dental-shade-navigator img{
        margin-top: 30px;
    }
  }
  @media(max-width:768px){
    .portfolios .portfolio-maetrix{
      padding-top:0px !important;
      padding-bottom:50px;
      text-align: center;
    }
    .portfolios .portfolio-maetrix img{
      margin-top:30px;
    }
  }
  /*@media(max-width:768px){
    .portfolios .frame{
      margin-top:70px !important;
    }
  }*/
  @media(max-width:768px){
    .portfolios .portfolio-newsbulb{
      padding-top:10px;
      padding-bottom:50px;
      text-align: center;
    }
    .portfolios .portfolio-newsbulb img{
      margin-top:30px;
    }
  }
  @media (max-width:768px){
    .ios-section{
      margin-top:-100px !important;
    }
  }
  @media (max-width:768px){
    #client-testimonial-carousel .carousel-indicators
  {
    top:390px;
  }
  }
  @media(max-width:768px)
  {
   .video-testimonial {
      margin-top: 250px;
    }
  }
@media(max-width:768px){
    .process{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .separator:not(:empty)::before {
      margin-right: 1.25em;
      margin-left: 20px !important;
  }
  .separator:not(:empty)::after {
    margin-left: 1.25em;
    margin-right: 20px !important;
}
}
@media(max-width:768px){
    .stats .padding{
      padding-top:20px;
    }
    .stats .padding h1{
        font-size: 24px;
        font-weight: 700;
    }
  }
  @media(max-width:768px){
    .stats .content{
      padding-top:20px;
    }
  }
@media(max-width:768px){
    
.how-we-work .new-shape {
    position: absolute;
    left: 50px;
    top:-130px;
    z-index: 0;
    -webkit-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
    opacity: .9;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .how-we-work  .new-shape1 {
    position: absolute;
    right: 10%;
    top:100px;
    z-index: 0;
    -webkit-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
    opacity: .4;
  }
  .how-we-work .new-shape2 {
    position: absolute;
    left: 100px;
    top:380px;
    z-index: 0;
    -webkit-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
    opacity: .6;
  }
 .how-we-work .new-shape3 {
    position: absolute;
    right: 10%;
    top:450px;
    z-index: 0;
    -webkit-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
    opacity: .6;
  }
}
@media (max-width: 768px) {

   .new-shape1, .new-shape3, .new-shape4, .new-shape5{
  display: none;
  }
}
  @media(max-width:768px){
    .career{
    margin-top: 10px;
    }
  }

@media (max-width: 768px){
  .modal-open .modal {
    padding-bottom: 100px;
}}
  @media(max-width:768px){
    .career .post-box {
      box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
      height: 100%;
      overflow: hidden;
      border-radius: 8px;
      padding:5px;
    } 
  }
  @media(max-width:768px){
    .career span.sub-detail{
    float: none !important;
    }
  }
@media(max-width:768px){
    .service-padding img{
        margin-top: 30px;
    }
}
@media (max-width:768px){
  .recent-blog-posts .post-box .post-date{
    display: inline-block;
    
  }
  .recent-blog-posts .post-box .post-date span::after{
    content: "\a";
    white-space: pre;
  }
  .recent-blog-posts .post-box .post-date span{
    
    float: left !important;
  }
}
@media (max-width:768px){
  .blog-posts .post-box .post-sub-detail{
    display: inline-block;
    
  }
  .blog-posts .post-box .post-sub-detail span::after{
    content: "\a";
    white-space: pre;
  }
  .blog-posts .post-box .post-sub-detail span{
    
    float: left !important;
    padding-top: 10px;
  }
  .blog-posts .post-box h1{
    font-size: 18px;
  }
  .blog-posts .post-box{
    padding:16px !important;
  }
  .blog-posts .overlay{
    top:0 !important;
    padding-top:8px !important;
  }
}
@media (max-width:768px){
  #android .text-section{
    text-align: center;
    padding-top: 0px !important;
    
  }
}
@media (max-width:768px){
  .why-us .why-android{
    padding-top: 0px;
  }
}

@media (max-width:768px){
  .app-feature-newsbulb {
    padding-top: 50px !important;
    text-align: center;
  }
  .app-feature-newsbulb hr{
      height: 4px;
      width: 8%;
      border-radius: 5px;
      background-color: #000;
      margin: 30px auto !important;
  }
  .app-feature-newsbulb .screens h3{
    color: #000;
    font-weight: bold;
  }
  .app-feature-newsbulb .screens{
    margin-top: -50px !important;
    padding-bottom: 30px !important;
  }
  .app-feature-newsbulb .screens p{
    color: #000;
  }
  .app-feature-newsbulb .screens  img{
    margin-top:0px !important;
  }
  .app-feature-newsbulb .screens .row {
  margin-bottom: 30px !important;
  }
  .technology-stack{
    margin-top: 50px !important;
  }
  .technology-stack-newsbulb{
    margin-top: 50px !important;
  }
  .technology-stack .padding{
    padding:20px;
    border: 2px solid #3473B0;
    border-radius: 20px;
    background-color: #FAFAFA;
    margin: 20px !important;
  }
  .cta-newsbulb .row{
    text-align: center;
  }
  .cta-newsbulb{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9F9F9;
  }
  .cta-newsbulb a{
    color: #000000 !important;
  }
  .cta-newsbulb .row{
    text-align: center;
  }
  .cta-newsbulb p {
    padding-top: 20px;
    font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.007em;
  color: #000000;

  }
  .cta-newsbulb .template-demo button {
    border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 100px; 
  background: none; 
  margin-right: 20px;
  padding-right: 30px;
  margin-bottom: 20px !important;
  color: #000;
  }
  .cta-newsbulb .template-demo i{
  color:#000;
  font-size: 39px;
  margin-right: 10px;
  }
  .cta-newsbulb .template-demo {
    margin-top: 30px;
  }
}
@media (max-width:768px){
  .banner-newsbulb{
    padding-top: 0px !important;
    text-align: center;
  }
}
@media (max-width:768px) {
  .banner-health-plus .column-right img {
    position: unset;
  }
  .banner-health-plus {
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
@media (max-width:768px) {
  .banner-meri-navigation {
    text-align: center;
  }
  .banner-meri-navigation img{
    padding-top: 30px;
  }
}
@media (max-width:768px){
  .technology-stack .content {
    padding: 20px !important;
  }
}
@media (max-width:768px) {
  .technology-stack-maetrix .col-12{
    margin-top: 20px;
  }
}
@media (max-width:768px){
  .technology-stack-maetrix .content {
    padding: 20px !important;
  }
  .technology-stack-newsbulb p{
    font-size: 20px;
  }
  .technology-stack-newsbulb .new-row{
    padding-bottom: 0px !important;
  }
  .technology-stack p{
    font-size: 20px;
  }
}
@media (max-width:768px){
  .banner-maetrix .new-col {
    padding-top: 0px !important;
    text-align: center;
  }
  .banner-maetrix {
    padding-bottom: 50px !important;
  }
  .app-feature-maetrix .screens img{
    margin-top: -50px;
  }
  .app-feature-maetrix h2{
    text-align: center;
  }
  .app-feature-maetrix hr{
    margin: 0 auto !important;
  }
  .app-feature-maetrix .screens{
    text-align: center;
  }
  .app-feature-maetrix .screens .row {
    padding-top: 50px;
  }
  .app-feature-maetrix .background-9 {
    position: absolute;
    right: -0px;
    top: 380px;
}
.app-feature-maetrix .background-12 {
  position: absolute;
  left: -7px;
  top: 1569px;
}
.app-feature-maetrix .background-13 {
  position: absolute;
  right: 143px;
  top: 2204px;
}
.app-feature-maetrix .background-16 {
  position: absolute;
  left: -7px;
  top: 3407px;
}
  .cta-maetrix .logo-col{
    padding-top: 50px;
    text-align: center;
  }
}
@media (max-width:768px){
  .onboarding-heyfan .screen-1, .screen-2{
    position: unset;
    left: 100px !important;
    right: 100px !important;
    width: 50%;
    height: 50% !important;
    text-align: center;
  }
  .onboarding-heyfan img{
    height: 80%;
  }
  .onboarding-heyfan .screen-2  img{
    margin-top: 130px;
  }
  .banner-heyfan{
    text-align: center;
  }
  .ui-design-heyfan .screens .screen-2{
    margin-top: 150px;
  }
  .ui-design-heyfan .screens{
    text-align: center;
  }
  .app-feature-heyfan .screens img {
    margin-top:0px;
}
.app-feature-heyfan .screens .new-row {
 padding-top:0px !important;
}
.app-feature-heyfan .screens{
  text-align: center;
 }
 .cta-heyfan{
      text-align: center;
 }
 .app-feature-health-plus .screens .content-dash h3 {
  padding-top: 0px;
}
.app-feature-health-plus .screens .content-dash{
  text-align: center;
}
.app-feature-health-plus .screens .screen-1{
  margin-top: -100px !important;
}
.app-feature-health-plus .screens img {
  margin-top: 0px;
}
}
@media (max-width:768px){
  .banner-dns .column-right{
    margin-top: -70px !important;
  }
  .banner-dns{
    padding-top: 50px;
  }
}
@media (max-width:768px) {
  .portfolios .frame-new .video-maetrix{
    position: relative;
    height: 244px !important;
    width: 324px !important;
    background: url(../images/WEBSITE-FRAME.png);
    background-size: cover;
    padding-top: 15px;
    padding-left: 13.2px !important;
    padding-right: 10px;
    border-radius: 0px;
    margin-top: 50px;
    margin-left: -5%;
  }
  .portfolios .video-maetrix video { border-radius: 0 0 0 0 !important; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)  {
.portfolios .frame-new .video-maetrix{position: relative;margin: 0 auto;height: 323px !important;width: 421px !important;background: url(../images/WEBSITE-FRAME.png);background-size: cover;padding-top: 15px;padding-left: 31.2px;padding-right: 10px;border-radius: 0px;margin-top: 50px;margin-left: 5px;display: block;margin: 50px auto;}}
@media (max-width:991px) {.portfolios .frame-new .video-maetrix{position: relative; height: 196px !important; width: 259px !important;background: url(../images/WEBSITE-FRAME.png);background-size: cover;padding-top: 15px;padding-left: 31.2px;padding-right: 10px;border-radius: 0px;margin-top: 50px;margin-left: 5px;display: block;margin: 50px auto;}
.portfolios .video-maetrix video { border-radius: 0 0 0 0 !important; }}
@media (max-width:768px) {.portfolios .frame-new .video-flowmixx{position: relative;margin: 0 auto;height: 254px;width: 325px;background: url(../images/new-frame.png);background-size: cover;padding-top: 18px;padding-left: 16.2px;padding-right: 15px;border-radius: 0px;}
.portfolios .video-maetrix video { border-radius: 0 0 0 0 !important; }}
@media (max-width:991px) {.portfolios .frame-new .video-flowmixx{position: relative;  margin: 0 auto; height: 254px; width: 325px; background: url(../images/new-frame.png); background-size: cover; padding-top: 18px; padding-left: 16.2px;padding-right: 15px;border-radius: 0px;margin-top: 50px;}
.portfolios .video-maetrix video { border-radius: 0 0 0 0 !important; }
.portfolios .template-demo {display: flex;}}
@media (max-width:768px) {.video-testimonial .embed-responsive{margin-top:10px;}
.video-testimonial {margin-top: 30px;}
.client-testimonial .owl-stage{margin-top:-100px;}}
@media (max-width:768px) {#footer .footer-top .footer-links{margin-top: 0px !important;margin-bottom: 0px !important;}
#footer .footer-top {padding: 30px 0 30px 0;background: url(../images/footer.jpg);}
#footer .footer-contact .logo img{width: 50%;}
.header-row .navbar-dark .navbar-brand{width: 70%;}
.hero{text-align: center;}}
@media (min-width: 1024px) {#hero-banner {background-attachment: fixed;}}
@media (max-width: 768px) { #hero-banner-new h1{padding-top:400px;} #hero-banner-new .hero-new-img{top:-600px !important;}
#hero-banner-new{text-align: center;}
#hero-banner-new.aboutpage .hero-new-img{top:-655px !important;}
#hero-banner-new.logopage .hero-new-img{top:-877px !important;}
#hero-banner-new.awspage .hero-new-img {top:-865px !important}
#hero-banner-new.pythonwebpage .hero-new-img{top:-865px !important;}
#hero-banner-new.googlecloudpage .hero-new-img {top:-845px !important}
#hero-banner-new.digioceanpage .hero-new-img{top:-722px !important}
#hero-banner-new.azurepage .hero-new-img{top: -923px !important;}
#hero-banner-new.nodewebpage .hero-new-img{top:-919px !important;}
#hero-banner-new.phpwebpage .hero-new-img{top:-919px !important;}
#hero-banner-new.pwapage .hero-new-img{top:-843px !important;}
#hero-banner-new.protopage .hero-new-img{top:-827px !important;}
#hero-banner-new.mobileappspage .hero-new-img{top:-800px !important;}
#hero-banner-new.webappspage .hero-new-img{top:-949px !important;}
#hero-banner-new.aboutpage{text-align: center;}
#hero-banner-new.webappspage{text-align: center;}
#hero-banner-new.logopage{text-align: center;}
#hero-banner-new.mobileappspage{text-align: center;}
#hero-banner-new.protopage{text-align: center;}
#hero-banner-new.testimonialpage .hero-new-img{top:-754px !important;}
#hero-banner-new.androidpage .hero-new-img{top: -880px !important;}
#hero-banner-new.androidpage h1{padding-top: 450px !important;}
#hero-banner-new.reactpage .hero-new-img{top: -860px !important;}
#hero-banner-new.reactpage h1{padding-top: 450px !important;}
#hero-banner-new.digipage .hero-new-img{top: -880px !important;}
#hero-banner-new.digipage h1{padding-top: 450px !important;}
#hero-banner-new.seopage .hero-new-img{top: -900px !important;}
#hero-banner-new.seopage h1{padding-top: 450px !important;}
#hero-banner-new.sempage .hero-new-img{top: -892px !important;}
#hero-banner-new.sempage h1{padding-top: 350px !important;}
#hero-banner-new.contentpage .hero-new-img{top: -850px !important;}
#hero-banner-new.contentpage h1{padding-top: 350px !important;}
#hero-banner-new.cloudpage .hero-new-img{top: -746px !important;}
#hero-banner-new.cloudpage h1{padding-top: 450px !important;}
#hero-banner-new.webpage .hero-new-img{top: -880px !important;}
#hero-banner-new.smmpage .hero-new-img {top: -859px !important;}
#hero-banner-new.webpage h1{padding-top: 500px !important;}
#hero-banner-new.iospage .hero-new-img{top: -790px !important;}
#hero-banner-new.uipage .hero-new-img {position: absolute;top: -890px !important;}
#hero-banner-new h1 {padding-top: 500px;}
#hero-banner-new.servicenewpage .hero-new-img {position: absolute;top: -640px !important;}
#hero-banner-new.gallerypage .hero-new-img {position: absolute;top: -644px !important;left: 0;z-index: 5;}
#hero-banner-new.iospage h1{padding-top: 500px !important;}
#hero-banner-new.flutterpage .hero-new-img{top: -760px !important;}
#hero-banner-new.flutterpage h1{padding-top: 500px !important;}
#hero-banner-new.teampage .hero-new-img{top: -730px !important;}
#hero-banner-new.teampage h1{padding-top: 450px !important;}
#hero-banner-new.blogpage .hero-new-img{top: -650px !important;}
#hero-banner-new.blogpage h1{padding-top: 450px !important;}
#hero-banner-new.techpage .hero-new-img{top: -613px !important;}
#hero-banner-new.techpage h1{padding-top: 450px !important;}}
@media (max-width: 992px) { #hero-banner:before {content: "";background:  top left no-repeat !important;position: absolute;bottom: 0;top: 0;left: 0;right: 0;}
#hero-banner h1 {font-size: 28px;line-height: 36px;}
#hero h2 {font-size: 18px;line-height: 24px;}}
@media (max-width: 992px) {#hero-banner .container {padding-top: 0px;}}
/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ .testimonial-page br{
  display: none;
}
}
@media (max-width:768px){
  .testimonial-page .btn-primary{
    padding: 6px 20px !important;
  }
}
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {
  .client-testimonial footer br{
    display: none;
  }
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ .client-testimonial footer br{
  display: none;
}}
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {.testimonial-page br{display: none;}}
@media (max-width:768px){.testimonial-page .btn-group {margin-right: 0 !important;margin-left: 20% !important;padding-left: 0px !important;padding-right: 0px !important;text-align: none !important; align-content: none !important;display: inline-flex !important;}
.testimonial-page .nav{flex-wrap: unset !important;}
.testimonial-page .post-box{ padding: 19px !important;}
.testimonial-page .test-img{width: 60px !important;}
.testimonial-page .brk-txt{content: "/a";white-space: pre-line;line-break: auto;}
.testimonial-page .txt{font-size: 12px !important;}}
@media (max-width:768px){.contact .cont-call {margin-top:50px;}
.contact .iti--allow-dropdown input[type=tel]{padding-right: 54px;}}
@media (max-width:768px){.app-feature-footyedge .screens{padding-top:0px;}
.app-feature-footyedge .screens .col-12{padding-top:0px !important;}
.app-feature-footyedge .background-4 img{ display: none;}
.cta-footyedge .template-demo .btn{margin-bottom: 10px;}}
@media (max-width:768px){.banner-footyedge{position: relative;background-color: #0274B9;padding-top:50px !important;padding-bottom: 50px;text-align: center;}
.ui-design-footyedge {padding-top: 100px;text-align: center;}
.ui-design-footyedge h2{color: #000;font-weight: bold;}
.ui-design-footyedge hr{ height: 4px; width: 8%; border-radius: 5px; background-color: #000; margin: 30px auto !important;}
.ui-design-footyedge .screens {position: relative;z-index: 1;}
.ui-design-footyedge .screens .screen-1, .screen-3 {bottom: 0px !important;}
.ui-design-footyedge .screens .screen-2, .screen-4 {top: 0px !important;}
.app-feature-footyedge {padding-top: 100px;text-align: center;}
.app-feature-footyedge h2{color: #000;font-weight: bold;}
.app-feature-footyedge hr{height: 4px;width: 8%; border-radius: 5px;background-color: #000;margin: 30px auto !important;}
.app-feature-footyedge .screens h3{color: #000;font-weight: bold;}
.app-feature-footyedge .screens p{color: #000;}
.app-feature-footyedge .screens  img{margin-top: 0px !important;}
.app-feature-footyedge .screens .row {margin-bottom: 80px;}
.cta-footyedge{ padding-top: 100px; padding-bottom: 100px; text-align: center; background-size: cover;}
.cta-footyedge p {padding-top: 20px;color: #fff;font-size: 20px;font-family: 600;}
.cta-footyedge  button {border: 2px solid #fff;box-sizing: border-box;border-radius: 100px; background: none; margin-right: 20px;padding-right: 30px;color: #fff;}
.cta-footyedge i{color:#fff;font-size: 39px;margin-right: 10px;}}
@media (max-width:768px){.banner-sharedare{ position: relative; background-color: #0274B9; padding-top:50px !important; padding-bottom: 50px;text-align: center;}
.app-feature-sharedare {padding-top: 50px;text-align: center;}
.app-feature-sharedare h2{color: #000;font-weight: bold;}
.app-feature-sharedare hr{height: 4px;width: 8%;border-radius: 5px;background-color: #000; margin: 30px auto !important;}
.app-feature-sharedare .screens h3{color: #000;font-weight: bold;}
.app-feature-sharedare .screens p{color: #000;}
.app-feature-sharedare .screens  img{margin-top: 0px !important;}
.app-feature-sharedare .screens .row {margin-bottom: 80px;}
.app-feature-sharedare .screens{padding-top:0px; text-align: center; }
.app-feature-sharedare .screens .padding{padding-top: 0px;}
.cta-sharedare{padding-top: 50px;padding-bottom: 100px;text-align: center; background-size: cover;}
.cta-sharedare .template-demo button { margin-bottom:5px;}}
@media (max-width:768px){.banner-flowmix{position: relative;background-color: #0274B9;padding-top:0px !important;padding-bottom: 50px;text-align: center;}
.app-feature-flowmix {padding-top: 50px;text-align: center;}
.app-feature-flowmix .background-1{  position: absolute;left: 0;top:0px;z-index: 0;}
.app-feature-flowmix .background-2{ position: absolute; right: 0; top:820px;z-index: 0;}
.app-feature-flowmix .background-3{position: absolute;left: 70px;top:1120px; z-index: 0;}
.app-feature-flowmix h2{color: #000;font-weight: bold;padding-top: 60px;}
.app-feature-flowmix .card-deck{margin: 10px;}
.app-feature-flowmix .screens h3{ color: #000; font-weight: bold;}
.app-feature-flowmix .screens p{color: #000;}
.app-feature-flowmix .screens  img{margin-top: 0px !important;}
.app-feature-flowmix .screens{ padding-top:0px;text-align: center;}
.app-feature-flowmix .screens .padding{padding-top: 0px;}
.cta-flowmix{ padding-top: 50px;padding-bottom: 100px;text-align: center;background-size: cover;}
.cta-flowmix .template-demo button {margin-bottom:5px; }}
@media (max-width:768px){.why-us .col-margin{ margin-top: 50px !important;text-align: center;}}
@media (max-width:768px){.portfolios .template-demo{display: block;}
.portfolios .portfolio-footyedge{text-align: center;}
.portfolios .portfolio-flowmix{text-align: center;}
.portfolios .portfolio-happyhiv{text-align: center;}
.portfolios .portfolio-happyhiv img{padding-top:20px;}
.portfolios .portfolio-nool{text-align: center;}
.portfolios .portfolio-sharedare{text-align: center;}
.portfolios .d-block{font-weight: normal;font-size: 10px; line-height: 128.1%; letter-spacing: 0.025em;color: #FFFFFF;}
.portfolios .d-inline-block{font-weight: bold; font-size: 15px; line-height: 128.1%; letter-spacing: 0.025em; color: #FFFFFF;}}
@media (max-width:768px){.why-us{text-align: center;}}
@media (max-width:768px){#digital-marketing .text-section {  padding-top: 0px; text-align: center;} .highlighted-feature .smm {padding-top: 0px;}
.highlighted-feature .card-deck{ padding-left: 15px; padding-right: 15px;}}
@media (max-width:768px){#client-testimonial-carousel p{ margin-top: 100px;margin-right: 20px;}}
@media (max-width:768px){.app-feature-maetrix .image{ margin-top: 20px;}
.cta-maetrix{text-align: center;}}
@media (max-width: 768px) {#android .text-section{margin-left: 0px !important;}}
@media (max-width:991px) {.technology .member img { width: 80%;}}
@media (max-width: 991px){.contact .contact-details{ min-height: 300px;}
.contact .shadow{  margin: 0px !important; padding:20px; margin-top:50px !important;}
.contact .call-card{ padding-top:40px;}}
@media (max-width: 768px){.contact .contact-details{ min-height: 200px;}}
@media (max-width: 991px){.technology .member{ min-height: 400px !important;}}
@media (max-width:991px){#android .text-section { padding-top: 0px;}
.app-dev .text-section {padding-top: 0px !important;}
.why-us .why-android {padding-top: 20px !important;}}
@media (max-width:768px){.banner-coffeekarma{text-align:center; padding-top:50px !important;}
.app-feature-coffeekarma {text-align:center;}
.app-feature-coffeekarma hr{margin:30px auto !important;}
.app-feature-coffeekarma .screens .row{padding-top:10px !important;}
.app-feature-coffeekarma .screens img{margin-top: 0px !important;}
.app-feature-coffeekarma p.how-section-txt{padding-top: 0px !important;}
.technology-stack-coffee-karma img { min-height: 0px !important;}
.technology-stack-coffee-karma {text-align: center;}
.technology-stack-coffee-karma h3{padding-top:10px !important;}
.technology-stack-coffee-karma .padding{margin-bottom: 10px;}
.cta-coffee-karma{text-align: center;}
.cta-coffee-karma{padding-top: 0px !important; padding-bottom: 330px !important;}
.cta-coffee-karma .img-2 img{bottom: -330px !important;}}
@media (max-width:768px){.banner-prophecy{text-align:center; padding-top:50px !important;}
.app-feature-prophecy {text-align:center;}
.app-feature-prophecy hr{margin:30px auto !important;}
.app-feature-prophecy .screens .row{padding-top:10px !important;}
.app-feature-prophecy .screens img{margin-top: 0px !important;}
.app-feature-prophecy p.how-section-txt{padding-top: 0px !important;}
.technology-stack-prophecy img { min-height: 0px !important;}
.technology-stack-prophecy {text-align: center;}
.technology-stack-prophecy h3{padding-top:10px !important;}
.technology-stack-prophecy .padding{margin-bottom: 10px;}
.cta-prophecy{text-align: center;}
.cta-prophecy{padding-top: 0px !important; padding-bottom: 200px !important;}
.cta-prophecy .img-2 img{bottom: -199px !important;}}
@media (max-width:768px){.banner-petpro{text-align:center; padding-top:50px !important;}
.banner-petpro .new-col { margin-top: 50px !important;}
.app-feature-petpro {text-align:center;}
.app-feature-petpro hr{margin:30px auto !important;}
.app-feature-petpro .screens .row{padding-top:10px !important;}
.app-feature-petpro .screens img{margin-top: 0px !important;}
.app-feature-petpro p.how-section-txt{padding-top: 0px !important;}
.technology-stack-petpro img { min-height: 0px !important;}
.technology-stack-petpro {text-align: center;}
.technology-stack-petpro h3{padding-top:10px !important;}
.technology-stack-petpro .padding{margin-bottom: 10px;}
.cta-petpro{text-align: center;}
.cta-petpro{padding-top: 0px !important; padding-bottom: 310px !important;}
.cta-petpro .img-2 img{bottom: -283px !important;}}
@media (max-width: 768px) {.portfolios .portfolio-health-plus{text-align: center !important;}
.portfolios .portfolio-health-plus img{ margin-top: 50px !important;}}
@media (max-width: 768px) {.portfolios .portfolio-meri-navigation{text-align: center !important;}
.portfolios .portfolio-meri-navigation img{margin-top: 50px !important;}}
@media (max-width: 768px) {.portfolios .portfolio-heyfan h3,.portfolio-meri-navigation h3,.portfolio-health-plus h3,.portfolio-flowmix h3,.portfolio-dental-shade-navigator h3,.portfolio-sharedare h3,.portfolio-footyedge h3{ padding-top: 0px !important;}
.portfolios .portfolio-heyfan video {margin-top: 50px;}}
@media (max-width: 768px) {.app-feature-flowmix .screens h3 { padding-top: 0px;} }
@media (max-width:768px){.carousel-control-next-icon, .carousel-control-prev-icon{width:20px;height:20px; }}
@media (max-width:768px){.why-us .why-seo p{ margin-top: 0px; }}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0){ 
@media (min-width: 768px){.portfolios video {preload: none !important; autoplay: false !important;} }}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
  @media (min-width: 768px){
    .portfolios video { 
          autostart: false !important; 
          autoplay: 0 !important;
      }
  }
}
@media (max-width:991px){
  .header-row .navbar{
    display: block!important;
  }
  .header-row .navbar-brand{
    display: inline;
  }
  .header-row .nav-link{
    text-align: left !important;
    float:  left !important;
  }
  .header-row a.nav-link{
    padding-left: 0px !important;
    margin-top: 10px !important;
  }
  li.nav-item{
    padding-left: 0px !important;
  }
  .new-drpdwn .dropdown-menu{
    left: -51px !important;
    position: absolute !important;

  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
    float: left !important;
    left: -23px !important;
    position: absolute !important;
}
  .navbar-toggler {
    float: right !important;
  }
  .navbar .dropdown-submenu:hover .dropdown-menu {
    border-left: 0px !important;
  }
  .navbar > .container{
    display: block !important;
    padding-left:10px !important;
    padding-right: 10px !important;
  }
  .header-row .navbar{
    padding-left:10px !important;
    padding-right: 10px !important;
  }
  .navbar .dropdown-submenu .dropdown-menu.show{
    border: none !important;
    border-left: 0px !important;
    display: none;
  }
.dropdown-submenu .dropdown-menu {
  top: 0;
  left:0% !important;
  margin-left: .1rem;
  margin-right: .1rem;
  width:min-content !important;
}
.navbar .dropdown-submenu:hover ul.digital{
  display: inline-block !important;
  position: absolute !important;
  top: 10px !important;
  padding-bottom: 20px !important;
  padding-right:0px !important;
  left:-23px !important;
  border-radius: 0px 0px 12px 0px;
  width:min-content !important;
  border: 1px solid #d0d0d8;
}
.navbar .dropdown-submenu:hover ul.web{
  display: inline-block !important;
  position: absolute !important;
  top: 10px !important;
  padding-bottom: 20px !important;
  padding-right:0px !important;
  left:-23px !important;
  border-radius: 0px 0px 12px 0px;
  width:min-content !important;
  border: 1px solid #d0d0d8;
}
.navbar .dropdown-submenu:hover ul.cloud{
  display: inline-block !important;
  position: absolute !important;
  top: 10px !important;
  padding-bottom: 20px !important;
  padding-right:0px !important;
  left:-23px !important;
  border-radius: 0px 0px 12px 0px;
  width:min-content !important;
  border: 1px solid #d0d0d8;
}
.navbar .dropdown-submenu:hover ul.ui{
  display: inline-block !important;
  position: absolute !important;
  top: 10px !important;
  padding-bottom: 20px !important;
  padding-right:0px !important;
  left:-23px !important;
  border-radius: 0px 0px 12px 0px;
  width:min-content !important;
  border: 1px solid #d0d0d8;
}
}
@media (max-width:768px) {
  .our-facts .card {
      margin: auto;
      margin-top: 30px;
  }

  .our-facts .new-fact-row {
      margin-top: 0px !important;
  }
}
@media (max-width:768px) {
  .culture {
    margin-bottom: 100px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .our-facts .card {
      margin:15px;
      min-width: 306px !important;
  }

  .our-facts .card p {
      font-size: 13px !important;
  }

  .our-facts h4 {
      font-size: 15px;
  }
}

/* landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .our-facts .card {
      margin:15px;
      min-width: 100px !important;
  }

  .our-facts .card-header img {
      width: 50%;
  }

  .our-facts .card p {
      font-size: 13px !important;
  }

  .our-facts h4 {
      font-size: 15px;
  }
}
@media (max-width:991px) {
    .portfolios .video-newsbulb video {
      border-radius: 0 0 22px 22px;
      height: 480px !important;
      width: 255px !important;
      background-size: cover;
      padding-top: 7px;
      padding-left: 6px;
      padding-right: 2px;
      padding-bottom: 7px;
  }
  

}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .portfolios .frame-new .video-maetrix{
    position: relative;
    margin: 0 auto;
    height: 284px;
    width: 384px;
    background-size: cover;
    padding-top: 19px;
    padding-left: 14.2px;
    padding-right: 14px;
    border-radius: 0px;
  }
}

@media (max-width:768px) {
  .portfolios .video-newsbulb video {
    border-radius: 0 0 22px 22px;
    height: 512px !important;
    width: 262px !important;
    background-size: cover;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 6px;
    padding-bottom: 3px;
}


}
@media (max-width:768px){
  .team-1 .card-block{
    margin-left:0px !important;
  }
  .team-1{
    text-align: center;
  }
  .card-1{
    text-align: center;
  }
  .card-1 .team-1 p.card-text{
    text-align: center !important;
  }
  .team-2 .card-block{
    margin-left:0px !important;
  }
  .team-2{
    text-align: center;
  }
  .card-2{
    text-align: center;
  }
  .card-2 .team-2 p.card-text{
    text-align: center !important;
  }
}