<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="servicenewpage"  style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Services</h1>
          <h4>Your one stop destination for all your developmental and marketing needs. </h4>
          <p class="pt-2">We <strong class="main-text">strive</strong> to go beyond to just <strong class="main-text">meet</strong> the Customer expectations by consistently <strong class="main-text">focusing</strong> on and achieving the things they <strong class="main-text">value.</strong></p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/services.png" class="img-fluid" alt="Best-app-developemt-and-Marketing-Services-image-apponward" title="Apponward Technology PVT. LTD.">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--android app section-->
<section id="android" class="service-padding app-dev">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="text-section">
          <h2>Android Application Development</h2>
          <p>In this era of Smart Technologies, we, at Apponward, have realized that the most efficient way to connect with the entire world and spread your business is through Internet and Apps and as we know, Android Apps are the one who have captured more than 60% of the share in the Apps Market.  </p>
          <a routerLink="/services/android-application-services" class="new-btn"> Read More</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-first order-lg-first">
        <img src="./assets/images/services/android-app-development-new.jpg" class="img-fluid"  alt="android-application-development-company-apponward" title="Apponward Technology PVT. LTD.">
      </div>
    </div>
  </div>
</section>
<!--android app section end-->
<!--ios app section-->
<section id="android" class="service-padding app-dev">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="text-section">
          <h2>iOS Application Development</h2>
          <p>Have an exceptional idea for an iOS app? But not finding any solution? Don’t worry. We have got you covered. Apple is a renowned name in the mobile app development industry. From iPhones to iPads, we develop apps keeping the ease of the end users in our mind. With a team of highly skilled and experienced iOS developers, we help businesses and startups to achieve their goals.</p>
          <a routerLink="/services/ios-application-services" class="new-btn"> Read More</a>
        </div>
      </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
      <img src="./assets/images/services/ios.svg" class="img-fluid"  alt="ios-application-development-company-apponward" title="Apponward Technology PVT. LTD.">
    </div>
  </div>
  </div>
</section>
<!--ios app section end-->
<!--web app section-->
<section id="android" class="service-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="text-section">
                <h2>Web Application Development</h2>
                <p>Just like there are different kinds of websites for different companies and purposes, there are also different ways to build a web application.
                  We provide expert web application development with a rapid deployment delivery model. Productive, intelligent, and elegant web application that enables companies to better manage their tasks.
                  With our Web application development services, we can create a website of the perfect size and type for your business.
                  </p>
                <a routerLink="/services/web-application-services" class="new-btn"> Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center  order-sm-first order-md-first order-lg-first">
                <img src="./assets/images/services/web-app-new.jpg" class="img-fluid"  alt="web-application-development-company-apponward" title="Apponward Technology PVT. LTD.">
            </div>
        </div>
    </div>
</section>
<!--web app section end-->
<!--ux/ui section-->
<section id="android" class="service-padding">
<div class="container">
<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
    <div class="text-section">
      <h2>UI & UX Design</h2>
      <p>UI/UX Designing is all about making things beautiful and easy to use. We’re crafting a digital design for an era of machines that help us see things clearer 
        and make decisions faster. As passionate UX designers, we’re constantly thinking about solving problems and creating meaningful experiences through unique designs.
        We achieve consistency across many screens and devices in large scale digital product design.
        </p>
      <a routerLink="/services/ui-ux-services" class="new-btn"> Read More</a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
    <img src="./assets/images/services/uiux.svg" class="img-fluid"  alt="ui-ux-design-by-apponward" title="Apponward Technology PVT. LTD.">
  </div>
</div>
</div>
</section>
<!--ux/ui section end-->
<!--hybrid mobile app section-->
<section id="android" class="service-padding app-dev">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="text-section">
          <h2>Hybrid Mobile App Development</h2>
          <p>We are a hybrid app development company and we create intuitive, responsive software tailored to meet your needs.
            We make it easy for you to keep up with the latest trends in hybrid app development. 
            Hybrid app development combines the best of web and native apps to deliver a truly winning experience.
            
            Using a hybrid approach to app development, we ensure to deliver the best of both worlds- maximizing flexibility and ease-of-use with the limitless scalability, performance, and security.
            </p>
          <a routerLink="/services/hybrid-mobile-app-services" class="new-btn" id="hybridService"> Read More</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center  order-sm-first order-md-first order-lg-first">
        <img src="./assets/images/services/hybrid-mobile-app.svg" class="img-fluid"  alt="hybrid-mobile-application-development-company-apponward" title="Apponward Technology PVT. LTD.">
      </div>
    </div>
  </div>
</section>
<!--hybrid app section end-->
<!--aws section-->
<section id="android"  class="service-padding app-dev">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="text-section">
          <h2>Cloud Services</h2>
          <p>Any service reaching consumers over the internet provided by the cloud service provider is referred to as a Cloud service. Amazon Web Services (AWS), Microsoft Azure and Google Cloud are amongst the most popular cloud service providers.</p>
          <a routerLink="/services/cloud-services" class="new-btn" id="cloudService"> Read More</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
        <img src="./assets/images/services/cloud-service.svg" class="img-fluid"  alt="cloud-services-by-apponward" title="Apponward Technology PVT. LTD.">
      </div>
    </div>
  </div>
</section>
<!--aws section end-->
<!--digital marketinng section-->
<section id="android"  class="service-padding service-digital">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="text-section">
          <h2>Digital Marketing</h2>
          <p class="text-padding">“The best marketing doesn’t feel like marketing.” – Tom Fishburne
            Want to grow your business digitally globally? We've got you covered with our digital marketing service. We power your dreams digitally to take your business to the top. We have got the technology which allows you to maintain a rich connection digitally with a wider and larger audience. See your business growing online, with us.
            </p>
          <a routerLink="/services/digital-marketing-services" class="new-btn" id="digiService"> Read More</a>
              
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center  order-sm-first order-md-first order-lg-first">
        <img src="./assets/images/services/digital-marketing.svg" class="img-fluid"  alt="digital-marketing-services-by-apponward" title="Apponward Technology PVT. LTD.">
      </div>
    </div>
  </div>
</section>
<!--digital marketing section end-->
<div id="blogHome"><app-footer></app-footer></div>