 <!-- ======= process ======= -->
 <section class="process">
    <div class="container">
        <div class="section-title">
            <h2>We follow Agile Scrum Methodology!</h2>
            <hr class="center-ball">
            <p>“IT Strategy executed with Agility, delivered with Passion”
              Our team is a band of creative geeks and designers who collaborate with you to create customized IT solutions that fit your needs, style, and budget. We design IT solutions that are always on and constantly adapting.</p>
        </div>
        <img src="/assets/images/our-process-4x.png" class="img-fluid" alt="our-process-apponward" title="our-process-apponward">
    </div>
  </section>
<!-- End process -->