<!-- ======= Team Section ======= -->
<section class="team">
    <div class="container">
      <div class="section-title">
        <h2>Management Team</h2>
        <hr class="center-ball">
        <p class="para">We're a team of 50+ people based in Noida, Uttar Pradesh. Half of us work on the designing and coding, and the other half work with the community. We love what we do, and who we do it with.</p>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <div class="member">
            <img src="/assets/images/team/team-img.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="social">
                <a href=""><i class='bx bxl-instagram' ></i></a>
                <a href=""><i class='bx bxl-linkedin' ></i></a>
              </div>
            </div>
            <h5 class="font-weight-bold">Johny Vinni</h5>
            <hr>
            <p>Co- Founder</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <div class="member">
            <img src="/assets/images/team/team-img.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="social">
                <a href=""><i class='bx bxl-instagram' ></i></a>
                <a href=""><i class='bx bxl-linkedin' ></i></a>
              </div>
            </div>
            <h5 class="font-weight-bold">Johny Vinni</h5>
            <hr>
            <p>Co- Founder</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <div class="member">
            <img src="/assets/images/team/team-img.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="social">
                <a href=""><i class='bx bxl-instagram' ></i></a>
                <a href=""><i class='bx bxl-linkedin' ></i></a>
              </div>
            </div>
            <h5 class="font-weight-bold">Johny Vinni</h5>
            <hr>
            <p>Co- Founder</p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End Team Section -->