<!-- <div id="loader" style="display: block !important;"></div> -->
<div class="overlay">
	<div class="overlayDoor"></div>
	<div class="overlayContent">
		<div class="loader">
			<div class="inner"></div>
		</div>
		<div class="skip"><img src="assets/images/apponward-white-2x.png"></div>
	</div>
</div>
<router-outlet></router-outlet>
