<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-flowmix">
  <div class="container">
    <div class="background">
        <img src="./assets/images/flowmix/banner-bg.png" class="img-fluid"> 
    </div>  
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-left">
        <!--<img src="./assets/images/flowmix/logo.png" class="img-fluid" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">-->
        <h1>Flowmixx</h1>
        <p>Flowmixx is a multimedia platform designed specifically for DJs. The app allows the users to create customized song mixes, write blogs, tutorials and much more. Users can also create their own playlists and download the songs to listen offline.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <img src="./assets/images/flowmix/flowmix-banner.png" class="img-fluid" alt="Flowmixx-multimedia-platform-designed-djs" title="Flowmixx-multimedia-platform-designed-djs">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-flowmix">
    <div class="container">
        <div class="background-1">
            <img src="./assets/images/flowmix/bg-1.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
        </div>
        <div class="background-2">
            <img src="./assets/images/flowmix/bg-2.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
        </div>
        <div class="background-3">
            <img src="./assets/images/flowmix/bg-3.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
        </div>
        <div class="section-title text-center pt-5">
            <h2>Powerful Feature</h2>
            <hr class="center-ball">
        </div>
    
        <div class="row pt-5">
            <div class="card-deck">
                <div class="card text-center">
                  <div class="card-body">
                    <p><img src="./assets/images/flowmix/icon-1.png" alt="Songs-have-multiple-revamped-version-features" title="Songs-have-multiple-revamped-version-features"></p>
                    <p class="card-text">Songs have multiple revamped version also features a made for you mixes.</p>
                  </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/flowmix/icon-2.png" alt="Artist-can-write-blog-here" title="Artist-can-write-blog-here"></p>
                      <p class="card-text">Artist can write blog here.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/flowmix/icon-3.png" alt="Artist-can-add-tutorials-as-well" title="Artist-can-add-tutorials-as-well"></p>
                      <p class="card-text">Artist can add tutorials as well.</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/flowmix/icon-4.png" alt="Users-can-create-their-own-playlists" title="Users-can-create-their-own-playlists"></p>
                      <p class="card-text">Users can create their own playlists.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck mt-3">
                <div class="card text-center">
                  <div class="card-body">
                    <p><img src="./assets/images/flowmix/icon-5.png" alt="user-can-download-the-version-songs" title="user-can-download-the-version-songs"></p>
                    <p class="card-text">User can download the multiple revamped versions of songs.</p>
                  </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/flowmix/icon-6.png" alt="Immersive-experience" title="Immersive-experience"></p>
                      <p class="card-text">Immersive experience</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/flowmix/icon-7.png" alt="Membership-plans" title="Membership-plans"></p>
                      <p class="card-text">Membership plans</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                      <p><img src="./assets/images/flowmix/icon-8.png" alt="You-can-add-more-here-songs" title="You-can-add-more-here-songs"></p>
                      <p class="card-text">You can add more here.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="screens">
            <div class="row pt-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-3 screen-dash  order-sm-2 order-md-2 order-lg-2">
                    <img src="./assets/images/flowmix/screen-1.png" class="img-fluid" alt="Explore-on-flowmixx" title="Explore-on-flowmixx">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5 content-dash">
                    <h3>Explore</h3>
                    <p>Flowmixx is a multimedia platform designed specifically for DJs. The app has multiple revamped versions of songs which can be used to create customized song mixes. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="./assets/images/flowmix/screen-3.png" class="img-fluid" alt="search-tools-on-flowmixx" title="search-tools-on-flowmixx">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  pt-5">
                    <h3>Tools</h3>
                    <p>Users can also add more songs to the app. The app has different membership plans with multiple benefits which can be availed by taking the subscriptions.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  order-sm-2 order-md-2 order-lg-2">
                    <img src="./assets/images/flowmix/screen-2.png" class="img-fluid" alt="create-your-playlists-here" title="create-your-playlists-here">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
                    <h3>Playlist</h3>
                    <p>Creating your own custom playlists is now easy with Flowmixx. The app also allows the users to download the songs for offline use.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="./assets/images/flowmix/screen-4.png" class="img-fluid" alt="write-blogs-here" title="write-blogs-here">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
                    <h3>Blogs</h3>
                    <p>Users who are fond of writing can also write blogs on Flowmixx. The app also has the feature to create tutorials on different topics for the other users to learn.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack">
  <div class="container">
      <div class="section-title text-center">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow">
              <div class="text-center">
                  <h3>Frontend</h3>
                  <img src="/assets/images/maetrix/tech-icon-1.png" alt="front-end-technology-used-in-the-maetrix" title="front-end-technology-used-in-the-maetrix" class="img-fluid">
                  <p>Angular</p>
              </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
            <div class="padding shadow">
                <div class="text-center">
                  <h3>Backend</h3>
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-2.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>PHP</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-3.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>Laravel</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-flowmix">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <img src="./assets/images/flowmix/logo.png" class="img-fluid" alt="flowmixx-logo" title="flowmixx-logo">
              <p>Visit us on our website today</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center pt-3">
                <button class="btn"><a href="https://flowmixx.com/#/index" target="blank"><i class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit us on </small> Flowmixx.com </span> </a></button><br><br>
           </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>

