<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="logopage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Logo Design</h1>
        <h4>Designing Complex Logos easily Unique Logos, Unique You</h4>
          <p class="pt-2">A unique logo design catches the eye, makes a good <strong class="main-text">first impression</strong>, serves as the <strong class="main-text">cornerstone of the brand identity</strong>, distinguishes you from the <strong class="main-text">competitors, encourages brand awareness</strong>, and is anticipated by your target audience. 
            We assist you with <strong class="main-text">creating new and distinctive logos</strong> that effectively communicate your ideas, personality, products, and services to potential customers.
            </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/ui-ux/logo-design.png" class="img-fluid" alt="Logo-Design-services-image-apponward" title="Logo-Design-services-image-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2>We design the brand image of your business</h2>
                  <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Discover-Icon-Apponward" title="Discover-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Discover</h5>
                    <p class="card-text">Information on the client's business, including its history, competitors, and target audience, is collected.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Research-Icon-Apponward" title="Research-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Research</h5>
                    <p class="card-text">In-depth analysis of the industry is performed including visual research and findings.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Brainstorm-Icon-Apponward" title="Brainstorm-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Brainstorm</h5>
                    <p class="card-text"> Ideas are developed and the best design directions are created.</p>
                  </div>
                </div>
            </div>
            <div class="card-deck mt-5">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Desing-and-sketch-Icon-Apponward" title="Desing-and-sketch-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">UI Design</h5>
                  <p class="card-text">We design a user-friendly interface that makes it simple for users to learn how to operate complicated technical products.</p>
                </div>
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Delivery-Icon-Apponward" title="Delivery-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Prototyping</h5>
                  <p class="card-text">Our designers turn ideas into graphical forms in order to catch design concepts and test them on the end users.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Logo Design?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>Logo design leads business to the path of success by presenting a unique personality of the brand. It draws the attention of customers, create a positive first impression, serves as the cornerstone of the brand image, and is anticipated by your target audience. It is a process that begins with project ideas and continues through customer experience and designing to final launch.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/ui-ux/Design inspiration-bro 1.png" class="img-fluid" alt="Why-Choose-Apponward-for-Logo-Design-Image" title="Why-Choose-Apponward-for-Logo-Design-Image">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>
