<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-maetrix">
  <div class="container">
    <div class="background-1">
      <img src="./assets/images/maetrix/Maetrix-LogoHorizontal.png">
    </div>
    <div class="background-2">
      <img src="./assets/images/maetrix/Group-3006.png">
    </div>
    <div class="background-3">
      <img src="./assets/images/maetrix/Group-3006.png">
    </div>
    <div class="row">
      <div class="col-12  col-sm-6 col-md-6 col-lg-6">
        <img src="./assets/images/maetrix/banner-new-img.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform-by-aesthetic-entrepreuners" title="the-maetrix-an-amazing-learning-content-platform-by-aesthetic-entrepreuners">
      </div>
      <div class="col-12  col-sm-6 col-md-6 col-lg-6  new-col" style="padding-top: 150px;">
          <img src="./assets/images/maetrix/logo.png">
          <h1>The Maetrix</h1>
          <p>Trying to find data-driven ways to train yourself in Aesthetic business. 
            Maetrix is made easier than ever to learn each and every facet of the Aesthetic market.
            </p>
        </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-maetrix">
  <div class="background-1">
    <img src="./assets/images/maetrix/circle-bg-1.png">
  </div>
  <div class="background-2">
    <img src="./assets/images/maetrix/circle-bg.png">
  </div>
  <div class="background-3">
    <img src="./assets/images/maetrix/circle-bg-1.png">
  </div>
  <div class="background-4">
    <img src="./assets/images/maetrix/circle-bg.png">
  </div>
  <div class="background-5">
    <img src="./assets/images/maetrix/circle-bg-1.png">
  </div>
  <div class="background-6">
    <img src="./assets/images/maetrix/circle-bg.png">
  </div>
  <div class="background-7">
    <img src="./assets/images/maetrix/circle-bg-1.png">
  </div>
  <div class="background-8">
    <img src="./assets/images/maetrix/circle-bg.png">
  </div>
  <div class="background-9">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-10">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-11">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-12">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-13">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-14">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-15">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="background-16">
    <img src="./assets/images/maetrix/bg.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6">
          <h3>Universal Chat</h3>
          <p>With the Universal Chat feature, now, aesthetic practitioners can connect with other practitioners and experts around the world. They can share their experience with Maetrix, suggestions and much more, at one place - The Universal Chat.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
          <img src="./assets/images/maetrix/img-8.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Courses</h3>
          <p>An easier than ever platform to learn new skills and discover things that really talk about your business. 
            Discover solutions to all of your aesthetic business woes by finding experts and courses made only for you.
            </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
          <img src="./assets/images/maetrix/img-6.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          
          <h3>Podcasts</h3>
          <p>If you’re a fan of podcasts, this one should be on your radar. 
            Podcasts that help people understand about life lessons, aesthetic business, market trends, and much more.
            </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 image">
          <img src="./assets/images/maetrix/img-2.png" class="img-fluid" alt="the-maetrix-amazing-podcasts-feature" title="the-maetrix-amazing-podcasts-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Blogs</h3>
          <p>A package of aesthetic and business blogs designed to help you establish and grow your aesthetic business.
            These blogs are a must-follow to get your creative ideas and business flowing.
          </p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first  image">
          <img src="./assets/images/maetrix/img-7.png" class="img-fluid" alt="the-maetrix-latest-blogs-feature" title="the-maetrix-latest-blogs-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          
          <h3>Interactive Video Courses</h3>
          <p>Maetrix gives you the option of taking several courses any time, any where.<br>
            Its picture-in-picture mode allows you to keep learning without having to close other apps.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 image">
          <img src="./assets/images/maetrix/img-4.png" class="img-fluid" alt="the-maetrix-amazing-podcasts-feature" title="the-maetrix-amazing-podcasts-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Members</h3>
          <p>You can check your membership status as well as the status of other members who have enrolled in the offered courses.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first  image">
          <img src="./assets/images/maetrix/img-5.png" class="img-fluid" alt="the-maetrix-latest-blogs-feature" title="the-maetrix-latest-blogs-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          
          <h3>Go Live with one go</h3>
          <p>You can also attend live stream videos on Maetrix, where our tutors will offer some intriguing strategies and ideas to grow your business.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 image">
          <img src="./assets/images/maetrix/img-3.png" class="img-fluid" alt="the-maetrix-amazing-podcasts-feature" title="the-maetrix-amazing-podcasts-feature">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <h3>Personalized Dashboard</h3>
          <p>The Maetrix personalized dashboard helps you to keep track of all of your activities and tasks in one convenient location. The dashboard allows you to quickly manage your activity and feeds.</p>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first  image">
          <img src="./assets/images/maetrix/img-1.png" class="img-fluid" alt="the-maetrix-latest-blogs-feature" title="the-maetrix-latest-blogs-feature">
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-maetrix">
  <div class="container">
      <div class="section-title text-center" style="color: #fff;">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow" style="background: linear-gradient(113.86deg, #FDFDFD 10.9%, #F5F5F5 77.96%);">
              <div class="text-center">
                  <h3>Frontend</h3>
                  <img src="/assets/images/technology/tech-stack-6.png" alt="front-end-technology-used-in-the-maetrix" title="front-end-technology-used-in-the-maetrix" class="img-fluid">
                  <p>React</p>
              </div>
          </div>
        </div>
        <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
            <div class="padding shadow" style="background: linear-gradient(113.86deg, #FDFDFD 10.9%, #F5F5F5 77.96%);">
                <div class="text-center">
                  <h3>Backend</h3>
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-2.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>Php</p>
                      </div>
                      <div class="col-4">
                        <img src="/assets/images/maetrix/tech-icon-3.png" alt="back-end-technology-used-in-the-maetrix" title="back-end-technology-used-in-the-maetrix" class="img-fluid">
                        <p>Laravel</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-maetrix">
  <div class="background-2">
    <img src="./assets/images/maetrix/Group-3006.png">
  </div>
  <div class="background-3">
    <img src="./assets/images/maetrix/Group-3006.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 text-center">
        <img src="./assets/images/maetrix/footer.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 logo-col">
        <img src="./assets/images/maetrix/logo.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
        <p>Enroll on this amazing learning platform today to give your Aesthetic business a kickstart.</p>
        <button class="btn"><a href="https://themaetrix.com/" target="blank" ><i class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit on</small> themaetrix.com </span> </a></button>

      </div>
    </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>