<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="mobileappspage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>UI/UX For Mobile</h1>
        <h4>We design with a creative mind</h4>
        <p class="pt-2">The UI/UX of a <strong class="main-text">mobile app</strong> is essential. A great user interface and experience attracts and retains consumers. You may make your app more <strong class="main-text">dynamic and engaging</strong> by collaborating with our <strong class="main-text">talented designers.</strong></p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/ui-ux/app-design.png" class="img-fluid" alt="UI-UX-for-Mobile-Apps-services-image-apponward" title="UI-UX-for-Mobile-Apps-services-image-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2>Designing pixel by pixel</h2>
                  <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Requirement-Refinement-Icon-Apponward" title="Requirement-Refinement-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Requirement Refinement</h5>
                    <p class="card-text">We gather all relevant project information to create a personalised design for you.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Mock-up-Icon-Apponward" title="Mock-up-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Mockups</h5>
                    <p class="card-text">A mockup aids in the finalisation of colour schemes, typography, and visual style for a product.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="App-Logo-and-Color-Theme-Icon-Apponward" title="App-Logo-and-Color-Theme-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">App Logo and Color Theme</h5>
                    <p class="card-text">Prior to designing, we check the psychological characteristics of logos, colors and their impacts on the consumers.</p>
                  </div>
                </div>
            </div>
            <div class="card-deck mt-5">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="UI-Design-Icon-Apponward" title="UI-Design-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">UI Design</h5>
                  <p class="card-text">We design a user-friendly interface that makes it simple for users to learn how to operate complicated technical products.</p>
                </div>
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Prototyping-Icon-Apponward" title="Prototyping-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Prototyping</h5>
                  <p class="card-text">Our designers turn ideas into graphical forms in order to catch design concepts and test them on the end users.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why UI/UX for Mobile App?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>With the progress of technology, mobile and associated technologies are gaining international appeal. Interactive UX/UI allows users to engage with the app by establishing a link between them. It enhances the user experience and hence plays an important part in the app's success.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/ui-ux/why-mobile-apps.png" class="img-fluid" alt="Why-UI-UX-for-Mobile-Apps-company" title="Why-UI-UX-for-Mobile-Apps-company">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>