<!-- ======= our culture ======= -->
<section class="culture">
    <div class="container">
        <div class="section-title">
            <h2>Life @ Apponward</h2>
            <hr class="center-ball">
            <p>“Technology that connects us to our culture, one line of code at a time”
                Our culture is creative, energizing, and inclusive. Whether it's developing new apps or promoting your business with digital marketing, we're continuously working together to make the difference.</p>
        </div>
    </div>
    <div class="container my-4 new-border">
      <div class="cap-right-border"><img src="./assets/images/culture-right-brdr.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD."></div>
      <div class="cap-left-border"><img src="./assets/images/culture-left-brdr.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD."></div>
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                <li data-target="#carousel-example-1z" data-slide-to="5"></li>
                <li data-target="#carousel-example-1z" data-slide-to="6"></li>
                <li data-target="#carousel-example-1z" data-slide-to="7"></li>
                <li data-target="#carousel-example-1z" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery4.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery1.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery3.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery2.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery5.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery6.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery7.png"
                    alt="apponward-team" title="apponward-team">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/gallery/Apponward-Gallery8.png"
                    alt="apponward-team" title="apponward-team">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="row" id="gallery">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12  mt-5 d-flex justify-content-center pt-5">
            <a routerLink="/gallery" class="btn-primary">View More</a>
        </div>
    </div>
</section>
<!-- End culture -->