<!-- ======= About us ======= -->
<!--<section class="how-we-work">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="text-capitalize">Clean Clear Code, is What We Do</h2>
      <hr class="center-ball">
      <p>“We make IT easy”
        It’s not just what we do—it’s how we work. We are innovative technologists, complex problem-solvers, creative designers and eager learners passionate to improve the tech world.
        We lead our clients from their ideas through development, implementation and launch.
        </p>
    </div>
    <div class="row text-center">
        <div class="image col-12 col-sm-12 col-md-12 col-lg-12 ">
          <img src="./assets/images/how-we-work.png" class="img-fluid" alt="apponward-app-development-process" title="Apponward Technology PVT. LTD.">
        </div>
    </div>
  </div>
  <div class="new-shape">
    <img src="./assets/images/animate-round-ball.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
  </div>
  <div class="new-shape1">
    <img src="./assets/images/animate-cross-icon.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
  </div>
  <div class="new-shape2">
    <img src="./assets/images/animate-cross-icon.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
  </div>
  <div class="new-shape3">
    <img src="./assets/images/animate-round-ball.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
  </div>
</section>-->
  <!-- End About us -->
  <section class="how-we-work">
    <div class="container">
      <div class="section-title text-center">
        <h2 class="text-capitalize">Our Vision</h2>
        <hr class="center-ball">
        <p>Our vision is to transform your idea into reality. We help our clients build their businesses by providing innovative design, technology, and market-defining elevated solutions that add value and offer a dependable competitive edge to customers all over the world.</p>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <div class="section-title text-center">
        <h2 class="text-capitalize">Our Founders</h2>
        <hr class="center-ball">
        <p>Meet the faces who built Apponward from the ground up. They've always empowered the team with innovative and design-driven expertise, ensuring that we deliver outstanding value to our customers.</p>
      </div>
      <div class="row mt-5">
        <div class="card card-1" style="box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08); border: 0.5px solid rgba(0, 0, 0, 0.25);">
          <div class="row ">
            <div class="col-md-4 pb-3">
                <img src="./assets/images/team/team-1.png" title="our-founder">
            </div>
            <div class="col-md-8 px-3 team-1">
              <div class="card-block px-3 py-5" style="margin-left: -80px;">
                <h4 class="card-title" style="font-weight: bold;">Anand Mishra <span style="color: #28B18D;"> | </span> <span style="font-weight: normal !important;">CEO & Delivery Head</span></h4>
                <p class="card-text" style="text-align: left;">An industry expert with more than 15+ years of experience in the corporate and IT world. Extensive knowledge and experience in almost every aspect of Software Development Lifecycle. <br>
                  A keen learner and astute implementer acting as the torch bearer of Apponward.
                </p>
                <div class="social-links">
                  <a href="https://www.facebook.com/anand.mishra.790256" target="_blank" class="facebook shadow"><img
                      src="./assets/images/facebook-2x.png" title="facebook" style="width:13px;"></a>
                  <a href="https://join.skype.com/invite/SVsEdneTzgbc"  target="_blank" class="instagram mx-2 shadow"><img
                      src="./assets/images/team/skype-2x.png" title="skype" style="width:23px;"></a>
                  <a href="https://www.linkedin.com/in/anand-mishra-35373a1a/" target="_blank"
                    class="linkedin shadow"><img src="./assets/images/linkedin-2x.png" title="linkedin" style="width:23px;"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="card card-2" style="box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08); border: 0.5px solid rgba(0, 0, 0, 0.25);">
          <div class="row ">
            <div class="col-md-4 pb-3">
                <img src="./assets/images/team/team-2.png" title="our-founder">
            </div>
            <div class="col-md-8 px-3 order-sm-first order-md-first order-lg-first team-2">
              <div class="card-block px-3 py-5" style="margin-left: 30px;">
                <h4 class="card-title" style="font-weight: bold;">Mrityunjay Ojha <span style="color: #28B18D;"> | </span> <span style="font-weight: normal !important;">Managing Director & Business Head</span></h4>
                <p class="card-text" style="text-align: left;">With 6 years of sales expertise in pre-sales, bidding, client handling, client communication, project closing, and requirement analysis, an iOS developer turned Business Development Manager. With 5 years of experience in Social Media Marketing, SEO, SMO, and PPC, this competent leader is breaking new ground in digital marketing.<br>
                  Client management, client handling, and project management are all abilities that an all-rounder like him possesses.
                </p>
                <div class="social-links">
                  <a href="https://www.facebook.com/kunal.ojha.7505" target="_blank" class="facebook shadow"><img
                      src="./assets/images/facebook-2x.png" title="facebook" style="width:13px;"></a>
                  <a href="https://join.skype.com/invite/LO3zjwT3bByZ" target="_blank" class="instagram mx-2 shadow"><img
                      src="./assets/images/team/skype-2x.png" title="skype" style="width:23px;"></a>
                  <a href="https://www.linkedin.com/in/jay-ojha/" target="_blank"
                    class="linkedin shadow"><img src="./assets/images/linkedin-2x.png"  title="linkedin" style="width:23px;"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>