<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="reactpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Mobile Apps with React Native</h1>
                <h4>We can help you seize new possibilities in a smarter way. React native apps that enhance your business.</h4>
                <p class="pt-2">React is an excellent companion for your mobile apps. We build applications that provide quality to your business and boost efficiency by utilising <strong class="main-text">cutting-edge technology</strong> with our <strong class="main-text">adaptable</strong>                    React mobile app services.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/mobile-app/App-development-React-native.png" class="img-fluid" alt="Best-Mobile-App-Development-with-React-Native-Banner-Image-Apponward" title="Best-Mobile-App-Development-with-React-Native-Banner-Image-Apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-title">
                    <h2>We approach in a unique way</h2>
                    <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/architecture.png">
                        <h5 class="card-title mt-3">Intensive Development</h5>
                        <p class="card-text">With the increasing demand of the React Native apps, we develop efficient and secure apps to grow your presence.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-5.png">
                        <h5 class="card-title mt-3">Agility</h5>
                        <p class="card-text">We employ Agile Methodology in our development process to ensure effective app development, scalability and continuous deliveries.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-1.png">
                        <h5 class="card-title mt-3">UI/UX Design</h5>
                        <p class="card-text">We build error-free Reach Native apps; thanks to its innovative approach of our industry specialists and the competence of our skilled developers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why us section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-title">
                    <h2>Why React Native Apps?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <p class="why-android">React Native app is a fantastic companion for developing mobile apps. They provide high-quality apps that are easier to build and less expensive than other native apps. They offer a smooth, fluid, and dynamic user experience while significantly
                    reducing load time. </p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/mobile-app/why-mobile-2 1.png" class="img-fluid" alt="Why-Mobile-App-Development-with-React-Native-company" title="Why-Mobile-App-Development-with-React-Native-company">
            </div>
        </div>
    </div>

</section>
<!--why us sectione end-->
<!-- ======= portfolio ======= -->
<section class="portfolios mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Best React Native Mobile Apps Projects</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-nukkad-pe-hai">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/nukkad-pe-hai">Nukkad Pe Hai</a></h3>
                    <div class="py-1">
                        <span class="tag nph-tag">Travel & Listing</span>
                    </div>
                    <p>Nukkad Pe Hai is a mobile application which allows the users to connect with the small vendor shops like salons, tea stalls, snacks and beverages stores, etc. at their nearby areas or street corners(Nukkad). Users can also see the
                        details of the shop and navigate there. Anyone can now enjoy the unexplored small wonders of their nukkad to get their work done in no time.
                    </p>
                    <a routerLink="/portfolio/nukkad-pe-hai" class="btn btn-light dn4 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
              <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                 <a href="https://play.google.com/store/apps/details?id=com.nukkad.user" target="_blank"> <button
                  class="btn btn-download dn4 mb-5 mx-2" title="Google Play">
                  <i class="bx bxl-play-store fa-2x"></i>
                </button></a>
                <a href="https://apps.apple.com/in/app/nukkad-pe-hai/id1439918619" target="_blank">
              <button class="btn btn-download dn4 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>
  
            </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center nph-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/nukkad pe hai (1).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-footyedge">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/footyedge">Footyedge</a></h3>
                    <div class="py-1">
                        <span class="tag footyedge-tag">Sports</span>
                    </div>
                    <p>With over five years in development, footyedge is a predictive algorithm for Australian Rules Football (AFL). It collates a range of data and then utilises it to predict the scores and margins for each game of the AFL season. Available
                        as a free version, or as a subscription service, for more detailed prediction information.</p>

                    <a routerLink="/portfolio/footyedge" class="btn btn-light dn5 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
              <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
               <a href="https://play.google.com/store/apps/details?id=com.footy.edge" target="_blank"> <button
                  class="btn btn-download dn5 mb-5 mx-2" title="Google Play">
                  <i class="bx bxl-play-store fa-2x"></i>
                </button></a>
                <a href="https://apps.apple.com/us/app/footy-edge/id1561785072" target="_blank">
              <button class="btn btn-download dn5 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>
  
            </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-sm-first order-md-first order-lg-first text-center footyedge-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/Footyedge (1).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-happyhiv" style="background-color: #2D2D2D;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/prophecy">Prophecy</a></h3>
                    <div class="py-1">
                        <span class="tag prophecy-tag" style="color:#2D2D2D;">Betting App</span>
                    </div>
                    <p>Sports pique the attention of the vast majority of sports enthusiasts. As the sport rises in popularity, fans are getting more interested in knowing more about their favorite teams and betting on the winners. Prophecy is a sports betting software that lets users track statistics and place bets on a variety of sports.</p>

                    <a routerLink="/portfolio/prophecy" class="btn btn-light dn12 new-btn"> View Details</a>
                    
                    <span class="mt-3 ">
                        <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.prophecyinvestments.app" target="_blank"> <button
                            class="btn btn-download dn12 mx-2" title="Google Play">
                            <i class="bx bxl-play-store fa-2x"></i>
                        </button></a>
                        <a href="https://apps.apple.com/us/app/prophecy-picks/id1601052616" target="_blank">
                            <button class="btn btn-download dn12 mx-2" title="Apple Store">
                                <i class="bx bxl-apple fa-2x"></i>
                            </button></a>
                        

                    </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center meri-nav-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/prophecy (4).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a routerLink="/portfolio" class="btn-primary">View More</a></div>

</section>
<div id="blogHome">
    <app-footer></app-footer>
</div>