<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="pwapage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>PWA with Angular/React</h1>
        <h4>Converting great ideas into incredible applications</h4>
        <p class="pt-2">Angular/React is the <strong class="main-text">ideal ally</strong> to develop large <strong class="main-text">progressive web apps</strong> that automatically <strong class="main-text">displays changes</strong> without a page refresh. We've carved out a niche in PWA Development by <strong class="main-text">leveraging cutting-edge</strong> technologies like Angular and React to suit a wide range of project requirements.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/web-app/Group 2868.png" class="img-fluid" alt="PWA-with-Angular-and-React-services-image-apponward" title="PWA-with-Angular-and-React-services-image-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2>Tech Stack</h2>
                  <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Requirement-Analysis-Icon-Apponward" title="Requirement-Analysis-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Requirement Analysis</h5>
                    <p class="card-text">Requirement analysis and refinement of the features according to priority is performed. </p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Resporityand-User-stroy-Icon-Apponward" title="Resporityand-User-stroy-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Repository and User Story</h5>
                    <p class="card-text">Jira and Bitbucket is set up to segregate the tasks efficiently. User stories are written for all the possible use-cases.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Solution-Analysis-Icon-Apponward" title="Solution-Analysis-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Solution Analysis</h5>
                    <p class="card-text">Solution analysis of all complicated components is performed and included in the project.</p>
                  </div>
                </div>
            </div>
            <div class="card-deck mt-5">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Development-and-Testing-Icon-Apponward" title="Development-and-Testing-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Development and Testing</h5>
                  <p class="card-text">The development begins by dividing the project into distinct milestones. Post development unit testing of the app is done.</p>
                </div>
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Demo-and-Delivery-Icon-Apponward" title="Demo-and-Delivery-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Demo and Delivery</h5>
                  <p class="card-text">The sample app and demo is provided to the customer after completion of each milestone. Finally, the user manual, SOP and all the accesses are provided to the customer.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Web Apps with Angular/React?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p class="pt-2">Angular is a TypeScript-based open-source framework for web applications. It completes different web development tasks and enhances the application with the necessary functionalities. It  is versatile and supports a variety of platforms, including web, mobile, and the desktop natives.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/web-app/Group 2617.png" class="img-fluid" alt="Why-PWA-with-Angular-and-React-company" title="Why-PWA-with-Angular-and-React-company">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>
