<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="contactpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Contact Us</h1>
                <h4>Think IT for your home, business, and the sky's the limit.</h4>
                <p class="pt-2"> We'll take care of everything. If you're looking to develop a <strong class="main-text">powerful</strong> IT strategy, reach out. We can <strong class="main-text">help</strong> you get started <strong class="main-text">today.</strong></p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/banner/banner-new/Contact Us.png" class="img-fluid" alt="Contact-Us-image-apponward" title="Contact-Us-image-apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->
<!--contact us section-->
<section class="contact">
    <div class="container">
        <div class="contact-section-shadow p-5" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Get in touch with us</h2>
                        <hr class="center-ball">
                        <p>Fill the form below or email us at <a href="mailto:sales@apponward.com" style="color: #3473b0;">sales@apponward.com</a> or call us at <a href="tel:+91-96438 16118" style="color: #3473b0;">+91-96438 16118.</a></p>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-4">
                    <form [formGroup]="contactUsForm" (ngSubmit)="onContactUsForm()">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><strong>Full Name <span style="color: red;">*</span></strong></label>
                                    <input type="text" placeholder="Full Name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.name.errors }">
                                    <div *ngIf="isFormSubmitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Please enter your Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label><strong>Email <span style="color: red;">*</span></strong></label>
                                    <input type="text" placeholder="Email" formControlName="contactInfo" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.contactInfo.errors }" (keydown.space)="$event.preventDefault()">
                                    <div *ngIf="isFormSubmitted && f.contactInfo.errors" class="invalid-feedback">
                                        <div *ngIf="f.contactInfo.errors.required">Please enter your Email id
                                        </div>
                                        <div *ngIf="f.contactInfo.errors.email">Please enter valid Email id</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <label><strong>Country <span *ngIf="contactUsForm.get('number').value" style="color: red;">*</span></strong></label>
                                <select class="form-control" (change)="onChangeCountryCode()" name="dial_code" formControlName="dial_code">
                                  <option value="" >Select Country</option> 
                                  <option value="{{item.name}}" *ngFor="let item of countries">{{item.name}}</option> 
                                
                                </select>
                                <div class="alert-txt">{{alertText1}}</div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <label><strong>Mobile Number <span *ngIf="contactUsForm.get('dial_code').value" style="color: red;">*</span></strong></label>
                                <input style="margin-top:0" type="text" (keypress)="onChangeNum()" (keydown)="onChangeNum()" placeholder="Mobile Number" formControlName="number" class="form-control">
                                <div class="alert-txt">{{alertText}}</div>
                            </div>

                        </div>
                        <!--<div class="form-group">
<input type="text"  placeholder="Enter Project Title" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.subject.errors }">
<div *ngIf="isFormSubmitted && f.subject.errors" class="invalid-feedback">
<div *ngIf="f.subject.errors.required">Please enter Subject.
</div>
</div>
</div>-->
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group new-file">
                                    <label><strong>Add Attachments</strong></label>
                                    <input type="file" placeholder="" formControlName="file" (change)="onSelectFile($event)">
                                    <!-- <input type="file" placeholder="" formControlName="file" (change)="onSelectFile($event)" [ngClass]="{ 'is-invalid': isFormSubmitted && f.file.errors }" >   -->
                                    <!-- <div *ngIf="isFormSubmitted && f.file.errors" class="invalid-feedback">
<div *ngIf="f.file.errors.required">Please add your file.
</div>
</div> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <label><strong>Your Message <span style="color: red;">*</span></strong></label>
                            <textarea placeholder="Message" class="form-control" formControlName="subject" rows="5" data-rule="required" data-msg="Please write something for us" [ngClass]="{ 'is-invalid': isFormSubmitted && f.subject.errors }"></textarea>
                            <div *ngIf="isFormSubmitted && f.subject.errors" class="invalid-feedback">
                                <div *ngIf="f.subject.errors.required">Please enter your Message
                                </div>
                            </div>
                        </div>


                        <!--<div class="form-group">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"  data-rule="required" data-msg="Please check captcha" [ngClass]="{ 'is-invalid': isFormSubmitted && f.recaptcha.errors }">
                </ngx-recaptcha2>
                <div *ngIf="isFormSubmitted && f.recaptcha.errors" class="invalid-feedback" style="display:block;">
                  <div *ngIf="f.recaptcha.errors.required">Please check captcha
                  </div>
                </div>
              </div>-->
                        <div class="form-group">
                            <input type="hidden" formControlName="noValue" class="form-control">
                        </div>
                        <div class="mb-3" *ngIf="!showmessage">
                            <!-- <div class="loading">Loading</div> -->
                            <!-- <div class="error-message"></div> -->
                            <div class="alert alert-success">{{msg}}</div>
                        </div>
                        <div class="contact-new-btn col-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 70px;">
                            <button class="px-5" type="submit" [ngClass]="{'disable-bt': loading, '': !loading}" style="position: absolute; left:40%;"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading, '': !loading}"></i> {{submitTxt}}</button>
                        </div>
                    </form>
                </div>
                <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="google-map" id="googleMap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14008.591037846527!2d77.378114!3d28.6253333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc30cbc41b65c8a3!2sApponward%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1616240235972!5m2!1sen!2sin"  style="border:0; width: 100%; height: 300px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>-->
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 cont-call">
                    <div class="contact-details">
                        <img src="./assets/images/contact/contact-img-1.png" class="img-fluid" alt="address-Apponward" title="address-Apponward">
                        <h3 class="py-2">Address</h3>
                        <p><a href="https://goo.gl/maps/xTLr7mWzZuY5t6p77" target="blank">C-56/10, Sector 62, Noida-201301, Delhi NCR</a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 cont-call call-card">
                    <div class="contact-details">
                        <img src="./assets/images/contact/contact-img-2.png" class="img-fluid" alt="call-us-apponward" title="call-us-apponward">
                        <h3 class="py-2">Call Us</h3>
                        <p>+91-96438 16118<br> +91-76786 77734</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 cont-call">
                    <div class="contact-details">
                        <img src="./assets/images/contact/contact-img-3.png" class="img-fluid" alt="opening-hours-apponward" title="opening-hours-apponward">
                        <h3 class="py-2">Opening Hours</h3>
                        <p>Monday - Friday <br>9:00am - 7:00pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-facts">
    <div class="container">
        <div class="section-title">
            <h2>Why Apponward?</h2>
            <hr class="center-ball">
            <p>What may be imagined can be developed!<br> We engineer your dreams through our applications. You won't have to guess; our work reflects it!
            </p>
        </div>
        <div class="row mt-5" style="float: none;">
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-1.png" alt="14-plus-years-founders-experience-icon-apponward" title="14-plus-years-founders-experience-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">14+ Years</h4>
                    <p class="card-text">Founders Experience</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-2.png" alt="150-plus-projects-delivered-icon-apponward" title="150-plus-projects-delivered-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">150+ Projects</h4>
                    <p class="card-text">Delivered</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-3.png" alt="70-plus-team-professional-icon-apponward" title="70-plus-team-professional-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">70+ Team</h4>
                    <p class="card-text">Professionals</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-4.png" alt="happy-customer-icon-apponward" title="happy-customer-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">99%</h4>
                    <p class="card-text">Happy Customers</p>
                </div>
            </div>
            <!-- </div>
        <div class="row new-fact-row"> -->
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-5.png" alt="3-plus-years-company-experience-icon-apponward" title="3-plus-years-company-experience-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">3+ Years</h4>
                    <p class="card-text">Company Experience</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-6.png" alt="25-plus-countries-served-icon-icon-apponward" title="25-plus-countries-served-icon-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">25+ Countries</h4>
                    <p class="card-text">Served</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/top-rated-plus.png" alt="top-rated-on-upwork-icon-apponward" title="top-rated-on-upwork-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">Top Rated Plus</h4>
                    <p class="card-text">on Upwork</p>
                </div>
            </div>
            <div class="card flex-row flex-wrap">
                <div class="card-header pt-4">
                    <img src="./assets/images/facts/img-8.png" alt="top-10-on-clutch-icon-apponward" title="top-10-on-clutch-icon-apponward">
                </div>
                <div class="vl"></div>
                <div class="card-block px-2">
                    <h4 class="card-title pt-3">Top 10</h4>
                    <p class="card-text">on Clutch</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!--contact us end-->
<div class="contact-ftr">
    <app-footer></app-footer>
</div>