.contact-section-shadow form {
    position: relative;
    max-width: 100%;
    display: block;
}

.contact-section-shadow form .alert-success {
    position: absolute;
    bottom: -8px;
    z-index: 9;
    text-align: center;
    margin: 0;
    width: 100%;
}

.contact .iti__arrow {
    margin-left: 1px !important;
}

.contact .iti.separate-dial-code[_ngcontent-serverApp-c50] input[_ngcontent-serverApp-c50] {
    padding-left: 0px !important;
}

.alert-txt {
    position: absolute;
    top: 70px;
    font-size: 13px;
    color: #dc3545;
}