<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-prophecy">
    <div class="background-1">
        <img src="./assets/images/prophecy/banner-bg.png">
    </div>
    <div class="background-2">
        <img src="./assets/images/prophecy/banner-bg-1.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 new-col">
                <img src="./assets/images/prophecy/logo.png">
                <h1>The one-stop shop for sports fans</h1>
                <p>Sports pique the attention of the vast majority of sports enthusiasts. As the sport rises in popularity, fans are getting more interested in knowing more about their favorite teams and betting on the winners. Prophecy is a sports betting software that lets users track statistics and place bets on a variety of sports.</p>
            </div>
        
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 text-center pt-3">
                <img src="./assets/images/prophecy/banner-new.png" class="img-fluid" alt="" title="">
            </div>
        </div>
    </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-prophecy">
    <div class="background-1">
        <img src="./assets/images/prophecy/bg-1.png">
    </div>
    <div class="background-2">
        <img src="./assets/images/prophecy/bg-2.png">
    </div>
    <div class="background-3">
        <img src="./assets/images/prophecy/bg-3.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2>App Features</h2>
                <hr>
            </div>
        </div>
        <div class="screens">
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                    <h3>The power of experience and analytics</h3>
                    <p>Users can download the app and use it to keep track of current and upcoming sporting events. The live and forthcoming sporting events are displayed on the home page, along with the appropriate team names. You can also track their progress and participate in live betting. It also displays the number of your winning and losing bets.</p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
                    <img src="./assets/images/prophecy/s-1.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6">
                    <h3>Search your favorite teams</h3>
                    <p>The app allows the users to search for sports events based on certain dates and teams by using the search filter option. The app's calendar function allows users to check events on a specified day. Daily cards can also be purchased by subscribing to one of their many plans. 
                    </p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
                    <img src="./assets/images/prophecy/s-2.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                    <h3>Secure transaction and safe betting</h3>
                    <p>The app's bankroll management keeps track of user transactions in a secure manner. For end-to-end transactions, the app is fully safe. You may also look at your recent bankroll history. You can set the default bet size so you don't have to enter it each time.</p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6  order-lg-first image">
                    <img src="./assets/images/prophecy/s-3.png" class="img-fluid" alt="the-maetrix-entrepreuners-courses-feature" title="the-maetrix-entrepreuners-courses-feature">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12  col-sm-6 col-md-6 col-lg-6">
                    <h3>Profile management</h3>
                    <p>You can also update your profile, examine your wagering history, and share the app with your friends as a registered user. You can upload your profile photo and view your betting history and outcomes. You can also earn by inviting your friend to Prophecy. Where are you in the fast-paced world of sports betting? 
                    </p>
                </div>
                <div class="col-12  col-sm-6 col-md-6 col-lg-6 pt-5">
                    <img src="./assets/images/prophecy/s-4.png" class="img-fluid" alt="the-maetrix-universal-chat-feature" title="the-maetrix-universal-chat-feature">
                </div>
            </div>
        </div>
    </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-prophecy">
    <div class="container">
        <div class="section-title text-center" style="color: #fff;">
            <h2>Technology stack</h2>
            <hr class="center-ball">
        </div>
        <div class="row py-5">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-12  col-sm-6 col-md-6 col-lg-6 ">
                <div class="padding shadow">
                    <div class="text-center">
                        <h3>Frontend</h3>
                        <img src="/assets/images/technology/icon-4.png" alt="" title="" class="img-fluid">
                        <p>React Native</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-prophecy pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 text-center img-1">
                <img src="./assets/images/prophecy/logo.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 logo-col">
                <p>Join Prophecy and take control of the gambling fort.</p>
                <button class="btn"><a href="https://play.google.com/store/apps/details?id=com.prophecyinvestments.app" target="blank" ><i class='bx bxl-play-store bx-2x'></i> <span class="d-inline-block text-left"> <small class="d-block">Android App on</small> App Store </span> </a></button> <span><button class="btn"><a href="https://apps.apple.com/us/app/prophecy-picks/id1601052616" target="blank" ><i class='bx bxl-apple bx-2x'></i> <span class="d-inline-block text-left"> <small class="d-block">Available on</small> Apple Store </span> </a></button></span>
            </div>
            
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center img-2">
                <img src="./assets/images/prophecy/cta.png" class="img-fluid" alt="the-maetrix-an-amazing-learning-content-platform" title="the-maetrix-an-amazing-learning-content-platform">
            </div>
        </div>
    </div>
</section>
<!--cta section end-->
<app-footer></app-footer>
