<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-sharedare">
  <div class="container">
    <div class="background">
        <img src="./assets/images/sharedare/banner-bg.png" class="img-fluid"> 
    </div>  
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <img src="./assets/images/sharedare/banner-logo.png" class="img-fluid" alt="sharedare-a-challenge-sharing-app-logo" title="sharedare-a-challenge-sharing-app-logo">
        <h1>Sharedare</h1>
        <p>Sharedare app is a challenge sharing app which shares dare with the registered members of the app. It allows the users to discover dares and share them with others.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <img src="./assets/images/sharedare/banner-img.png" class="img-fluid" alt="sharedare-a-challenge-sharing-app-portfolio-by-apponward" title="sharedare-a-challenge-sharing-app-portfolio-by-apponward">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-sharedare">
  <div class="container">
    <div class="background-1">
        <img src="./assets/images/sharedare/bg.png" alt="" title="Apponward Technology PVT. LTD.">
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <img src="./assets/images/sharedare/screen-1.png" class="img-fluid" alt="Users-can-accept-challenges-and-complete-them-by-recording-videos-or-images-feature" title="Users-can-accept-challenges-and-complete-them-by-recording-videos-or-images-feature">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 padding">
          <p>Users can accept challenges and complete the same by recording videos or clicking images. They can earn rewards by completing the challenges, reviewing and sharing dares, and by commenting on them.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/sharedare/screen-2.png" class="img-fluid" alt="user-can-set-custom-annotations-from-profiles-feature" title="user-can-set-custom-annotations-from-profiles-feature">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 padding">
          <p>The app allows the user to set custom annotations from profiles. Using the map and geolocation features, users can view the annotation of the nearby users.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <img src="./assets/images/sharedare/screen-3.png" class="img-fluid" alt="Users-can-search-dares-given-by-other-users-nearby-their-locations-feature" title="Users-can-search-dares-given-by-other-users-nearby-their-locations-feature">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 padding">
          <p>Users can search dares given by other users nearby their regions. Users can also view the challenges completed by other members of the app.</p>
        </div>
        </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro pt-5">
  <div class="container">
    <div class="section-title text-center">
      <h2>Technology stack</h2>
      <hr class="center-ball">
    </div>
    <div class="row py-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="padding shadow">
          <div class="text-center">
            <h3>Android</h3>
              <div class="row">
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-10.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Kotlin</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-11.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Android Studio</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-9.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>MVVM Architecture</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="padding shadow">
          <div class="text-center">
            <h3>Backend</h3>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-4">
                <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                <p>Laravel</p>
              </div>
              <div class="col-4">
                <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                <p>PHP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-sharedare">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <img src="./assets/images/sharedare/cta-logo.png" class="img-fluid" alt="sharedare-app-logo" title="Apponward Technology PVT. LTD.">
              <p>Download the app now to share dares with your friends. The app is available on Play store.</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="template-demo">
                <button class="btn"><a href="https://play.google.com/store/apps/details?id=com.sharedare" target="blank"><i class='bx bxl-play-store' ></i> <span class="d-inline-block text-left"> <small class="d-block">Get it on the</small> Google Play </span> </a></button>
            </div>
        </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>
