<!-- ======= About us ======= -->
<section class="our-presence" style="background: rgba(52, 115, 176, 0.06);padding-top: 100px;">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our Presence</h2>
            <hr class="center-ball">
            <p>We always make decisions using our hearts, heads and experience in order to develop the best apps that serve you better.
                <br>With a selection of services tailored to meet your needs, you can experience our presence in more ways than one.
            </p>
        </div>
        <div class="row mx-auto text-center">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 img-1 pt-2" style="min-height: 200px;">
                <a href="https://www.upwork.com/o/companies/~01cbd319a4ceb755b8/" target="blank"><img [lazyLoad]="'./assets/images/presence/upwork.png'" alt="Top-rated-upwork-icon-apponward" title="Top-rated-upwork-icon-apponward"></a>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 img-2 pt-2" style="min-height: 200px;">
                <a href="https://clutch.co/profile/apponward-technologies#summary" target="blank"><img [lazyLoad]="'./assets/images/presence/img-1.png'" alt="Top-app-developers-on-clutch-2020-icon-apponward" title="Top-app-developers-on-clutch-2020-icon-apponward"></a>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 img-3 pt-2" style="min-height: 200px;">
                <a href="https://www.behance.net/apponward" target="blank"><img [lazyLoad]="'./assets/images/presence/Group 2842.png'" alt="Behance-icon-apponward'" title="Behance-icon-apponward"></a>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 img-4 pt-2" style="min-height: 200px;">
                <a href="https://www.guru.com/freelancers/apponward-technologies" target="blank"><img [lazyLoad]="'./assets/images/presence/Group 2843.png'" alt="Guru-icon-apponward" title="Guru-icon-apponward"></a>
            </div>
        </div>
    </div>
    <div class="new-shape">
        <img [lazyLoad]="'./assets/images/animate-round-ball.png'">
    </div>
    <div class="new-shape1">
        <img [lazyLoad]="'./assets/images/animate-cross-icon.png'">
    </div>
    <div class="new-shape2">
        <img [lazyLoad]="'./assets/images/animate-cross-icon.png'">
    </div>
    <div class="new-shape3">
        <img [lazyLoad]="'./assets/images/animate-round-ball.png'">
    </div>
</section>
<!-- End About us -->