<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="googlecloudpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Google Cloud</h1>
        <h4>Equip your business with the most up-to-date cloud technologies.</h4>
          <p class="pt-2">To secure your <strong class="main-text">data, apps, infrastructures,</strong> and customers from fraudulent activity or <strong class="main-text">spam,</strong> Google Cloud uses the same <strong class="main-text">architecture</strong> and <strong class="main-text">security</strong> solutions as Google. For <strong class="main-text">data encryption, networking, data storage,</strong> and <strong class="main-text">computing capabilities,</strong> we use Google cloud services.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/cloud/Group 2861.png" class="img-fluid" alt="Google-Cloud-services-Image-Apponward" title="Google-Cloud-services-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2>Redefining the horizons of cloud computing with Google cloud</h2>
                  <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Account-Setup-Icon-Apponward" title="Account-Setup-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Account Setup</h5>
                    <p class="card-text">A client account is created on the cloud service provider, and a payment method is added.
                    </p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Server-Machine-and-Dependency-Setup-Icon-Apponward" title="Server-Machine-and-Dependency-Setup-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Server Machine and Dependency Setup</h5>
                    <p class="card-text">Experts configure the server machine. All of the project's dependencies are installed.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="DB-Setup-and-Backup-Policy-Icon-Apponward" title="DB-Setup-and-Backup-Policy-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">DB Setup and Backup Policy</h5>
                    <p class="card-text">The project's database is configured. The backup for the project is created according to the backup policy.</p>
                  </div>
                </div>
            </div>
            <div class="card-deck mt-5">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Auto-Scaling-Icon-Apponward" title="Auto-Scaling-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Auto-scaling</h5>
                  <p class="card-text">Auto-scaling is enabled to allow for dynamic changes of the server farm's computing capacity.</p>
                </div>
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Setup-of-CI-CD-Pipeline-Icon-Apponward" title="Setup-of-CI-CD-Pipeline-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Setup of CI/CD Pipeline</h5>
                  <p class="card-text">A CI/CD pipeline is set up to deliver multiple versions of the project.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Google Cloud?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>The Google Cloud Platform provides more than 90 IT services that organizations, developers and IT professionals can use to operate more effectively. It enables you to acquire more flexibility, and a strategic edge.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/cloud/cloud.png" class="img-fluid" alt="Why-Choose-Apponward-for-Google-Cloud-Services-Image" title="Why-Choose-Apponward-for-Google-Cloud-Services-Image">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>
