<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-footyedge">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-left">
        <img src="./assets/images/footyedge/logo.png" class="img-fluid" alt="footyedge-logo"
          title="Apponward Technology PVT. LTD.">
        <h1>Footyedge</h1>
        <p>With over five years in development, footyedge is a predictive algorithm for Australian Rules Football (AFL).
          It collates a range of data and then utilises it to predict the scores and margins for each game of the AFL
          season. Available as a free version, or as a subscription service, for more detailed prediction information.
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <img src="./assets/images/footyedge/banner-img.png" class="img-fluid"
          alt="footyedge-portfolio-predict-the-scores-by-apponward" title="footyedge-portfolio-predict-the-scores-by-apponward">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-footyedge"
  style="background: linear-gradient(360deg, #F8F8F8 -1.73%, rgba(250, 250, 250, 0) 100%);">
  <div class="container">
    <div class="background-1">
      <img src="./assets/images/footyedge/bg-3.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-2">
      <img src="./assets/images/footyedge/bg-2.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-3">
      <img src="./assets/images/footyedge/bg-7.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-4">
      <img src="./assets/images/footyedge/bg-6.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>

    <div class="background-5">
      <img src="./assets/images/footyedge/bg-5.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-6">
      <img src="./assets/images/footyedge/bg-5.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-7">
      <img src="./assets/images/footyedge/bg-2.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="background-8">
      <img src="./assets/images/footyedge/bg-6.png" alt="Apponward Technology PVT. LTD."
        title="Apponward Technology PVT. LTD.">
    </div>
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center">
          <img src="./assets/images/footyedge/screen-1.png" class="img-fluid" alt="prediction-feature-footyedge"
            title="prediction-feature-footyedge">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6  pt-5">
          <h3>Prediction</h3>
          <p>Footyedge is a predictive algorithm for Australian Rules Football (AFL). It collects the range of data and utilizes them to predict the scores and margins for each game played in the AFL season.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2 text-center">
          <img src="./assets/images/footyedge/screen-2.png" class="img-fluid" alt="ladder-feature-footyedge"
            title="ladder-feature-footyedge">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Ladder</h3>
          <p>Additionally, the app offers subscription-based services, which include more detailed match predictions. The subscription model is available as well as the free services.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <img src="./assets/images/footyedge/screen-3.png" class="img-fluid"
            alt="stats-predict-the-upcoming-leagues-feature-footyedge" title="stats-predict-the-upcoming-leagues-feature-footyedge">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Stats</h3>
          <p>Besides predicting upcoming leagues, the app also predicts the results of recent matches. Die-hard Australian football fans can plan their days accordingly as a result.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/footyedge/screen-4.png" class="img-fluid" alt="view-team-status-feature-footyedge"
            title="view-team-status-feature-footyedge">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>View Team Status</h3>
          <p>In the AFL ladder you will find all the results of all the matches played, how many matches they won, lost or drew, their points, etc. Furthermore, it will show the information related to the previous matches and which teams were involved.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro pt-5">
  <div class="container">
    <div class="section-title text-center">
      <h2>Technology stack</h2>
      <hr class="center-ball">
    </div>
    <div class="row py-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="padding shadow">
          <div class="text-center">
            <h3>Android</h3>
              <div class="row">
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-10.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Kotlin</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-11.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Android Studio</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/tech-stack-9.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>MVVM Architecture</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="padding shadow">
          <div class="text-center">
            <h3>Backend</h3>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                  <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Laravel</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>PHP</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-footyedge">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <img src="./assets/images/footyedge/logo.png" class="img-fluid" alt="footyedge-logo"
          title="footyedge-logo">
        <p>The app is available on Google Play Store and App store for free.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="template-demo"> 
                 <button class="btn"> <a href="https://play.google.com/store/apps/details?id=com.footy.edge" target="blank"><i class='bx bxl-play-store' ></i> <span class="d-inline-block text-left"  > <small class="d-block">Get it on the</small> Google Play </span></a> </button> 
                 <button class="btn"><a href="https://apps.apple.com/us/app/footy-edge/id1561785072" target="_blank"><i class='bx bxl-apple'></i> <span class="d-inline-block text-left" > <small class="d-block">Available on the</small> App Store </span></a> </button>
            </div>

      </div>
    </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>