<!-- ======= portfolio ======= -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<section class="portfolios">
    <div class="container">
        <div class="section-title">
            <h2>Our Best Projects</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-health-plus">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h3><a routerLink="/portfolio/health-plus">Health+</a></h3>
                    <div class="py-1">
                        <span class="tag healt-plus-tag">Healthcare</span>
                    </div>
                    <p>Health+ is the perfect partner to improve your fitness routine. Users can track their nutrition intake, workout, vitals, sleep hours, stress level and much more with this amazing fitness tracking app. It also allows the users to connect
                        with the trusted healthcare professionals and get guidence. Keep a check on your health and interact with your personal health coach with Health+.
                    </p>
                    <a routerLink="/portfolio/health-plus" class="btn btn-light dn2 new-btn"> View Details</a> 
                    <span class="mt-3 "><p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p><a href="https://apps.apple.com/in/app/health-maximize-your-health/id1547834390" target="_blank"> <button class="btn btn-download dn2 mx-2" title="Apple Store"><i class="bx bxl-apple fa-2x"></i></button></a></span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (2).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-meri-navigation">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/meri-navigation">Meri Navigation</a></h3>
                    <div class="py-1">
                        <span class="tag meri-navigation-tag">GPS Navigation</span>
                    </div>
                    <p>Meri Navigation is an Android application that offers offline navigation to the users. With smart suggestions and voice assistance, users can find the best routes easily. It also provides real time traffic updates to let the user choose
                        the fastest possible route. Meri Navigation has different navigation modes for different users so that they can customize the app according to their needs.
                    </p>
                    <a routerLink="/portfolio/meri-navigation" class="btn btn-light dn1 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.merinavigation" target="_blank"> <button
                class="btn btn-download dn1 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>


          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (5).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-maetrix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <h3><a routerLink="/portfolio/the-maetrix">The Maetrix</a></h3>
                    <div class="py-1">
                        <span class="tag matrix-tag">LMS</span>
                    </div>
                    <p>Maetrix is an LMS whose prime users are Aesthetic Practitioners. It comprises multiple business development courses and video lessons for different Aesthetic Businesses. You can also read informative blogs and listen to podcasts with
                        just a click. The picture-in-picture mode of the application lets users use other apps simultaneously. One can buy or subscribe to any available course and watch the same on their smartphones, tablets or desktops.</p>
                    <a routerLink="/portfolio/the-maetrix" class="btn btn-light dn-mat new-btn mb-4"> View Details</a>
                    <div class="template-demo">
                        <button class="btn matt"><a href="https://themaetrix.com/" target="_blank"><i class='bx bx-globe'></i> <span class="d-inline-block text-left"> <small class="d-block">Visit on</small> themaetrix.com </span></a></button>
                    </div>
                </div>

                <div class=" col-lg-6 col-sm-12 col-md-6 order-sm-first order-md-first order-lg-first pt-1" style="width:100%;position:relative">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/maetrix-mockup(1).png" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-happyhiv" style="background-color: #299BB8;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/petpro">PetPro</a></h3>
                    <div class="py-1">
                        <span class="tag petpro-tag" style="color:#299BB8;">Health App for Pets</span>
                    </div>
                    <p>A pet management app that helps the lovely owners take better care of their lovely pets. It allows the users to enter and maintain information about their pets, check inventory and place orders for pet supplies. They can also access and inspect their pets’ lab reports and medical records including grooming appointments, physical and online video consultations, vaccination, and much more.</p>

                    <a routerLink="/portfolio/petpro" class="btn btn-light dn13 new-btn"> View Details</a>
                    
                    <span class="mt-3 ">
                        <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.petpro" target="_blank"> <button class="btn btn-download dn13 mx-2" title="Google Play"> <i class="bx bxl-play-store fa-2x"></i></button></a>
                    </span>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (4).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-newsbulb">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/newsbulb">Newsbulb</a></h3>
                    <div class="py-1">
                        <span class="tag newsbulb-tag">News</span>
                    </div>
                    <p>Stay more connected to daily happenings of the world with Newsbulb. A personalized news app that will get you up to speed with the news stories most important to you with just one click. The easiest way to always stay informed because
                        your every minute counts. Find relevant news that interests you. Newsbulb covers everything from entertainment to global events.</p>
                    
                    <a routerLink="/portfolio/newsbulb" class="btn btn-light dn3 new-btn"> View Details</a>
                    <span class="mt-3 ">
            <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
            <a href="https://play.google.com/store/apps/details?id=com.newsbulb&hl=en_IN" target="_blank"> <button
                class="btn btn-download dn3 mx-2" title="Google Play">
                <i class="bx bxl-play-store fa-2x"></i>
              </button></a>
            <a href="https://apps.apple.com/us/app/news-bulb/id1497045901?ls=1" target="_blank">
              <button class="btn btn-download dn3 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>

          </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 newsbulb-video mt-2 order-sm-first order-md-first order-lg-first pt-1">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (3).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <!-- </div> -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a class="btn-primary" routerLink="/portfolio">
      View More</a>
    </div>
</section>


<!-- End portfolio section -->