.btn-download {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
}
.btn-light {
  background: transparent;
  border: 2px dashed #fff;
  font-weight: 700;
  color: white;
}

.dn1:hover {
  background-color: #fff;
  color: #5798f4;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* #0074b9 */

.dn2:hover {
  background-color: #fff;
  color: #0074b9;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* dea222 */
.dn3:hover {
  background-color: #fff;
  color: #dea222;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

/* 244ca3 */

.dn4:hover {
  background-color: #fff;
  color: #244ca3;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.dn5:hover {
  background-color: #fff;
  color: #00529b;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
.dn12:hover{
  background-color: #fff;
  color: #2D2D2D;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.dn-mat:hover {
  color: #232175;
  background-color: #fff;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}

.matt span,
.matt i {
  color: #fff;
}

.matt:hover {
  background: #fff;
}
.matt:hover span,
.matt:hover i,
.matt:hover span small {
  color: #232175;
}
/* 3173ae */
.demo .btn-matrix {
  border: 3px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.5em;
  background: transparent;
  font-weight: 700;
}

.demo .btn-matrix:hover {
  /* border: 3px solid #2c9e98; */
  color: #232175 !important;
  background: #fff !important;
}
.demo .btn-matrix:hover a {
  /* border: 3px solid #2c9e98; */
  color: #232175 !important;
}
/* View More Button */

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button.learn-more {
  width: 12rem;
  height: auto;
}

.button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #2ca694;
  border-radius: 1.625rem;
}

.button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #2ca694;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button:hover .circle {
  width: 100%;
}

.button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.button:hover .button-text {
  color: #fff;
}
.arrow::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0em solid #0000 !important;
  border-bottom: 0;
  border-left: 0em solid #0000 !important;
  top: 10px;
  position: relative;
}

.matt span,
.matt i {
  color: #fff;
}

.matt:hover {
  background: #fff;
}
.matt:hover span,
.matt:hover i,
.matt:hover span small {
  color: #232175;
}
/* 3173ae */
.tag {
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0px;
  padding: 10px 30px;
  padding: 10px 30px;
  background: #fff;
  width: auto;
  font-size: 1.5em;
}

.healt-plus-tag {
  color: #0074b9;
}

.meri-navigation-tag {
  color: #5798f4;
}

.matrix-tag {
  color: #232175;
}

.newsbulb-tag {
  color: #dea222;
}

.nph-tag {
  color: #244ca3;
}
.footyedge-tag {
  color: #00529b;
}
.dn5:hover {
  background-color: #fff;
  color: #00529b;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75);
}
.dn13:hover{  
  background-color: #fff;
  color:#299BB8;
  box-shadow: -1px 52px 29px -45px rgba(255, 255, 255, 0.75)
}
.petpro-tag{color:#299BB8;}