<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="digipage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Digital Marketing</h1>
        <h4>“The best marketing doesn’t feel like marketing." – Tom Fishburne</h4>
          <p class="pt-2">Behind every post, campaign, and strategy is a team of <strong class="main-text">strategists</strong> who are always here to help you make the most of your <strong class="main-text">digital media presence</strong> or website. Our digital marketing services will create a buzz around your products and services, and connect you with the right audience. Marketing is not a business of one person, but the efforts of a team. </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/digital.png" class="img-fluid" alt="Best-Digital-Marketing-Services-Banner-Image-Apponward" title="Best-Digital-Marketing-Services-Banner-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
  <div class="container">
    <div class="new-shape">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="new-shape1">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape2">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape3">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="new-shape4">
      <img src="./assets/images/animate-cross-icon.png">
    </div>
    <div class="new-shape5">
      <img src="./assets/images/animate-round-ball.png">
    </div>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="section-title">
                  <h2 class="text-capitalize">Marketing Creativity Digitally</h2>
                  <hr class="center-ball">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="smm">
              <h3 class="text-capitalize">Social Media Marketing (SMM)</h3>
              <p>Inspire and influence your audience because we define you, the way you are. We are constantly striving to provide you with the greatest services that not only engage more clients but also produce refreshing outcomes. We help you connect with the digital world and grow your online presence. Now is the moment to get social on social media!</p>
              <a routerLink="/services/social-media-marketing" class="new-btn"> Read More</a>

            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <img src="./assets/images/SMM.png" class="img-fluid" alt="social-media-marketing-services-apponward" title="social-media-marketing-services-apponward">
          </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>Search Engine Optimization (SEO)</h3>
            <p>With Apponward, you can represent your company everywhere. To supply you with the correct traffic, we make the right actions at the right moment. In the limitless sky of the digital world, we build your business in a unique way. We can assist you in making the best marketing decisions for your company. Come on in and let us prove your value to the rest of the world.</p>
            <a routerLink="/services/search-engine-optimization" class="new-btn"> Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
          <img src="./assets/images/seo.png" class="img-fluid" alt="seo-services-by-apponward" title="seo-services-by-apponward">
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>Google Ads / PPC (Pay-per-click)</h3>
            <p>With our immeasurable services utilising Google advertising and Pay-per-click, we put you ahead of your rivals. We welcome you to the digital world.
              We accelerate your company's digital marketing efforts. Because your consumers aren't simply present locally, we employ Google advertisements to develop your business internationally.
              With our digital marketing services, we revitalise your company's originality.
              </p>
            <a routerLink="/services/search-engine-marketing" class="new-btn"> Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
          <img src="./assets/images/google-ads.png" class="img-fluid" alt="google-ads-services-apponward" title="google-ads-services-apponward">
        </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="smm">
          <h3>Content Writing</h3>
          <p>A simple concept may turn into a massive brand. The only fashion that never goes out of style is content. We generate material that is beneficial to your company. We can help you with blog writing, social media content, site content writing, and a variety of other services.
            Because we develop material that people desire to spend their time with, we magnify and publish them to give creative outcomes.
            </p>
          <a routerLink="/services/content-writing" class="new-btn"> Read More</a>
        </div>
      </div>
      <div id="servicescontent" class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
        <img src="./assets/images/content-writing.png" class="img-fluid" alt="content-writing-services-apponward" title="content-writing-services-apponward">
      </div>
    </div>
  </div>
</section>
<!--highlighted Features section end-->
<!--why digital section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Digital Marketing?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>Digital marketing is a significant part of the marketing of a business. It is the next big thing in this digital marketing world after the digital world itself. <br><br>
                It helps businesses build their online presence across the world with simple yet powerful tools.<br><br>
                We are always here to guide you through each part of your digital presence, so it works seamlessly for you. We help your business reach the target audience digitally. <br><br>
                Let’s work together to grow your business.
                </p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/digital-market.png" class="img-fluid" alt="Why-Digital-Marketing-Services-by-Apponward-Technologies" title="Why-Digital-Marketing-Services-by-Apponward-Technologies">
            </div>
        </div>
    </div>
</section>
<!--why digital sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>