<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-dns">
  <div class="container">
    <div class="background-circle">
      <img src="./assets/images/dns/banner-background.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
        <img src="./assets/images/dns/banner-img.png" class="img-fluid" alt="dental-shade-navigator-a-great-assistant-for-dental-professionals-portfolio" title="dental-shade-navigator-a-great-assistant-for-dental-professionals-portfolio">
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6  column-right">
        <h1>Dental Shade Navigator</h1>
        <p>This application is a great assistant for dental professionals. This app can be used to check and select the best shade for direct anterior restoration. It allows the user to customize the composite materials the professionals can use. It also matches the teeth color to direct composites and neutralises the uploaded image to get the best and original results.</p>
        <img src="./assets/images/dns/banner-img-1.png" class="img-fluid" alt="dental-shade-navigator-a-great-assistant-for-dental-professionals-portfolio" title="dental-shade-navigator-a-great-assistant-for-dental-professionals-portfolio">
      </div>
    </div>
  </div>
</section>
<!--hero section end-->
<!--ui design section start-->
<section class="ui-design-dns">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>UI Design</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-1">
          <img src="./assets/images/dns/ui-screen-1.png" class="img-fluid" alt="ui-design-portfolio" title="ui-design-portfolio">
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-2">
          <img src="./assets/images/dns/ui-screen-2.png" class="img-fluid" alt="shades-ui-design-portfolio-by-apponward" title="shades-ui-design-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-3">
          <img src="./assets/images/dns/ui-screen-3.png" class="img-fluid" alt="take-picture-ui-design-portfolio-by-apponward" title="take-picture-ui-design-portfolio-by-apponward">
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 screen-4">
          <img src="./assets/images/dns/ui-screen-4.png" class="img-fluid" alt="choose-reference-ui-design-portfolio-by-apponward" title="choose-reference-ui-design-portfolio-by-apponward">
        </div>
      </div>
    </div>
  </div>
</section>
<!--ui design section end-->
<!--app features section starts-->
<section class="app-feature-dns">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/dns/home.png" class="img-fluid" alt="choose-reference-feature-by-apponward" title="choose-reference-feature-by-apponward">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Home</h3>
          <p>This app is especially designed by the dental experts for the dental experts for meticulous dentistry practices.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <img src="./assets/images/dns/screen-2.png" class="img-fluid" alt="dental-professionals-can-check-and-match-the-teeth-color-features" title="dental-professionals-can-check-and-match-the-teeth-color-features">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Screen 2</h3>
          <p>The Dental Shade Navigator app allows the dental professionals to check and match the teeth color to direct composites virtually.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-2">
          <img src="./assets/images/dns/onboarding.png" class="img-fluid" alt="best-shade-for-direct-anterior-restorations-features" title="best-shade-for-direct-anterior-restorations-features">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Onboarding</h3>
          <p>The app selects the best shade for direct anterior restorations.<br>
            Users can feed the material details in the app.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <img src="./assets/images/dns/rewards.png" class="img-fluid" alt="rewards-feature" title="rewards-feature">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Rewards</h3>
          <p>Dentists can also set their own reference point Lab-values.<br>
            They can also neutralise the uploaded images to get more accuracy.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack-petpro">
  <div class="container">
      <div class="section-title text-center">
          <h2>Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow">
            <div class="text-center">
              <h3>iOS</h3>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-3.png" alt="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" title="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>Swift</p>
                  </div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-4.png" alt="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" title="swift-xcode-ios-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>Xcode</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow">
            <div class="text-center">
              <h3>Android</h3>
                <div class="row">
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-10.png" alt="kotlin-technology-used-in-Nukkad-pai-hai" title="kotlin-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>Kotlin</p>
                  </div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-11.png" alt="android-studio-technology-used-in-Nukkad-pai-hai" title="android-studio-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>Android Studio</p>
                  </div>
                  <div class="col-4">
                    <img src="/assets/images/technology/tech-stack-9.png" alt="kotlin-technology-used-in-Nukkad-pai-hai" title="kotlin-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>MVVM Architecture</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2 pb-5">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="padding shadow">
            <div class="text-center">
              <h3>Backend</h3>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                  <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Laravel</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>PHP</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-dns">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <p>Download the app now to experience the new world of dentistry.</p>
              <div class="template-demo"> 
                <button class="btn mt-2"><a href="https://apps.apple.com/in/app/dental-shade-navigator/id1486138470" target="blank"><i class='bx bxl-apple'></i> <span class="d-inline-block text-left" > <small class="d-block">Available on the</small> App Store </span></a> </button> <button class="btn mt-2"> <a href="https://play.google.com/store/apps/details?id=com.dentalShade&hl=en_IN" target="blank"><i class='bx bxl-play-store' ></i> <span class="d-inline-block text-left" > <small class="d-block">Get it on the</small> Google Play </span></a> </button> 
              </div>
          </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>