<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="sempage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Google Ads / PPC</h1>
        <h4>The best marketing strategies to increase your consumer base<!--The best marketing strategies to increase your consumer base--></h4>
          <p class="pt-2">With our immeasurable services utilising <strong class="main-text">Google advertising</strong> and <strong class="main-text">Pay-per-click,</strong> we put you ahead of your rivals. We welcome you to the digital world. We accelerate your company's digital marketing efforts. Because your consumers aren't simply present locally, we employ Google advertisements to develop your business internationally. With our digital marketing services, we <strong class="main-text">revitalise</strong> your company's originality</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/banner/banner-new/1-04 (2).png" class="img-fluid" alt="Best-Google-Ads-Services-Banner-Image-Apponward" title="Best-Google-Ads-Services-Banner-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
  <div class="container">
    <div class="shape-g1">
      <img src="./assets/images/animate-round-ball.png">
    </div>
    <div class="shape-g2">
      <img src="./assets/images/animate-round-ball.png" style="width: 50%;">
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="section-title">
                <h2>Explore the realm of Search Engine Marketing</h2>
                <hr class="center-ball">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-2 col-md-2 col-lg-2 text-center">
            <img src="./assets/images/digital-marketing/icon-1.png" class="img-fluid" alt="client-reach-icon-apponward" title="client-reach-icon-apponward">
        </div>
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
            <h3>Client Reach</h3>
            <p>Reaching your clients is now easier with Search Engine Marketing. It increases the visibility of your items or services on the search engines. Paid search advertising can provide rapid results since they allow you to contact your target clients very instantaneously.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-2 col-md-2 col-lg-2 text-center">
            <img src="./assets/images/digital-marketing/icon-2.png" class="img-fluid" alt="geo-targeted-ads-icon-apponward" title="geo-targeted-ads-icon-apponward">
        </div>
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
            <h3>Geo-Targeted Ads</h3>
            <p>SEM allows you to target customers depending on their locations. You can make advertising in several languages and choose where they will show. With Apponward, you can choose a nation, city, or even a particular location anywhere in the globe to show your advertisements. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-2 col-md-2 col-lg-2 text-center">
            <img src="./assets/images/digital-marketing/icon-3.png" class="img-fluid" alt="increased-ads-visibility-icon-apponward" title="increased-ads-visibility-icon-apponward">
        </div>
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
            <h3>Ad Visibility</h3>
            <p>Optimised Search Ads can bring relevant visitors to your website as they show at the top of the Search Engine Result Pages, above the organic results. 
              You can increase the performance of your advertisements and assure high ad exposure and relevant website visits by using the correct advertising budget, optimal bidding, and attractive ad wording.
              </p>
        </div>
    </div>
    <div class="row">
      <div class="col-4 col-sm-2 col-md-2 col-lg-2 text-center">
          <img src="./assets/images/digital-marketing/icon-4.png" class="img-fluid" alt="PPC-icon-apponward" title="PPC-icon-apponward">
      </div>
      <div class="col-8 col-sm-10 col-md-10 col-lg-10">
          <h3>Pay Per Action</h3>
          <p>Once paid search advertisements are generated, they'll show for free, and you'll only be charged when someone clicks on your ads.
            You can receive free brand recognition and exposure on search results, and you'll only be paid if someone clicks on the ads and visits the landing page.
            </p>
      </div>
  </div>
  </div>
</section>
<!--highlighted Features section end-->
<!--why section starts-->
<section class="why-us">
  <div class="container">
      <div class="new-shape1">
          <img src="./assets/images/animate-round-ball.png">
        </div>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="section-title">
                  <h2>Why SEM?</h2>
                  <hr class="center-ball">
              </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
             <p>SEM works in tandem with content marketing and SEO  to propel your brand to the top of the major  search engines across the world only if you play the SEM cards correctly.
              It is a crucial conversion factor for every marketing strategy.
              </p>
          </div>
      </div>
  </div>
</section>
<!--why  sectione end-->
<div id="blogHome"><app-footer></app-footer></div>
