<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section class="banner-happyhiv" >
  <div class="container">
    <div class="bg-pattern">
      <img src="./assets/images/heyfan/background.png">
    </div>
    <div class="row">
        
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
        <img src="./assets/images/happyhiv/logo.png">
        <h1>Happy HIV</h1>
        <p>Happy HIV is a dating app for the HIV+ people to interact, socialize, and meet other HIV+ people. The app allows users to send friend requests, update their status, communicate, and much more. The users of this software will be able to restart their lives in a fresh way.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <img src="./assets/images/happyhiv/banner.png" class="img-fluid" alt="Heyfan-application-byapponward" title="Heyfan-application-byapponward" style="height: 500px;">
      </div>
      
    </div>
  </div>
</section>
<!--hero section end-->
<!--app features section starts-->
<section class="app-feature-happyhiv">
  <div class="container">
    <div class="background-1">
        <img src="./assets/images/happyhiv/background.png" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD.">
    </div>
    <div class="row text-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>App features</h2>
        <hr>
      </div>
    </div>
    <div class="screens">
      <div class="row">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <h3>Timeline</h3>
          <p>Users can post their happy moments via images and videos and much more. Other users of the app can see the latest feeds, like and comment, and share them over multiple channels.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-first mt-5">
          <img src="./assets/images/happyhiv/screen-2.png" class="img-fluid" alt="list-of-all-the-celebrities-heyfan" title="list-of-all-the-celebrities-heyfan">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Profile</h3>
          <p>The app allows the users to update and customize their profile. They can set their profile image, update their hobbies, region, and what kind of partner they are looking for.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
            <img src="./assets/images/happyhiv/screen-1.png" class="img-fluid" alt="profile-of-the-celebritie-heyfan" title="profile-of-the-celebritie-heyfan">
        </div>
      </div>
      <div class="row">
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3 class="txt">Find Friends</h3>
          <p>The search friends feature of the app enables the users to find friends based on their location, interests, and much more. </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-lg-first">
          <img src="./assets/images/happyhiv/screen-4.png" class="img-fluid" alt="artists-can-upload-the-customized-video" title="artists-can-upload-the-customized-video">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-5">
          <h3>Chat</h3>
          <p>The in-app messaging feature offers an end-to-end secure chatting platform for the users. They can do text chatting over the app whenever they want.
          </p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 pb-5">
          <img src="./assets/images/happyhiv/screen-3.png" class="img-fluid" alt="share-video-with-other-members-of-the-app" title="share-video-with-other-members-of-the-app">
        </div>
      </div>
    </div>
  </div>
</section>
<!--app features section end-->
<!--technology stack section starts-->
<section class="technology-stack pt-5 happy-hiv">
  <div class="container">
      <div class="section-title text-center">
          <h2 style="font-weight: bold;">Technology stack</h2>
          <hr class="center-ball">
      </div>
      <div class="row py-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow" style="min-height: 270px;">
            <div class="text-center">
              <h3>iOS</h3>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-3">
                    <img src="/assets/images/technology/tech-stack-3.png" alt="swift-ios-technology-used-in-happhiv" title="swift-ios-technology-used-in-happhiv" class="img-fluid">
                    <p>Swift</p>
                  </div>
                  <div class="col-3">
                    <img src="/assets/images/technology/tech-stack-5.png" alt="ionic-ios-technology-used-in-happhiv" title="ionic-ios-technology-used-in-happhiv" class="img-fluid">
                    <p>Ionic</p>
                  </div>
                  <div class="col-3">
                    <img src="/assets/images/technology/tech-stack-4.png" alt="xcode-ios-technology-used-in-happhiv" title="xcode-ios-technology-used-in-happhiv" class="img-fluid">
                    <p>Xcode</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
          <div class="padding shadow" style="min-height: 270px;">
            <div class="text-center">
              <h3>Backend</h3>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                  <img src="/assets/images/technology/laravel-2.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>Laravel</p>
                </div>
                <div class="col-4">
                  <img src="/assets/images/technology/php-1.png" alt="Technology-used-in-making-meri-navigation-application" title="Technology-used-in-making-meri-navigation-application" class="img-fluid">
                  <p>PHP</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
          <div class="padding shadow" style="min-height: 270px;">
            <div class="text-center">
              <h3>Android</h3>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-2">
                    <img src="/assets/images/technology/tech-stack-10.png" alt="kotlin-technology-used-in-happyhiv" title="kotlin-technology-used-in-happyhiv" class="img-fluid">
                    <p>Kotlin</p>
                  </div>
                  <div class="col-2">
                    <img src="/assets/images/technology/tech-stack-6.png" alt="react-technology-used-in-happyhiv" title="react-technology-used-in-happyhiv" class="img-fluid">
                    <p>React</p>
                  </div>
                  <div class="col-2">
                    <img src="/assets/images/technology/tech-stack-11.png" alt="android-studio-technology-used-in-happyhiv" title="android-studio-technology-used-in-happyhiv" class="img-fluid">
                    <p>Android Studio</p>
                  </div>
                  <div class="col-2">
                    <img src="/assets/images/technology/tech-stack-7.png" alt="android-studio-technology-used-in-Nukkad-pai-hai" title="android-studio-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>Java</p>
                  </div>
                  <div class="col-2">
                    <img src="/assets/images/technology/tech-stack-9.png" alt="android-studio-technology-used-in-Nukkad-pai-hai" title="android-studio-technology-used-in-Nukkad-pai-hai" class="img-fluid">
                    <p>MVVM Architecture</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!--technology stack section end-->
<!--cta section start-->
<section class="cta-happyhiv">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-2 col-md-2 col-lg-2 text-center" style="padding-top: 50px;">
              <img src="./assets/images/happyhiv/logo.png" class="img-fluid" alt="heyfan-logo" title="heyfan-logo">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6" style="padding-top: 20px;">
            <p>The world is moving out now, where are you? Download the app from Play or App store, and find your partner NOW!</p>  
            <p style="text-align: center;"><button class="btn"><a href="https://play.google.com/store/apps/details?id=com.happyhiv" target="blank" style="color: #fff;"> <i class='fab fa-google-play fa-2x'></i> <span class="d-inline-block text-left" style="color: #fff;"> <small class="d-block">Android App on</small> Google Play </span> </a></button> 
            <button class="btn"><a href="https://apps.apple.com/id/app/happy-hiv/id1534491635" target="blank" style="color: #fff;"> <i class='fab fa-apple fa-2x'></i> <span class="d-inline-block text-left" style="color: #fff;"> <small class="d-block">Available on the</small> Apple Store </span> </a></button> </p>

        </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center footer" style="padding-top: 20px;">
            <img src="./assets/images/happyhiv/footer.png" class="img-fluid footer-img"  title="Apponward Technology PVT. LTD.">

          </div>
      </div>
  </div>
</section>
<!--cta section end-->
<app-footer></app-footer>
