<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="uipage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>UI/UX Designs</h1>
        <h4>Let’s design the success of your business with creative and unique designs.</h4>
          <p class="pt-2">The app's UI/UX Design <strong class="main-text">enhances</strong> the customer satisfaction, and <strong class="main-text">user experiences.</strong> A well designed application boosts customer happiness and business conversions. We <strong class="main-text">prioritize</strong> user experience by creating <strong class="main-text">intuitive</strong> design for a variety of digital services, including websites, and applications.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="./assets/images/banner/banner-new/1.png" class="img-fluid" alt="Best-UI-UX-Design-Services-Banner-Image-Apponward" title="Best-UI-UX-Design-Services-Banner-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="section-title">
                  <h2>Putting your ideas on display</h2>
                  <hr class="center-ball">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="smm">
              <h3>UI/UX for Mobile App</h3>
              <p>The UI/UX of a mobile app is crucial. A good user interface and experience engages and boosts potential consumers. You can make your app more dynamic and engaging by working with our talented designers.</p>
              <a routerLink="/services/ui-ux-for-mobile-apps" class="new-btn"> Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center order-sm-first order-md-firs torder-lg-first">
            <img src="./assets/images/ui-ux/app-design.png" class="img-fluid" alt="UI-UX-for-Mobile-App-by-Apponward" title="UI-UX-for-Mobile-App-by-Apponward">
          </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>UI/UX for Web App</h3>
            <p>The UX/UI design of web apps increases the consumer experience and engagement. We assist you in designing Ui/UX that not only separates your audience, but also provides them with personalised solutions.</p>
            <a routerLink="/services/ui-ux-for-web-apps" class="new-btn"> Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
          <img src="./assets/images/ui-ux/website-design.png" class="img-fluid" alt="UI-UX-for-Web-App-by-Apponward" title="UI-UX-for-Web-App-by-Apponward">
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="smm">
            <h3>Logo Design</h3>
            <p>A well-crafted logo fosters trust and encourages consumers to remain around. It informs prospective clients about you, your services, and how it helps them. We help you design fresh and unique logos that convey your ideas, personality, products and services to the prospects clearly.
            </p>
            <a routerLink="/services/logo-design" class="new-btn"> Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5  order-sm-first order-md-firs torder-lg-first">
          <img src="./assets/images/ui-ux/logo-design.png" class="img-fluid" alt="Logo-Design-by-Apponward" title="Logo-Design-by-Apponward">
        </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="smm">
          <h3>Prototyping</h3>
          <p>Meticulous planning at the prototype stage prevents worldwide changes in the finished arrangement.With interactive prototyping, we speed up the design process and concentrate on the important interface components.</p>
          <a routerLink="/services/prototyping" class="new-btn"> Read More</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center pt-5">
        <img src="./assets/images/ui-ux/img-4.png" class="img-fluid" alt="Prototyping-by-Apponward" title="Prototyping-by-Apponward">
      </div>
    </div>
  </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why UI & UX Design?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>The UI/UX of an application binds the consumers to the products, ensuring that the requirements are met while also accomplishing the goals. The UX assists you in developing a service that is helpful, comprehensive, and enjoyable. It ultimately increases the audience engagement, conversions, and revenue.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/why-ui-ux.png" class="img-fluid" alt="Why-UI-&-UX-Design-by-Apponward-Technologies" title="Why-UI-&-UX-Design-by-Apponward-Technologies">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>