.footer-newsletter .form-section form button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
    margin-top: 21px;
}

.footer-newsletter .form-section {
    position: relative;
    max-width: 100%;
    display: block;
}

.footer-newsletter .form-section form {
    position: relative;
    max-width: 100%;
    display: block;
}

.footer-newsletter .form-section form .alert-success {
    position: relative;
    bottom: -80px;
    z-index: 9;
    margin-top: -80px;
    width: 100%;
}

button {
    cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: 1.25em;
    margin-left: 60px;
}

.separator:not(:empty)::after {
    margin-left: 1.25em;
    margin-right: 60px;
}

.whatsapp-img img:hover {
    content: url(../../../../assets/images/team/whatsapp-img.png);
    margin-top: 25px;
    height: 59px;
}

.skype-img img:hover {
    content: url(../../../../assets/images/team/skype-img.png);
    margin-top: 25px;
    height: 59px;
}

.calender-img img:hover {
    content: url(../../../../assets/images/team/calender-img.png);
    margin-top: 25px;
    height: 59px;
}

.alert-txt {
    position: absolute;
    top: 70px;
    font-size: 13px;
    color: #dc3545;
}