<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="iospage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Android Apps Development</h1>
                <h4>Creative Android Apps For Your Creative Ideas</h4>
                <p class="pt-2">With the greatest android applications, you can <strong class="main-text">boost</strong> your company's growth. Our Android app development services will help your business reach out to more customers, <strong class="main-text">generate sales</strong>,
                    <strong class="main-text">raise brand recognition</strong>, and <strong class="main-text">cultivate a loyal customer</strong> base.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/banner/banner-new/Services(Android Application).png" class="img-fluid" alt="Best-Android-App-Development-Company-Banner-Image-Apponward" title="Best-Android-App-Development-Company-Banner-Image-Apponward">
                </div>
            </div>
        </div>
    </div>
</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2 class="text-capitalize">Tech Stack</h2>
                    <hr class="center-ball">
                    <p class="text-center">With our development strategies, we design to promote your business, allowing us to construct a solid architecture that adapts to future scalability.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/architecture.png" alt="Architecture-icon-Android-app-apponward" title="Architecture-icon-Android-app-apponward">
                        <h5 class="card-title mt-3">Architecture</h5>
                        <p class="card-text">To make your application scalable, manageable, tested, and navigable, we use the most recent MVVM and MVC architectural principles.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-5.png" alt="Technology-used-icon-Android-app-apponward" title="Technology-used-icon-Android-app-apponward">
                        <h5 class="card-title mt-3">Technology</h5>
                        <p class="card-text">To create strong, prominent, and creative apps, we employ the Android SDK (Software Development Kit).</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-1.png" alt="Programming-Language-icon-Android-app-apponward" title="Programming-Language-icon-Android-app-apponward">
                        <h5 class="card-title mt-3">Programming Language</h5>
                        <p class="card-text">Our Android apps are written in Kotlin, a fantastic fit and versatile programming language. It delivers all of the benefits of a contemporary language to Android without sacrificing quality.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card-deck">
                <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/IDE.png" alt="IDE-technology-stack-icon-Android-app-apponward" title="IDE-technology-stack-icon-Android-app-apponward">
                        <h5 class="card-title mt-3">IDE</h5>
                        <p class="card-text">We utilise Android Studio to make the app development process more manageable and feasible, thus improving the user experience.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/database.png" alt="Database-technology-stack-icon-Android-app-apponward" title="Database-technology-stack-icon-Android-app-apponward">
                        <h5 class="card-title mt-3">Database</h5>
                        <p class="card-text">Changes don't bother us since we're flexible. We create applications that can store and retrieve all essential data, whether it's from a relational or non-relational database.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2 class="text-capitalize">Why Android Application?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <p class="why-android">Android apps are regarded as the frosting on the Android OS or smartphone's cake. Apps created by Android developers are popular because they are simple and convenient to use. Smart Android apps can assist a company's growth. </p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/mobile-app/android.png" class="img-fluid" alt="why-choose-andorid-applicaiton-image-apponward" title="why-choose-andorid-applicaiton-image-apponward">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->

<section class="portfolios mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Best Android Apps</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-meri-navigation">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/meri-navigation">Meri Navigation</a></h3>
                    <div class="py-1">
                        <span class="tag meri-navigation-tag">GPS Navigation</span>
                    </div>
                    <p>Meri Navigation is an Android application that offers offline navigation to the users. With smart suggestions and voice assistance, users can find the best routes easily. It also provides real time traffic updates to let the user choose
                        the fastest possible route. Meri Navigation has different navigation modes for different users so that they can customize the app according to their needs.
                    </p>
                    <a routerLink="/portfolio/meri-navigation" class="btn btn-light dn1 new-btn"> View Details</a>
                    <span class="mt-3 ">
              <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
              <a href="https://play.google.com/store/apps/details?id=com.merinavigation" target="_blank"> <button
                  class="btn btn-download dn1 mb-5 mx-2" title="Google Play">
                  <i class="bx bxl-play-store fa-2x"></i>
                </button></a>
  
            </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (5).png" class="img-fluid">

                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-newsbulb">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/newsbulb">Newsbulb</a></h3>
                    <div class="py-1">
                        <span class="tag newsbulb-tag">News</span>
                    </div>
                    <p>Stay more connected to daily happenings of the world with Newsbulb. A personalized news app that will get you up to speed with the news stories most important to you with just one click. The easiest way to always stay informed because
                        your every minute counts. Find relevant news that interests you. Newsbulb covers everything from entertainment to global events.</p>
                    
                    <a routerLink="/portfolio/newsbulb" class="btn btn-light dn3 new-btn"> View Details</a>
                    <span class="mt-3 ">
              <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
              <a href="https://play.google.com/store/apps/details?id=com.newsbulb&hl=en_IN" target="_blank"> <button
                  class="btn btn-download dn3 mb-5 mx-2" title="Google Play">
                  <i class="bx bxl-play-store fa-2x"></i>
                </button></a>
              <a href="https://apps.apple.com/us/app/news-bulb/id1497045901?ls=1" target="_blank">
                <button class="btn btn-download dn3 mb-5 mx-2" title="Apple Store">
                  <i class="bx bxl-apple fa-2x"></i>
                </button></a>
  
            </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center order-sm-first order-md-first order-lg-first">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/1 (3).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a routerLink="/portfolio" class="btn-primary">View More</a></div>
</section>
<div id="blogHome">
    <app-footer></app-footer>
</div>