<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="protopage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Prototyping</h1>
        <h4>Simplifying the designing process Bringing the design to reality</h4>
        <p class="pt-2">We expedite the <strong class="main-text">designing process</strong> and focus on the <strong class="main-text">key interface</strong> components with our <strong class="main-text">interactive prototyping.</strong> Careful preparation during the prototype stage <strong class="main-text">avoids global modifications</strong> in the completed layout. </p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/ui-ux/img-4.png" class="img-fluid" alt="Prototyping-services-image-apponward" title="Prototyping-services-image-apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2>Designing brands that touch the hearts and souls of customers</h2>
                  <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Discover-Icon-Apponward" title="Discover-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Discover</h5>
                    <p class="card-text">Information on the client's business, including its history, competitors, and target audience, is collected.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Research-Icon-Apponward" title="Research-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Research</h5>
                    <p class="card-text">In-depth analysis of the industry is performed including visual research and findings.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Brainstorm-Icon-Apponward" title="Brainstorm-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Brainstorm</h5>
                    <p class="card-text"> Ideas are developed and the best design directions are created.</p>
                  </div>
                </div>
            </div>
            <div class="card-deck mt-5">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Desing-and-sketch-Icon-Apponward" title="Desing-and-sketch-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Design and Sketch</h5>
                  <p class="card-text">Based on the plan, logo concepts are created. Best logos are selected and converted into digital format.</p>
                </div>
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Delivery-Icon-Apponward" title="Delivery-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Delivery</h5>
                  <p class="card-text">Logo concepts are shown to the client for the approval. Styles guide is created that explains how to utilize the logo by exporting the files.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Prototyping?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>Prototyping is the crucial part of designing where we design a model that solves the customer's problem or validates a concept before moving on to the next step of the process.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/ui-ux/prototype.png" class="img-fluid" alt="Why-Choose-Apponward-for-Prototyping-Image" title="Why-Choose-Apponward-for-Prototyping-Image">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>
