<!-- ======= About us ======= -->
<!-- <section class="features">
  <div class="container">
    <div class="section-title">
      <h2>CLEAN CLEAR CODE, IS WHAT WE DO</h2>
      <hr class="center-ball">
      <p>Our team is always seeking new and innovative ways to make your life easier through the use of disruptive technology.
        It's not just what we do, it's how we do it. Because more often than not, how you work is as important as what you do.
        We're a team of thinkers, designers, researchers and innovators who are passionate about finding new ways to make people’s lives easier.
        From Idea, Design, Development to Delivery, we help you build and launch apps, and assist you throughout the app development and maintenance process.
        </p>
    </div>
    <div class="col-lg-12">
      <img src="./assets/images/how-we-work.png" class="img-fluid" alt="">
    </div>
    <div class="col-12 mt-5 d-flex justify-content-center"><a routerLink="/about" class="btn-primary">Read More</a></div>
  </div>
  <div class="new-shape">
    <img src="./assets/images/animate-round-ball.png">
  </div>
  <div class="new-shape1">
    <img src="./assets/images/animate-cross-icon.png">
  </div>
  <div class="new-shape2">
    <img src="./assets/images/animate-cross-icon.png">
  </div>
  <div class="new-shape3">
    <img src="./assets/images/animate-round-ball.png">
  </div>
</section> -->
<!-- End About us -->