<!-- ======= Hero Section ======= -->

<section class="hero" style="max-width:100vw;">
    <div class="container">
        <div class="row  flex-column-reverse flex-md-row">
            <div class="col-lg-6 ">
                <h1 class="text-heading" style="color:#fff;font-size: 48px;margin-bottom:0px;">Need an
                    <b>App?</b>
                </h1>
                <h2 class="pt-4">"Build successful apps for every stage of your business with us"</h2><br>


                <p>Let's talk about your requirements in ...</p>
                <div class="container1">
                    <p><span class="typed-text" style="color: #FFD74B">{{typedTextSpan}}</span><span class="cursor">&nbsp;</span></p>
                </div>





                <div class="col-lg-9">
                    <div class="row mb-4" style="text-align:left;">

                        <div class="col-lg-6 col-sm-12 my-2 checkpoint">
                            <img src="./assets/images/right.png" class="img-fluid right-img">
                            <span class="text-light check-text">150+ apps delivered</span>
                        </div>


                        <div class="col-lg-6  col-sm-12 my-2 checkpoint">
                            <img src="./assets/images/right.png" class="img-fluid right-img">
                            <span class="text-light check-text">99% happy clients</span>
                        </div>


                        <div class="col-lg-6   col-sm-12 my-2 checkpoint">
                            <img src="./assets/images/right.png" class="img-fluid right-img">
                            <span class="text-light check-text">25+ countries served</span>
                        </div>

                    </div>
                </div>
                <a routerLink="/contact-us" class="btn-contact-us"> Contact Us</a>
            </div>
            <div class="col-lg-6 ">

                <img src="./assets/images/home-banner-img.png" class=" sideimg img-fluid" alt="app-development-company-apponward" title="app-development-company-apponward">

            </div>
        </div>
    </div>
</section>
<!--hero end-->