@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
.hero {
  width: 100%;
  position: relative;
  padding: 100px 0 70px 0;
  z-index: 1;
  background-image: linear-gradient(270deg, #28b18d -17.96%, #3473b0 100%);
}

.hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  line-height: 128.1%;
  letter-spacing: 0.025em;
}

.hero h2 {
  font-weight: 800;
  font-size: 17.3px;
  color: #ffffff;
}

.hero p {
  color: #eaeaea;
  font-size: 16px;
}
.hero p.text-heading {
  padding-top: 20px !important;
}
.hero p .main-text {
  font-weight: 900 !important;
  color: #fff !important;
}

.hero .new-btn {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.hero .new-btn:hover {
  cursor: pointer;
}

.hero-img {
  position: absolute;
  z-index: 5;
  top: -75px;
}

#hero-new {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
  background-blend-mode: overlay;
}

#hero-new h1 {
  color: #fff;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  line-height: 128.1%;
}

#hero-new p {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .hero p.text-heading {
    font-size: 38px !important;
  }

  .hero-img {
    position: absolute;
    top: -618px !important;
    width: auto !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 991px) {
  .hero-img {
    position: absolute;
    float: right;
    top: 150px;
    right: 17px;
    width: 425px;
    z-index: 1;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  /* mobile portrait */
  .checkpoint {
    width: 100%;
    text-align: center;
  }

  .sideimg {
    min-width: 40vw;
    max-width: 90vw;
  }

  .hero {
    text-align: center;
  }
}

@media only screen and (min-width: 321px) and (max-device-width: 960px) and (orientation: landscape) {
  /* Phone landscape */

  .checkpoint {
    width: 100%;
    text-align: center;
  }

  .sideimg {
    min-width: 40vw;
    max-width: 90vw;
  }

  .hero {
    text-align: center;
  }
}

@media only screen and (min-width: 960px) and (max-device-width: 1224px) and (orientation: landscape) {
  /* ipad or tablet  like landscape  13 inch landscape */

  .sideimg {
    position: absolute;
    top: 20%;
    min-width: 40vw;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 960px) and (max-device-width: 1224px) and (orientation: portrait) {
  /* ipad or tablet  like landscape  13 inch portrait */

  .sideimg {
    position: absolute;
    top: 25%;
    right:5%;
    min-width: 20vw;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1224px) {
  /* laptop  */

  .sideimg {
    position: absolute;
    top: 7%;
    min-width: 90%;
    max-width: 95%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  /* .sideimg {
    margin-top: 5%;
    position: absolute;
    top: 35%;
    right: 5%;
    min-width: 40vw;
    background-color: red;

  } */
}

.typing-container .input-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #FFD74B;
    margin-left: 0px;
    animation: blink 0.4s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.new-btn {
  text-decoration: none;
}

.new-btn:hover {
  text-decoration: none;
}

.right-img {
  width: 19px;
  height: 19px;
}

.check-text {
  font-family: Mulish;
  font-style: normal;
  /*font-weight: 600;*/
  font-size: 15px;
  line-height: 150%;
  font-family: "Mulish", sans-serif;
  padding-left: 5px;
}

/* .sideimg{
    position:absolute;
    min-width:40vw;
    max-width: 90vw;
} */

.container1 p {
  color: #ffd74b !important;
  font-weight: 800;
  height: auto;
  vertical-align: middle;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  line-height: 2.4rem;
}
.container1 p .container1 p span.cursor {
  display: inline-block;
  width: 2px;
  height: 1.3em;
  background-color: #ffd74b;
  margin-left: 0px;
  animation: blink 0.4s linear infinite alternate;
}
.btn-contact-us {
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 10px 30px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}
.btn-contact-us:hover {
  border: 2px solid #fff;
  color: #3379ad;
  background: #fff;
}
.container1 p

.container1 p span.cursor {
    display: inline-block;
    width: 2px;
    height: 1.3em;
    background-color: #FFD74B;
    margin-left: 0px;
    animation: blink 0.4s linear infinite alternate;
}
.cursor{
    display: inline-block;
    width: 2px;
    height: 1.3em;
    background-color: #FFD74B;
    margin-left: 0px;
    animation: blink 0.4s linear infinite alternate;
}





/* test */


body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}
.btn-contact-us {
    border: 2px solid #fff;
box-sizing: border-box;
border-radius: 100px;
padding: 10px 30px;
color: #fff;
font-size: 1.5em;
font-weight: 700;
}
.btn-contact-us:hover {
    border: 2px solid #fff;
    color: #3379ad;
    background: #fff;
}
