<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="flutterpage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <h1>Mobile Apps with Flutter</h1>
                <h4>We offer the finest cross-platform app development services with Flutter.</h4>
                <p class="pt-2">Flutter aims to build <strong class="main-text">cross-platform</strong> mobile app development more <strong class="main-text">efficiently</strong> and <strong class="main-text">straightforward.</strong> It allows you to create a single
                    app that runs on both Android and iOS.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
                <div class="hero-new-img">
                    <img src="assets/images/banner/flutter.png" class="img-fluid" alt="Best-Mobile-App-Development-with-Flutter-Banner-Image-Apponward" title="Best-Mobile-App-Development-with-Flutter-Banner-Image-Apponward">
                </div>
            </div>
        </div>
    </div>

</section>
<!--hero end-->
<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-title">
                    <h2>We don't simply think; we implement</h2>
                    <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/architecture.png">
                        <h5 class="card-title mt-3">Design and Architecture</h5>
                        <p class="card-text">We use the Flutter components for mobile app development to create engaging apps with dynamic and creative user interfaces.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-5.png">
                        <h5 class="card-title mt-3">Dynamic Dart</h5>
                        <p class="card-text">We develop apps that are exceptionally fast and efficient with Flutter, attaining native performance and simplifying activities.</p>
                    </div>
                </div>
                <div class="card mobile-android">
                    <div class="card-body">
                        <img src="./assets/images/highlighted-feature-1.png">
                        <h5 class="card-title mt-3">Rapid Reloading</h5>
                        <p class="card-text">Our developers can instantly work on new features and solve issues by bringing the latest source codes into the Dart Virtual Machine (VM).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why us section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Flutter Apps?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <p class="why-android">Flutter allows developers to construct extremely effective and adaptable hybrid apps because of its open-source nature. With our exceptional mobile application development services, discover all of the advantages that Flutter app development
                    can provide for your company.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <img src="./assets/images/mobile-app/why-1 1.png" class="img-fluid" alt="Why-Mobile-App-Development-with-Flutter-company" title="Why-Mobile-App-Development-with-Flutter-company">
            </div>
        </div>
    </div>

</section>
<!--why us sectione end-->
<!-- ======= portfolio ======= -->
<section class="portfolios mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Best Flutter Mobile Apps Projects</h2>
            <hr class="center-ball">
        </div>
    </div>
    <div class="portfolio-nukkad-pe-hai">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/nukkad-pe-hai">Nukkad Pe Hai</a></h3>
                    <div class="py-1">
                        <span class="tag nph-tag">Travel & Listing</span>
                    </div>
                    <p>Nukkad Pe Hai is a mobile application which allows the users to connect with the small vendor shops like salons, tea stalls, snacks and beverages stores, etc. at their nearby areas or street corners(Nukkad). Users can also see the
                        details of the shop and navigate there. Anyone can now enjoy the unexplored small wonders of their nukkad to get their work done in no time.
                    </p>
                    <a routerLink="/portfolio/nukkad-pe-hai" class="btn btn-light dn4 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
              <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
                 <a href="https://play.google.com/store/apps/details?id=com.nukkad.user" target="_blank"> <button
                  class="btn btn-download dn4 mb-5 mx-2" title="Google Play">
                  <i class="bx bxl-play-store fa-2x"></i>
                </button></a>
                <a href="https://apps.apple.com/in/app/nukkad-pe-hai/id1439918619" target="_blank">
              <button class="btn btn-download dn4 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>
  
            </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  text-center nph-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/nukkad pe hai (1).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-footyedge">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                    <h3><a routerLink="/portfolio/footyedge">Footyedge</a></h3>
                    <div class="py-1">
                        <span class="tag footyedge-tag">Sports</span>
                    </div>
                    <p>With over five years in development, footyedge is a predictive algorithm for Australian Rules Football (AFL). It collates a range of data and then utilises it to predict the scores and margins for each game of the AFL season. Available
                        as a free version, or as a subscription service, for more detailed prediction information.</p>

                    <a routerLink="/portfolio/footyedge" class="btn btn-light dn5 new-btn"> View Details</a>
                    <!-- <button class="btn ">View Details</button> -->
                    <span class="mt-3 ">
              <p class="text-white mt-4 mb-0 pt-3 mx-2" style="font-size: 12px;"><i>Available on</i></p>
               <a href="https://play.google.com/store/apps/details?id=com.footy.edge" target="_blank"> <button
                  class="btn btn-download dn5 mb-5 mx-2" title="Google Play">
                  <i class="bx bxl-play-store fa-2x"></i>
                </button></a>
                <a href="https://apps.apple.com/us/app/footy-edge/id1561785072" target="_blank">
              <button class="btn btn-download dn5 mb-5 mx-2" title="Apple Store">
                <i class="bx bxl-apple fa-2x"></i>
              </button></a>
  
            </span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-sm-first order-md-first order-lg-first text-center footyedge-video">
                    <!--<div class="frame">
                        <div class="video-newsbulb">
                            <video poster="./assets/images/petpro.png" src="https://apponward-website.s3.ap-south-1.amazonaws.com/1648121132.m4v" type="video" controls style="max-width:100%;" loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        </div>
                    </div>-->
                    <img src="./assets/images/home-portfolio/Footyedge (1).png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 d-flex justify-content-center"><a routerLink="/portfolio" class="btn-primary">View More</a></div>

</section>
<div id="blogHome">
    <app-footer></app-footer>
</div>