button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

.cntct-model {
    position: relative;
    max-width: 100%;
    display: block;
}

.cntct-model form {
    position: relative;
    max-width: 100%;
    display: block;
}

.cntct-model form .alert-success {
    position: relative;
    bottom: -80px;
    z-index: 9;
    margin-top: -80px;
    width: 100%;
    text-align: center;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.new-section .img {
    width: auto;
    height: 80px;
    display: inline;
}

button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

.cntct-model {
    position: relative;
    max-width: 100%;
    display: block;
}

.cntct-model form {
    position: relative;
    max-width: 100%;
    display: block;
}

.cntct-model form .alert-success {
    position: relative;
    bottom: -80px;
    z-index: 9;
    margin-top: -80px;
    width: 100%;
    text-align: center;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.icon-bar a img {
    width: 30px;
}

.icon-bar:hover a img {
    content: url("../../../assets/images/quicke2.png") !important;
    width: 30px;
}

.icon-talk {
    width: 32px;
    margin: 0;
    padding: 0;
}

.btn-socialtalk {
    border: 2px solid #1885a1;
    box-sizing: border-box;
    border-radius: 100px;
    width: 159px;
    height: 56px;
    text-align: left;
    background: -webkit-linear-gradient(270deg, #3477ae -17.96%, #2ba594);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    transition: 1s ease-in-out;
    font-size: 18px;
    padding: 12px 20px 12px 14px;
}

.btn-socialtalk:hover {
    border: 2px solid transparent;
    -webkit-text-fill-color: #fff;
    background: linear-gradient(to right, #3477ae, #2ba594);
    outline: none;
    transition: 1s ease-in-out;
}

button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

.cntct-model {
    position: relative;
    max-width: 100%;
    display: block;
}

.cntct-model form {
    position: relative;
    max-width: 100%;
    display: block;
}

.cntct-model form .alert-success {
    position: relative;
    bottom: -80px;
    z-index: 9;
    margin-top: -80px;
    width: 100%;
    text-align: center;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}

.new-section .img {
    width: auto;
    height: 80px;
    display: inline;
}

.newww {
    background: red;
}

.cntct-model .modal-body form ngx-intl-tel-input {
    width: 90% !important;
}

.cntct-model .modal-body form input[type=tel] {
    padding-top: 10px !important;
}

.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3[_ngcontent-serverApp-c50] input[_ngcontent-serverApp-c50],
.iti.separate-dial-code[_ngcontent-serverApp-c50] input {
    padding-top: 10px !important;
}

.iti input,
.iti input[type=text],
.iti input[type=tel] {
    padding-top: 15px !important;
}

.alert-txt {
    position: absolute;
    top: 70px;
    font-size: 13px;
    color: #dc3545;
}