<div class="mt-5" style="text-align: center; margin: 15vh 0; max-width: 100vw">
    <div class="section-title">
        <h2 style="font-weight: bold">Know More About Us</h2>
        <hr class="center-ball" />
        <p style="color: #000">
            Read our blogs, information bites, and interesting facts to stay informed about industry trends, latest technologies, and much more.
        </p>
    </div>

    <div class="row new-section pt-4">
        <div class="col-lg-12">
            <a href="https://www.facebook.com/apponward" target="blank" class="btn btn-socialtalk m-2">
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16.5117" cy="16" r="16" fill="white" />
          <path d="M17.2174 23.0488V16.5492H19.3982L19.7254 14.0154H17.2174V12.398C17.2174 11.6646 17.4202 11.1649 18.4731 11.1649L19.8137 11.1643V8.89803C19.5818 8.8679 18.786 8.79883 17.8598 8.79883C15.9256 8.79883 14.6015 9.97942 14.6015 12.1471V14.0154H12.4141V16.5492H14.6015V23.0488H17.2174Z" fill="url(#paint0_linear_5707:7665)"/>
          <defs>
            <linearGradient
              id="paint0_linear_5707:7665"
              x1="21.1426"
              y1="15.9238"
              x2="12.4141"
              y2="15.9238"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
          </defs>
        </svg> Facebook

            </a>

            <a href="https://www.instagram.com/apponward/" target="blank" class="btn btn-socialtalk m-2">
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16.0117" cy="16" r="16" fill="white" />
          <path
            d="M22.9735 13.1161C22.9407 12.3722 22.8204 11.8608 22.6481 11.4176C22.4703 10.9472 22.1968 10.5261 21.8385 10.176C21.4884 9.82048 21.0645 9.54421 20.5995 9.36921C20.1538 9.19689 19.6451 9.0766 18.9012 9.0438C18.1518 9.00823 17.9139 9 16.0131 9C14.1123 9 13.8744 9.00823 13.1278 9.04102C12.3839 9.07382 11.8725 9.19422 11.4294 9.36644C10.959 9.54421 10.5378 9.8177 10.1877 10.176C9.83219 10.5261 9.55603 10.95 9.38093 11.415C9.20861 11.8608 9.08832 12.3694 9.05552 13.1133C9.01994 13.8627 9.01172 14.1006 9.01172 16.0014C9.01172 17.9022 9.01994 18.1401 9.05274 18.8867C9.08554 19.6306 9.20594 20.142 9.37826 20.5852C9.55603 21.0555 9.83219 21.4767 10.1877 21.8268C10.5378 22.1823 10.9617 22.4586 11.4267 22.6336C11.8725 22.8059 12.3811 22.9262 13.1251 22.959C13.8716 22.9919 14.1097 23 16.0104 23C17.9112 23 18.1491 22.9919 18.8958 22.959C19.6396 22.9262 20.1511 22.8059 20.5941 22.6336C21.535 22.2698 22.2788 21.5259 22.6426 20.5852C22.8148 20.1393 22.9352 19.6306 22.968 18.8867C23.0008 18.1401 23.009 17.9022 23.009 16.0014C23.009 14.1006 23.0063 13.8627 22.9735 13.1161ZM21.7127 18.832C21.6826 19.5158 21.5678 19.885 21.472 20.1311C21.2368 20.741 20.7527 21.2251 20.1428 21.4603C19.8967 21.556 19.5248 21.6709 18.8437 21.7009C18.1053 21.7338 17.8839 21.7419 16.0159 21.7419C14.1479 21.7419 13.9237 21.7338 13.1879 21.7009C12.5042 21.6709 12.135 21.556 11.8888 21.4603C11.5853 21.3482 11.309 21.1704 11.0848 20.9379C10.8523 20.7109 10.6746 20.4374 10.5624 20.1339C10.4667 19.8877 10.3518 19.5158 10.3218 18.8348C10.2889 18.0964 10.2808 17.8748 10.2808 16.0068C10.2808 14.1389 10.2889 13.9146 10.3218 13.179C10.3518 12.4952 10.4667 12.126 10.5624 11.8799C10.6746 11.5763 10.8523 11.3001 11.0876 11.0758C11.3145 10.8433 11.588 10.6655 11.8916 10.5535C12.1378 10.4577 12.5097 10.3429 13.1907 10.3128C13.9291 10.28 14.1507 10.2717 16.0186 10.2717C17.8893 10.2717 18.1108 10.28 18.8465 10.3128C19.5303 10.3429 19.8995 10.4577 20.1456 10.5535C20.4491 10.6655 20.7254 10.8433 20.9496 11.0758C21.1821 11.3028 21.3599 11.5763 21.472 11.8799C21.5678 12.126 21.6826 12.4979 21.7127 13.179C21.7455 13.9174 21.7538 14.1389 21.7538 16.0068C21.7538 17.8748 21.7455 18.0936 21.7127 18.832Z"
            fill="url(#paint0_linear_5707:7680)"
          />
          <path
            d="M16.013 12.4054C14.0276 12.4054 12.4166 14.0162 12.4166 16.0018C12.4166 17.9874 14.0276 19.5982 16.013 19.5982C17.9986 19.5982 19.6095 17.9874 19.6095 16.0018C19.6095 14.0162 17.9986 12.4054 16.013 12.4054ZM16.013 18.3347C14.725 18.3347 13.6801 17.29 13.6801 16.0018C13.6801 14.7136 14.725 13.6689 16.013 13.6689C17.3012 13.6689 18.3459 14.7136 18.3459 16.0018C18.3459 17.29 17.3012 18.3347 16.013 18.3347Z"
            fill="url(#paint1_linear_5707:7680)"
          />
          <path
            d="M20.5913 12.263C20.5913 12.7267 20.2154 13.1026 19.7516 13.1026C19.2879 13.1026 18.912 12.7267 18.912 12.263C18.912 11.7993 19.2879 11.4234 19.7516 11.4234C20.2154 11.4234 20.5913 11.7993 20.5913 12.263Z"
            fill="url(#paint2_linear_5707:7680)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_5707:7680"
              x1="25.5229"
              y1="16"
              x2="9.01172"
              y2="16"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_5707:7680"
              x1="25.5229"
              y1="16"
              x2="9.01172"
              y2="16"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_5707:7680"
              x1="25.5229"
              y1="16"
              x2="9.01172"
              y2="16"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
          </defs>
        </svg> Instagram
            </a>

            <a href="https://www.linkedin.com/company/apponward-technologies" target="blank" class="btn btn-socialtalk m-2">
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16.0117" cy="16" r="16" fill="white" />
          <path
            d="M22.4101 21.6006L22.4133 21.6001V16.9057C22.4133 14.6091 21.9189 12.8401 19.2341 12.8401C17.9434 12.8401 17.0773 13.5483 16.7237 14.2198H16.6863V13.0545H14.1407V21.6001H16.7914V17.3686C16.7914 16.2545 17.0026 15.1771 18.3823 15.1771C19.7418 15.1771 19.7621 16.4486 19.7621 17.4401V21.6006H22.4101Z"
            fill="url(#paint0_linear_5707:7673)"
          />
          <path
            d="M9.82442 13.0552H12.4783V21.6009H9.82442V13.0552Z"
            fill="url(#paint1_linear_5707:7673)"
          />
          <path
            d="M11.1504 8.80078C10.3018 8.80078 9.61328 9.48932 9.61328 10.3379C9.61328 11.1864 10.3018 11.8893 11.1504 11.8893C11.9989 11.8893 12.6874 11.1864 12.6874 10.3379C12.6869 9.48932 11.9984 8.80078 11.1504 8.80078Z"
            fill="url(#paint2_linear_5707:7673)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_5707:7673"
              x1="24.7121"
              y1="15.2008"
              x2="9.61328"
              y2="15.2008"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_5707:7673"
              x1="24.7121"
              y1="15.2008"
              x2="9.61328"
              y2="15.2008"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_5707:7673"
              x1="24.7121"
              y1="15.2008"
              x2="9.61328"
              y2="15.2008"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
          </defs>
        </svg> Linkedin

            </a>

            <a routerLink="/blogs" class="btn btn-socialtalk m-2">
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16.0117" cy="16" r="16" fill="white" />
          <path
            d="M18.6767 14.469C18.6767 14.9419 18.2898 15.3288 17.8169 15.3288H10.0786C9.60567 15.3288 9.21875 14.9419 9.21875 14.469C9.21875 13.9961 9.60567 13.6092 10.0786 13.6092H17.8169C18.2898 13.6092 18.6767 13.9961 18.6767 14.469ZM9.21875 11.0297C9.21875 11.5026 9.60567 11.8896 10.0786 11.8896H17.8169C18.2898 11.8896 18.6767 11.5026 18.6767 11.0297C18.6767 10.5568 18.2898 10.1699 17.8169 10.1699H10.0786C9.60567 10.1699 9.21875 10.5568 9.21875 11.0297ZM15.2375 17.9083C15.2375 17.4354 14.8505 17.0485 14.3776 17.0485H10.0786C9.60567 17.0485 9.21875 17.4354 9.21875 17.9083C9.21875 18.3812 9.60567 18.7681 10.0786 18.7681H14.3776C14.8505 18.7681 15.2375 18.3812 15.2375 17.9083ZM22.1246 16.0769L22.7351 15.4664C23.0704 15.1311 23.6121 15.1311 23.9474 15.4664L24.5579 16.0769C24.8932 16.4122 24.8932 16.9539 24.5579 17.2892L23.9474 17.8997L22.1246 16.0769ZM21.5141 16.6873L17.0775 21.124C17.0001 21.2014 16.9571 21.3045 16.9571 21.4249V22.6373C16.9571 22.878 17.1463 23.0672 17.387 23.0672H18.5993C18.7111 23.0672 18.8229 23.0242 18.9003 22.9382L23.3369 18.5015L21.5141 16.6873Z"
            fill="url(#paint0_linear_5707:7687)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_5707:7687"
              x1="27.6093"
              y1="16.6185"
              x2="9.21875"
              y2="16.6185"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#28B18D" />
              <stop offset="1" stop-color="#3473B0" />
            </linearGradient>
          </defs>
        </svg> Blogs
            </a>
        </div>
    </div>
</div>
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-6 col-md-6">
                    <div class="footer-contact">
                        <a routerLink="" class="logo" style="opacity: 1 !important"><img [lazyLoad]="'./assets/images/apponward.gif'" alt="apponward-logo" title="Apponward Technology PVT. LTD." class="img-fluid" /></a>
                        <p class="pb-3">See your ideas turning into reality.<br /></p>
                        <div class="contact-info mr-auto" style="color: black">
                            <p>
                                <span class="icon"><img [lazyLoad]="'./assets/images/location-footer.png'"
                /></span> C-56/10, Sector 62, Noida-201301, Delhi NCR
                            </p>
                            <p class="my-3">
                                <span class="icon"><img [lazyLoad]="'./assets/images/phone-footer.png'"
                /></span>
                                <a href="tel:+91-96438 16118">
                  +91-96438 16118, +91-76786 77734</a
                >
              </p>
              <p>
                <span class="icon"
                  ><img [lazyLoad]="'./assets/images/mail-footer.png'"
                /></span>
                <a href="mailto:sales@apponward.com"> sales@apponward.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="social-links mb-5">
                        <a href="https://www.facebook.com/apponward" target="_blank" class="facebook shadow"><img [lazyLoad]="'./assets/images/facebook-2x.png'" style="width: 13px" /></a>
                        <a href="https://www.instagram.com/apponward/" target="_blank" class="instagram mx-2 shadow"><img [lazyLoad]="'./assets/images/instagram-2x.png'" style="width: 23px" /></a>
                        <a href="https://www.linkedin.com/company/apponward-technologies" target="_blank" class="linkedin shadow"><img [lazyLoad]="'./assets/images/linkedin-2x.png'" style="width: 23px" /></a>
                        <a href="https://medium.com/@apponward" target="_blank" class="medium ml-2 shadow"><img [lazyLoad]="'./assets/images/medium-2x.png'" style="width: 23px" /></a>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 pt-3">
                    <div class="footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a routerLink="/about-us">About Us</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a routerLink="/testimonials">Testimonials</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a routerLink="/blogs">Blogs</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a routerLink="/careers">Career</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 pt-3">
                    <div class="footer-links">
                        <h4>Services</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a routerLink="/services/ios-application-services">iOS App Development</a
                >
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a routerLink="/services/android-application-services"
                  >Android App Development</a
                >
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a routerLink="/services/web-application-services"
                  >Web App Development</a
                >
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a routerLink="/services/hybrid-mobile-app-services"
                  >Hybrid Mobile App Development</a
                >
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a routerLink="/services/ui-ux-services">UI & UX Design</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a routerLink="/services/digital-marketing-services">Digital Marketing</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape1 rotateme">
    <img [lazyLoad]="'./assets/images/animate-round-ball.png'" />
  </div>
  <div class="shape8 rotateme">
    <img [lazyLoad]="'./assets/images/shape-green.svg'" />
  </div>
</footer>
<!-- End Footer -->
<!--copyright section start-->
<div class="copyright">
  <div class="container">
    <div class="text-center text-white">
      &copy; 2018-2022 Apponward Technologies Pvt. Ltd. All rights reserved.
    </div>
  </div>
</div>
<!--copyright section end-->
<!--<section class="sidebar-contact-form">
  <div class="sidebar-contact">
    <div class="toggle shadow bg-white rounded"  data-toggle="modal" data-target="#exampleModal"><span>Contact Us </span><img [lazyLoad]="./assets/images/icon-contact.png"></div>
  </div>
</section>-->

<!--sliding contact form section end-->
<div class="icon-bar" style="z-index: 5 !important">
  <a href="#" class="facebook" data-toggle="modal" data-target="#exampleModal1"
    >Quick Enquiry <img [lazyLoad]="'./assets/images/icon-contact-new-1.svg'"
  /></a>
                    </div>

                    <!--chatbot section start-->
                    <div class="container">
                        <div class="row">
                            <div id="Smallchat">
                                <div class="Layout Layout-open Layout-expand Layout-right" style="
          background-color: #3f51b5;
          color: rgb(255, 255, 255);
          opacity: 5;
          border-radius: 10px;
        ">
                                    <div class="Messenger_messenger">
                                        <div class="Messenger_header" style="
              background: linear-gradient(
                270deg,
                #28b18d -17.96%,
                #3473b0 100%
              );
            ">
                                            <h4 class="Messenger_prompt">How can we help you?</h4>
                                            <span class="chat_close_icon"><i class="bx bx-message-square-x"></i
            ></span>
                                        </div>
                                        <div class="Messenger_content">
                                            <div class="Messages">
                                                <div class="Messages_list"></div>
                                            </div>
                                            <div class="Input Input-blank">
                                                <textarea class="Input_field" placeholder="Send a message..." style="height: 20px"></textarea>
                                                <button class="Input_button Input_button-emoji">
                <div class="Icon" style="width: 18px; height: 18px">
                  <svg
                    width="56px"
                    height="56px"
                    viewBox="1332 47 56 56"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    style="width: 18px; height: 18px"
                  >
                    <g
                      id="emoji"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      transform="translate(1332.000000, 47.000000)"
                    >
                      <path
                        d="M28,56 C12.536027,56 0,43.463973 0,28 C0,12.536027 12.536027,0 28,0 C43.463973,0 56,12.536027 56,28 C56,43.463973 43.463973,56 28,56 Z M28,50 C40.1502645,50 50,40.1502645 50,28 C50,15.8497355 40.1502645,6 28,6 C15.8497355,6 6,15.8497355 6,28 C6,40.1502645 15.8497355,50 28,50 Z"
                        id="Oval-8"
                        fill="#96AAB4"
                        fill-rule="nonzero"
                      ></path>
                      <path
                        d="M28,47 C18.0588745,47 10,38.9411255 10,29 C10,27.5224898 11.5469487,26.5550499 12.8754068,27.2017612 C13.0116063,27.2662365 13.0926181,27.3037345 13.1866998,27.3464814 C13.4611235,27.4711684 13.7819537,27.6111958 14.1451774,27.7627577 C15.1908595,28.199088 16.3591406,28.6365764 17.6173846,29.0449298 C21.1841638,30.2025005 24.7379224,30.8945075 28,30.8945075 C31.2620776,30.8945075 34.8158362,30.2025005 38.3826154,29.0449298 C39.6408594,28.6365764 40.8091405,28.199088 41.8548226,27.7627577 C42.2180463,27.6111958 42.5388765,27.4711684 42.8133002,27.3464814 C42.9073819,27.3037345 42.9883937,27.2662365 43.0558366,27.2344634 C44.4530513,26.5550499 46,27.5224898 46,29 C46,38.9411255 37.9411255,47 28,47 Z M28,43 C34.6510529,43 40.2188483,38.3620234 41.6456177,32.1438387 C40.9980758,32.3847069 40.320642,32.6213409 39.6173846,32.8495777 C35.6841638,34.1260741 31.7379224,34.8945075 28,34.8945075 C24.2620776,34.8945075 20.3158362,34.1260741 16.3826154,32.8495777 C15.679358,32.6213409 15.0019242,32.3847069 14.3543823,32.1438387 C15.7811517,38.3620234 21.3489471,43 28,43 Z"
                        id="Oval-8"
                        fill="#96AAB4"
                        fill-rule="nonzero"
                      ></path>
                      <path
                        d="M19,15 L19,20 C19,21.1045695 19.8954305,22 21,22 C22.1045695,22 23,21.1045695 23,20 L23,15 C23,13.8954305 22.1045695,13 21,13 C19.8954305,13 19,13.8954305 19,15 Z"
                        id="Line"
                        fill="#96AAB4"
                        fill-rule="nonzero"
                      ></path>
                      <path
                        d="M32,15 L32,20 C32,21.1045695 32.8954305,22 34,22 C35.1045695,22 36,21.1045695 36,20 L36,15 C36,13.8954305 35.1045695,13 34,13 C32.8954305,13 32,13.8954305 32,15 Z"
                        id="Line-Copy-2"
                        fill="#96AAB4"
                        fill-rule="nonzero"
                      ></path>
                    </g>
                  </svg>
                </div>
              </button>
                                                <button class="Input_button Input_button-send">
                <div class="Icon" style="width: 18px; height: 18px">
                  <svg
                    width="57px"
                    height="54px"
                    viewBox="1496 193 57 54"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    style="width: 18px; height: 18px"
                  >
                    <g
                      id="Group-9-Copy-3"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                      transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)"
                    >
                      <path
                        d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z"
                        id="sendicon"
                        fill="#96AAB4"
                        fill-rule="nonzero"
                      ></path>
                    </g>
                  </svg>
                </div>
              </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--===============CHAT ON BUTTON STRART===============-->
                                <div class="chat_on"></div>
                                <!--===============CHAT ON BUTTON END===============-->
                            </div>
                        </div>
                    </div>
                    <!--chatbot section end-->

                    <!-- Contact btn popup start -->
                    <div class="cntct-model">
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="bg-white text-center">
                                            <img [lazyLoad]="'./assets/images/contact-side.svg'" class="img-fluid" alt="Apponward Technology PVT. LTD." title="Apponward Technology PVT. LTD." />
                                            <form [formGroup]="contactUsForm" (ngSubmit)="onContactUsForm()">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label><strong>Full Name <span style="color: red;">*</span></strong></label>
                                                            <input type="text" placeholder="Full Name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.name.errors }">
                                                            <div *ngIf="isFormSubmitted && f.name.errors" class="invalid-feedback">
                                                                <div *ngIf="f.name.errors.required">Please enter your Name</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label><strong>Email <span style="color: red;">*</span></strong></label>
                                                            <input type="text" placeholder="Email" formControlName="contactInfo" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.contactInfo.errors }" (keydown.space)="$event.preventDefault()">
                                                            <div *ngIf="isFormSubmitted && f.contactInfo.errors" class="invalid-feedback">
                                                                <div *ngIf="f.contactInfo.errors.required">Please enter your Email id
                                                                </div>
                                                                <div *ngIf="f.contactInfo.errors.email">Please enter valid Email id</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                        <label><strong>Country <span *ngIf="contactUsForm.get('number').value" style="color: red;">*</span></strong></label>
                                                        <select class="form-control" name="dial_code" formControlName="dial_code" (change)="onChangeCountryCode()">
                                                          <option value="" >Select Country</option> 
                                                          <option value="{{item.name}}" *ngFor="let item of countries">{{item.name}}</option> 
                                                        
                                                        </select>
                                                        <div class="alert-txt">{{alertText1}}</div>

                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                        <label><strong>Mobile Number <span *ngIf="contactUsForm.get('dial_code').value" style="color: red;">*</span></strong></label>
                                                        <input type="text" (keypress)="onChangeNum()" (keydown)="onChangeNum()" placeholder="Mobile Number" formControlName="number" class="form-control">
                                                        <div class="alert-txt">{{alertText}}</div>
                                                    </div>

                                                </div>
                                                <!--<div class="form-group">
                <input type="text"  placeholder="Enter Project Title" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': isFormSubmitted && f.subject.errors }">
                <div *ngIf="isFormSubmitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Please enter Subject.
                  </div>
                </div>
              </div>-->
                                                <div class="row mt-3">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group new-file">
                                                            <label><strong>Add Attachments</strong></label>
                                                            <input type="file" placeholder="" formControlName="file" (change)="onSelectFile($event)">
                                                            <!-- <input type="file" placeholder="" formControlName="file" (change)="onSelectFile($event)" [ngClass]="{ 'is-invalid': isFormSubmitted && f.file.errors }" >   -->
                                                            <!-- <div *ngIf="isFormSubmitted && f.file.errors" class="invalid-feedback">
<div *ngIf="f.file.errors.required">Please add your file.
</div>
</div> -->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group mt-3">
                                                    <label><strong>Your Message <span style="color: red;">*</span></strong></label>
                                                    <textarea placeholder="Message" class="form-control" formControlName="subject" rows="5" data-rule="required" data-msg="Please write something for us" [ngClass]="{ 'is-invalid': isFormSubmitted && f.subject.errors }"></textarea>
                                                    <div *ngIf="isFormSubmitted && f.subject.errors" class="invalid-feedback">
                                                        <div *ngIf="f.subject.errors.required">Please enter your Message
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--<div class="form-group">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"  data-rule="required" data-msg="Please check captcha" [ngClass]="{ 'is-invalid': isFormSubmitted && f.recaptcha.errors }">
                </ngx-recaptcha2>
                <div *ngIf="isFormSubmitted && f.recaptcha.errors" class="invalid-feedback" style="display:block;">
                  <div *ngIf="f.recaptcha.errors.required">Please check captcha
                  </div>
                </div>
              </div>-->
                                                <div class="form-group">
                                                    <input type="hidden" formControlName="noValue" class="form-control">
                                                </div>
                                                <div class="mb-3" *ngIf="!showmessage">
                                                    <!-- <div class="loading">Loading</div> -->
                                                    <!-- <div class="error-message"></div> -->
                                                    <div class="alert alert-success">{{msg}}</div>
                                                </div>
                                                <div class="contact-new-btn col-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding-bottom: 70px;">
                                                    <button class="px-5" type="submit" [ngClass]="{'disable-bt': loading, '': !loading}"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading, '': !loading}"></i> {{submitTxt}}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Contact btn popup end -->
                    </div>