
  <!-- ======= Hero Section ======= -->
  <section id="hero-banner-new" class="aboutpage"  style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <h1>About Us</h1>
            <h4>Harnessing the power of innovation</h4>
            <p class="pt-2"><strong class="main-text">IT Professionals</strong> who love what they do. We don’t call it work; we call it a career. <br>
              Our <strong class="main-text">solutions</strong> are designed to fuel creativity, celebrate success and foster independent <strong class="main-text">ideas</strong> and <strong class="main-text">development.</strong></p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
          <div class="hero-new-img">
            <img src="./assets/images/banner/banner-new/About US.png" class="img-fluid" alt="about-apponward-company-image" title="about-apponward-company-image">
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->