<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero-banner-new" class="azurepage" style="background:linear-gradient(270deg, #28B18D -17.96%, #3473B0 100%);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-4">
        <h1>Azure Cloud Services</h1>
        <h4>We transform your business with the latest features of Azure Cloud Services.</h4>
          <p class="pt-2">Azure provides a <strong class="main-text">consistent platform</strong> and simple migration between <strong class="main-text">public</strong> and <strong class="main-text">private</strong> cloud environments. Azure App Service is designed to <strong class="main-text">support apps</strong> that are <strong class="main-text">scalable, reliable,</strong> and <strong class="main-text">cost-effective.</strong> We use Azure cloud services to provide you a variety of <strong class="main-text">hybrid connections, including caching, VPNs, content delivery networks,</strong> and more.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-1">
        <div class="hero-new-img">
          <img src="assets/images/cloud/Group 2862.png" class="img-fluid" alt="Azure-Cloud-services-Image-Apponward" title="Azure-Cloud-services-Image-Apponward">
        </div>
      </div>
    </div>
  </div>

</section>
<!--hero end-->

<!--Highlighted Features section start-->
<section class="highlighted-feature">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                  <h2>We use modern technology and solutions to help your company flourish</h2>
                  <hr class="center-ball">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/testing 1.png" alt="Account-Setup-Icon-Apponward" title="Account-Setup-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Discover</h5>
                    <p class="card-text">Information on the client's business, including its history, competitors, and target audience, is collected.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Server-Machine-and-Dependency-Setup-Icon-Apponward" title="Server-Machine-and-Dependency-Setup-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Research</h5>
                    <p class="card-text">In-depth analysis of the industry is performed including visual research and findings.</p>
                  </div>
                </div>
                <div class="card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                  <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="DB-Setup-and-Backup-Policy-Icon-Apponward" title="DB-Setup-and-Backup-Policy-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                  <div class="card-body">
                    <h5 class="card-title">Brainstorm</h5>
                    <p class="card-text"> Ideas are developed and the best design directions are created.</p>
                  </div>
                </div>
            </div>
            <div class="card-deck mt-5">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/analysis 1.png" alt="Auto-Scaling-Icon-Apponward" title="Auto-Scaling-Icon-Apponward" style="width: 20%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">UI Design</h5>
                  <p class="card-text">We design a user-friendly interface that makes it simple for users to learn how to operate complicated technical products.</p>
                </div>
              </div>
              <div class="col-lg-4 card pt-3" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34);border-radius: 22px;">
                <img class="card-img-top" src="assets/images/ui-ux/Frame.png" alt="Setup-of-CI-CD-Pipeline-Icon-Apponward" title="Setup-of-CI-CD-Pipeline-Icon-Apponward" style="width: 13%; margin-left: 15px;">
                <div class="card-body">
                  <h5 class="card-title">Prototyping</h5>
                  <p class="card-text">Our designers turn ideas into graphical forms in order to catch design concepts and test them on the end users.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--highlighted Features section end-->
<!--why android section starts-->
<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title">
                    <h2>Why Azure Cloud Services?</h2>
                    <hr class="center-ball">
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
               <p>Azure allows for simple migration and a uniform platform between on-premises and the public cloud. To increase usability and speed, Azure offers a larger selection of hybrid connectivity, including VPNs, ExpressRoute connections, and Content Delivery Networks (CDNs).</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-margin" style="margin-top: -50px;">
                <img src="./assets/images/cloud/klipartz 1.png" class="img-fluid" alt="Why-Choose-Apponward-for-Azure-Cloud-Services-Image" title="Why-Choose-Apponward-for-Azure-Cloud-Services-Image">
            </div>
        </div>
    </div>

</section>
<!--why android sectione end-->
<div id="blogHome">
  <app-footer></app-footer>
</div>
